section.contacts-page
  .wrapper 
    include ../components/breadcrumbs
    .q-contacts-wrapper 
      .q-contacts-head
        .title-border
          span Контакты
      .q-contacts-body
        .q-left 
          .q-contacts-cards__left
            .q-card-item 
              .q-card-title 
                span Адрес
              .q-card-adress  
                span 677010, г. Якутск, мкр. Птицефабрика, д. 1/2
            .q-card-item 
              .q-card-title 
                span Телефоны
              .q-card-adress.phone-div 
                span +7 (4112) 31-84-40
                span +7 (4112) 75-00-01
          .q-contacts-cards__right
            .q-card-item 
              .q-card-title 
                span Режим работы
              .q-card-adress  
                span 09:00 - 18:00 Понедельник - Пятница
            .q-card-item 
              .q-card-title 
                span E-mail
              .q-card-adress  
                span info@dvenergy.pro
        .q-right
          .q-hire-me 
            .q-hire-me__text
              span Вы можете обратиться к нам через форм 
              span.green-text
                a(href="#") обратной связи
              span  или направить Ваше сообщение по электронной почте
            .q-hire-me__btn
              a(href="#") Написать нам 
  .q-contacts-map 
    .img-block
      img(src="https://via.placeholder.com/1440x450", alt="")