section.contacts-page.section
  hr
  .wrapper 
    nav.breadcrumbs 
      ul  
        li.breadcrumbs-item
          a(href="/") 
            i.icon-home 
        li 
          i.arrow-black
        li 
          a(href="javascript:void(0)") Контакты
    .q-contacts-wrapper 
      .q-contacts-head
        .title-border
          span Контакты
      .q-contacts-body
        .q-left 
          .q-contacts-cards__left
            .q-card-item 
              .q-card-title 
                span Адрес
              .q-card-adress  
                span 677010, г. Якутск,
                span мкр. Птицефабрика, д. 1/2
            .q-card-item 
              .q-card-title 
                span Телефоны
              .q-card-adress.phone-div 
                span +7 (4112) 31-84-40
                span +7 (4112) 75-00-01
          .q-contacts-cards__right
            .q-card-item 
              .q-card-title 
                span Режим работы
              .q-card-adress  
                span 09:00 - 18:00 
                span Понедельник - Пятница
            .q-card-item 
              .q-card-title 
                span E-mail
              .q-card-adress  
                span info@dvenergy.pro
        .q-right
          .q-hire-me 
            .q-hire-me__text
              span Вы можете обратиться к нам через форм 
              span.green-text
                a(href="#") обратной связи
              span  или направить Ваше сообщение по электронной почте
            .q-hire-me__btn
              a(href="#" data-hystmodal='#hire-us') Написать нам 
      .q-popup-form.hystmodal#hire-us 
          .hystmodal__wrap
            .q-p-form-content.hystmodal__window(role='dialog' aria-modal='true')
              a(href='#' data-hystclose).hystmodal__close 
              .q-p-form-head
                .title-mini 
                  span Обратная связь
              .q-p-form-body 
                form.q-form(action="")
                  ul.q-form-row   
                    li 
                      input.q-form-name.input(type="text" placeholder='ФИО' required)
                    li 
                      input.q-form-phone.input(type="text" placeholder='Контактные данные'  required maxlength="12")
                    li 
                      input.q-form-email.input(type="text" placeholder='Электронная почта'  required )
                    li 
                      textarea#rewview(name="rewview" cols="20" rows="5" style="resize: vertical;" placeholder="Сопроводительное письмо (по желанию)")
                    li.q-form__file-upload 
                      input.q-form-file(type="file" id="file-input" multiple style="display: none;")
                      label(for="file-input") Прикрепите резюме
                    li.q-form__privacy
                      span Нажимая кнопку вы даете информационное согласие 
                      a(href="#") на обработку персональных данных
                    li 
                      button.btn-more(type='sumbit') Отправить
  .q-contacts-map 
    .img-block
      img(src="https://via.placeholder.com/1440x450", alt="")