$base-font-size: 22px;
$color-gold: #f1cdb3;


@import "block/reset.scss";
@import "media-mixin.scss";
@import "./block/components-style/breadcrumbs.scss";
@import "./block/components-style/contacts.scss";
@import "./block/components-style/_icons.scss";
@import "./block/components-style/burger-menu.scss";
@import "./block/hystmodal.scss";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif !important;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background: #fbfefe;
  // @include ph {
  //     background-color: rgb(141, 138, 138);
  // }
}

.wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  padding: 0 70px;
  height: auto;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    padding: 0 50px;
    @include m-840 {
      padding: 0 20px;
    }
    // @media screen and (max-width: 470px) {
    //   padding: 0 24px;
      @media screen and (max-width: 375px) {
        padding: 0 14px;
      }
    // }
  }
}

.section {
  padding-top: 140px;
  @include xm {
    padding-top: 85px;
    @include xxs {
      padding-top: 55px;
    }
  }
}

.c-black-h {
  a {
    color: #0B1600 !important;
    span {
      color: #0B1600 !important;
    }
  }
  .arrow-white {
    transition: all 0.15s ease-in-out;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='black'/%3E%3C/svg%3E%0A");
  }
}

.button {
  padding: 15px 45px;
  background-color: $color-gold;
  color: black;
  border: unset;
  border-radius: 100px;
  font-size: 17px;
  text-align: center;
}

.title {
  span {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #6b9b3c;
    text-transform: none;
    @include l {
      font-size: 32px;
      @include m-small {
        font-size: 24px;
        letter-spacing: normal;
      }
    }
  }
}
.title-blue {
  span {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #0E2252;
    text-transform: none;
    @include l {
      font-size: 32px;
      @include m-small {
        font-size: 24px;
        letter-spacing: normal;
      }
    }
  }
}

.title-border {
  border-bottom: 3px solid #77b946;
  padding-bottom: 8px;
  display: inline-block;
  width: auto;
  @include m-small {
    width: min-content;
  }
  span {
    white-space: nowrap;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #0b1600;
    @include xxm {
      font-size: 32px;
      @include m-small {
        font-size: 24px;
        white-space: normal;
      }
    }
  }
}

.arrow {
  border: solid #6b9b3c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.img-block {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  img {
    border-radius: 8px;
  }
}

.title-mini {
  display: inline-block;
  span {
    letter-spacing: normal;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #0b1600;
    @include xxm {
      font-size: 20px;
      @include m-small {
        font-size: 18px;
      }
    }
  }
}

.grey-text {
  display: inline-block;
  span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #7c7c87;
    @include xxm {
      font-size: 16px;
    }
    @include xxs {
      font-size: 14px !important;
    }
  }
}
.arctic-text {
  display: inline-block;
  span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #7080A3;
    @include xxm {
      font-size: 16px;
    }
    @include xxs {
      font-size: 14px !important;
    }
  }
}

.descr {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @include m-670 {
    flex-direction: column;
  }
  .left {
    max-width: 420px;
    width: 100%;
    min-width: 420px;
    @include xxm {
      min-width: 293px;
      span {
        font-size: 20px;
        @include xxs {
          font-size: 18px;
        }
      }
      @include m-670 {
        max-width: unset;
        
      }
    }
    .green-text {
      color: #77b946;
    }
    span {
      // display: inline-block;
      color: #0B1600;
      width: 100%;
      font-family: "Open sans", sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;

    }
  }
  .right {
    p {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #7c7c87;
      letter-spacing: normal;
      // &:last-child {
      //   margin-top: 20px;
      // }
      @include xxm {
        font-size: 16px;
      }
    }
  }
}

.pt-64 {
  padding-top: 64px;
  @include xxm {
    padding-top: 48px;
  }
}
.pt-100 {
  padding-top: 100px;
  @include m-670 {
    padding-top: 70px;
    @include xxs-big {
      padding-top: 48px;
    }
  }
}

.btn-more {
  margin-top: 32px;
  color: #77b946;
  align-self: flex-start;
  border: 2px solid #77b946;
  border-radius: 6px;
  padding: 12px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  transition: all .25s ease-in-out;
  background-color: transparent;
  cursor: pointer;
  @include xxs {
    font-size: 14px;
    padding: 10px 20px;
  }
  &:hover {
    background: #77B946;
    color: white;
  }
}
.q-jobs-green-text {
  color: #6b9b3c;
  margin-top: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  @include xxm {
    font-size: 16px;
  }
}
.q-jobs-grey-text {
  color: #7c7c87;
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 140%;
  font-size: 16px;
  @include xxm {
    font-size: 14px;
  }
}

.popup-opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.white-h {
  .w-l {
    color: #0B1600;
  }
}

.border-top {
  border-top: 2px solid rgba(11, 22, 0, 0.1);
}


@import "block/header.scss";
@import "block/header-mob.scss";
@import "block/header-white.scss";
@import "block/header-arctic.scss";

// MAIN PAGE SCSS
@import "block/q-main/about.scss";
@import "block/q-main/activity.scss";
@import "block/q-main/news.scss";
@import "block/q-main/map.scss";

// about companys SCSS
@import "block/q-about/about-main.scss";
@import "block/q-about/history.scss";
@import "block/q-about/leadership.scss";
@import "block/q-about/documents.scss";
@import "block/q-about/documents-files.scss";
@import "block/q-about/about-vacancys.scss";
@import "block/q-about/about-vacancys-jobs.scss";
@import "block/q-about/about-structure.scss";

// Contacts scss
@import "block/q-contacts/contacts-edit.scss";

// projects scss
@import "block/q-projects/projects.scss";
@import "block/q-projects/project-invest.scss";
@import "block/q-projects/project-invest-card.scss";


// Press center scss
@import "block/q-press-center/press-center-main.scss";
@import "block/q-press-center/press-center-news-card.scss";

// arctic scss
@import "block/q-arctic/main-arc.scss";

@import "block/footer.scss";
@import "block/footer-arctic.scss";