$base-font-size: 22px;
$color-gold: #f1cdb3;

@mixin ph {
  @media (max-width: 1240px) {
    @content;
  }
}

@import "block/reset.scss";
@import "media-mixin.scss";
@import "./block/components-style/breadcrumbs.scss";
@import "./block/components-style/contacts.scss";
@import "./block/hystmodal.scss";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif !important;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background: #fbfefe;
  // @include ph {
  //     background-color: rgb(141, 138, 138);
  // }
}

.wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  padding: 0 70px;
  height: auto;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    padding: 0 50px;
    @media screen and (max-width: 470px) {
      padding: 0 24px;
      @media screen and (max-width: 375px) {
        padding: 0 14px;
      }
    }
  }
}

.button {
  padding: 15px 45px;
  background-color: $color-gold;
  color: black;
  border: unset;
  border-radius: 100px;
  font-size: 17px;
  text-align: center;
}

.title {
  span {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #6b9b3c;
    text-transform: none;
    @include l {
      font-size: 32px;
      @include m-small {
        font-size: 24px;
        letter-spacing: normal;
      }
    }
  }
}

.title-border {
  border-bottom: 3px solid #77b946;
  padding-bottom: 8px;
  display: inline-block;
  width: auto;
  span {
    white-space: nowrap;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: #0b1600;
  }
}

.arrow {
  border: solid #6b9b3c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.img-block {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  img {
    border-radius: 8px;
  }
}

.title-mini {
  display: inline-block;
  span {
    letter-spacing: normal;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #0b1600;
  }
}

.grey-text {
  display: inline-block;
  span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #7c7c87;
  }
}

.descr {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  .left {
    max-width: 420px;
    width: 100%;
    min-width: 420px;
    .green-text {
      color: #77b946;
    }
    span {
      // display: inline-block;
      width: 100%;
      font-family: "Open sans", sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
    }
  }
  .right {
    p {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #7c7c87;
      letter-spacing: normal;
      // &:last-child {
      //   margin-top: 20px;
      // }
    }
  }
}

.pt-64 {
  padding-top: 64px;
}
.pt-100 {
  padding-top: 100px;
}

.btn-more {
  margin-top: 32px;
  color: #77b946;
  align-self: flex-start;
  border: 2px solid #77b946;
  border-radius: 6px;
  padding: 12px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  transition: all .25s ease-in-out;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background: #77B946;
    color: white;
  }
}
.q-jobs-green-text {
  color: #6b9b3c;
  margin-top: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}
.q-jobs-grey-text {
  color: #7c7c87;
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 140%;
  font-size: 16px;
}

.popup-opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

@import "block/header.scss";

// MAIN PAGE SCSS
@import "block/q-main/about.scss";
@import "block/q-main/activity.scss";
@import "block/q-main/news.scss";
@import "block/q-main/map.scss";

// about companys SCSS
@import "block/q-about/about-main.scss";
@import "block/q-about/history.scss";
@import "block/q-about/leadership.scss";
@import "block/q-about/documents.scss";
@import "block/q-about/documents-files.scss";
@import "block/q-about/about-vacancys.scss";
@import "block/q-about/about-vacancys-jobs.scss";

// Contacts scss
@import "block/q-contacts/contacts-edit.scss";

// projects scss
@import "block/q-projects/projects.scss";
@import "block/q-projects/project-invest.scss";

@import "block/footer.scss";
