$base-font-size: 22px;
$color-gold: #f1cdb3;


@import "block/reset.scss";
@import "media-mixin.scss";
@import "./block/components-style/breadcrumbs.scss";
@import "./block/components-style/contacts.scss";
@import "./block/components-style/_icons.scss";
@import "./block/components-style/burger-menu.scss";
@import "./block/hystmodal.scss";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif !important;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background: #fbfefe;
  // @include ph {
  //     background-color: rgb(141, 138, 138);
  // }
}

.wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  padding: 0 70px;
  height: auto;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    padding: 0 50px;
    @include m-840 {
      padding: 0 20px;
    }
    // @media screen and (max-width: 470px) {
    //   padding: 0 24px;
      @media screen and (max-width: 375px) {
        padding: 0 14px;
      }
    // }
  }
}

.section {
  padding-top: 140px;
  @include xm {
    padding-top: 85px;
    @include xxs {
      padding-top: 55px;
    }
  }
}

.c-black-h {
  a {
    color: #0B1600 !important;
    span {
      color: #0B1600 !important;
    }
  }
  .arrow-white {
    transition: all 0.15s ease-in-out;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='black'/%3E%3C/svg%3E%0A");
  }
}

.button {
  padding: 15px 45px;
  background-color: $color-gold;
  color: black;
  border: unset;
  border-radius: 100px;
  font-size: 17px;
  text-align: center;
}

.title {
  span {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #6b9b3c;
    text-transform: none;
    @include l {
      font-size: 32px;
      @include m-small {
        font-size: 24px;
        letter-spacing: normal;
      }
    }
  }
}

.title-border {
  border-bottom: 3px solid #77b946;
  padding-bottom: 8px;
  display: inline-block;
  width: auto;
  @include m-small {
    width: min-content;
  }
  span {
    white-space: nowrap;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #0b1600;
    @include xxm {
      font-size: 32px;
      @include m-small {
        font-size: 24px;
        white-space: normal;
      }
    }
  }
}

.arrow {
  border: solid #6b9b3c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.eye {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.75 12C15.75 12.9946 15.3549 13.9484 14.6517 14.6517C13.9484 15.3549 12.9946 15.75 12 15.75C11.0054 15.75 10.0516 15.3549 9.34835 14.6517C8.64509 13.9484 8.25 12.9946 8.25 12C8.25 11.0054 8.64509 10.0516 9.34835 9.34835C10.0516 8.64509 11.0054 8.25 12 8.25C12.9946 8.25 13.9484 8.64509 14.6517 9.34835C15.3549 10.0516 15.75 11.0054 15.75 12Z' fill='%230B1600'/%3E%3Cpath d='M0 12C0 12 4.5 3.75 12 3.75C19.5 3.75 24 12 24 12C24 12 19.5 20.25 12 20.25C4.5 20.25 0 12 0 12ZM12 17.25C13.3924 17.25 14.7277 16.6969 15.7123 15.7123C16.6969 14.7277 17.25 13.3924 17.25 12C17.25 10.6076 16.6969 9.27226 15.7123 8.28769C14.7277 7.30312 13.3924 6.75 12 6.75C10.6076 6.75 9.27226 7.30312 8.28769 8.28769C7.30312 9.27226 6.75 10.6076 6.75 12C6.75 13.3924 7.30312 14.7277 8.28769 15.7123C9.27226 16.6969 10.6076 17.25 12 17.25Z' fill='%230B1600'/%3E%3C/svg%3E%0A");
}
.arrow-pagination {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.16587 0.516175C2.58387 0.924175 6.66787 5.21118 6.66787 5.21118C6.77373 5.31331 6.85792 5.43572 6.91542 5.57111C6.97292 5.7065 7.00256 5.85208 7.00256 5.99918C7.00256 6.14627 6.97292 6.29185 6.91542 6.42724C6.85792 6.56263 6.77373 6.68504 6.66787 6.78718C6.66787 6.78718 2.58387 11.0762 2.16587 11.4822C1.74787 11.8902 0.995874 11.9182 0.550874 11.4822C0.104874 11.0482 0.0698738 10.4412 0.550874 9.90818L4.29787 6.00018L0.550874 2.09218C0.0698738 1.55917 0.104874 0.951175 0.550874 0.516175C0.995874 0.0801746 1.74787 0.107175 2.16587 0.516175Z' fill='%2399BF74'/%3E%3C/svg%3E%0A");
  display: inline-block;
  width: 7px;
  height: 12px;
}
.repost {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.03444 4.1185V0.5L12.9004 4.43537L16 7.59068L12.8453 10.2669L9.03444 13.5V9.95926C2.34403 9.44591 0 13.3871 0 13.3871C0 10.9316 0.198756 8.38327 2.09517 6.45363C4.29957 4.20879 7.49202 4.04994 9.03444 4.1185Z' fill='%236B9B3C'/%3E%3C/svg%3E%0A");
  width: 16px;
  height: 14px;
  display: inline-block;
}

.img-block {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  img {
    border-radius: 8px;
  }
}

.title-mini {
  display: inline-block;
  span {
    letter-spacing: normal;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #0b1600;
    @include xxm {
      font-size: 20px;
      @include m-small {
        font-size: 18px;
      }
    }
  }
}

.grey-text {
  display: inline-block;
  span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #7c7c87;
    @include xxm {
      font-size: 16px;
    }
    @include xxs {
      font-size: 14px !important;
    }
  }
}

.descr {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @include m-670 {
    flex-direction: column;
  }
  .left {
    max-width: 420px;
    width: 100%;
    min-width: 420px;
    @include xxm {
      min-width: 293px;
      span {
        font-size: 20px;
        @include xxs {
          font-size: 18px;
        }
      }
      @include m-670 {
        max-width: unset;
        
      }
    }
    .green-text {
      color: #77b946;
    }
    span {
      // display: inline-block;
      color: #0B1600;
      width: 100%;
      font-family: "Open sans", sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;

    }
  }
  .right {
    p {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #7c7c87;
      letter-spacing: normal;
      // &:last-child {
      //   margin-top: 20px;
      // }
      @include xxm {
        font-size: 16px;
      }
    }
  }
}

.pt-64 {
  padding-top: 64px;
  @include xxm {
    padding-top: 48px;
  }
}
.pt-100 {
  padding-top: 100px;
  @include m-670 {
    padding-top: 70px;
    @include xxs-big {
      padding-top: 48px;
    }
  }
}

.btn-more {
  margin-top: 32px;
  color: #77b946;
  align-self: flex-start;
  border: 2px solid #77b946;
  border-radius: 6px;
  padding: 12px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  transition: all .25s ease-in-out;
  background-color: transparent;
  cursor: pointer;
  @include xxs {
    font-size: 14px;
    padding: 10px 20px;
  }
  &:hover {
    background: #77B946;
    color: white;
  }
}
.q-jobs-green-text {
  color: #6b9b3c;
  margin-top: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  @include xxm {
    font-size: 16px;
  }
}
.q-jobs-grey-text {
  color: #7c7c87;
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 140%;
  font-size: 16px;
  @include xxm {
    font-size: 14px;
  }
}

.popup-opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.white-h {
  .w-l {
    color: #0B1600;
  }
}

.border-top {
  border-top: 2px solid rgba(11, 22, 0, 0.1);
}


@import "block/header.scss";
@import "block/header-mob.scss";
@import "block/header-white.scss";

// MAIN PAGE SCSS
@import "block/q-main/about.scss";
@import "block/q-main/activity.scss";
@import "block/q-main/news.scss";
@import "block/q-main/map.scss";

// about companys SCSS
@import "block/q-about/about-main.scss";
@import "block/q-about/history.scss";
@import "block/q-about/leadership.scss";
@import "block/q-about/documents.scss";
@import "block/q-about/documents-files.scss";
@import "block/q-about/about-vacancys.scss";
@import "block/q-about/about-vacancys-jobs.scss";
@import "block/q-about/about-structure.scss";

// Contacts scss
@import "block/q-contacts/contacts-edit.scss";

// projects scss
@import "block/q-projects/projects.scss";
@import "block/q-projects/project-invest.scss";
@import "block/q-projects/project-invest-card.scss";


// Press center scss
@import "block/q-press-center/press-center-main.scss";
@import "block/q-press-center/press-center-news-card.scss";

// arctic scss
@import "block/q-arctic/main-arc.scss";

@import "block/footer.scss";