$base-font-size: 22px;
$color-gold: #f1cdb3;

@import "block/reset.scss";
@import "media-mixin.scss";
@import "./block/components-style/breadcrumbs.scss";
@import "./block/components-style/contacts.scss";
@import "./block/components-style/_icons.scss";
@import "./block/components-style/burger-menu.scss";
@import "./block/hystmodal.scss";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif !important;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background: #fbfefe;
  // @include ph {
  //     background-color: rgb(141, 138, 138);
  // }
}

.wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  padding: 0 70px;
  height: auto;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    padding: 0 50px;
    @include m-840 {
      padding: 0 20px;
    }
    // @media screen and (max-width: 470px) {
    //   padding: 0 24px;
    @media screen and (max-width: 375px) {
      padding: 0 14px;
    }
    // }
  }
}

.section {
  padding-top: 140px;
  hr {
    opacity: 0.5;
  }
  @include xm {
    padding-top: 85px;
    @include xxs {
      padding-top: 55px;
    }
  }
}

.c-black-h {
  a {
    color: #0b1600 !important;
    span {
      color: #0b1600 !important;
    }
  }
  .arrow-white {
    transition: all 0.15s ease-in-out;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='black'/%3E%3C/svg%3E%0A");
  }
}

.button {
  padding: 15px 45px;
  background-color: $color-gold;
  color: black;
  border: unset;
  border-radius: 100px;
  font-size: 17px;
  text-align: center;
}

.title {
  span {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #6b9b3c;
    text-transform: none;
    @include l {
      font-size: 32px;
      @include m-small {
        font-size: 24px;
        letter-spacing: normal;
      }
    }
  }
}
.title-blue {
  span {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #0e2252;
    text-transform: none;
    @include l {
      font-size: 32px;
      @include m-small {
        font-size: 24px;
        letter-spacing: normal;
      }
    }
  }
}

.title-border {
  border-bottom: 3px solid #77b946;
  padding-bottom: 8px;
  display: inline-block;
  width: auto;
  @include m-small {
    width: min-content;
  }
  span {
    white-space: nowrap;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #0b1600;
    @include xxm {
      font-size: 32px;
      @include m-small {
        font-size: 24px;
        white-space: normal;
      }
    }
  }
}

.arrow {
  border: solid #6b9b3c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.img-block {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  img {
    border-radius: 8px;
  }
}

.title-mini {
  display: inline-block;
  span {
    letter-spacing: normal;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #0b1600;
    @include xxm {
      font-size: 20px;
      @include m-small {
        font-size: 18px;
      }
    }
  }
}

.grey-text {
  display: inline-block;
  span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #7c7c87;
    @include xxm {
      font-size: 16px;
    }
    @include xxs {
      font-size: 14px !important;
    }
  }
}
.arctic-text {
  display: inline-block;
  span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #7080a3;
    @include xxm {
      font-size: 16px;
    }
    @include xxs {
      font-size: 14px !important;
    }
  }
}

.descr {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @include m-670 {
    flex-direction: column;
  }
  .left {
    max-width: 420px;
    width: 100%;
    min-width: 420px;
    @include xxm {
      min-width: 293px;
      span {
        font-size: 20px;
        @include xxs {
          font-size: 18px;
        }
      }
      @include m-670 {
        max-width: unset;
      }
    }
    .green-text {
      color: #77b946;
    }
    span {
      color: #0b1600;
      width: 100%;
      font-family: "Open sans", sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
    }
  }
  .right {
    p {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #7c7c87;
      letter-spacing: normal;
      @include xxm {
        font-size: 16px;
        @include m-small {
          font-size: 14px;
        }
      }
    }
  }
}

.pt-64 {
  padding-top: 64px;
  @include xxm {
    padding-top: 48px;
  }
}
.pt-100 {
  padding-top: 100px;
  @include m-670 {
    padding-top: 70px;
    @include xxs-big {
      padding-top: 48px;
    }
  }
}

.btn-more {
  margin-top: 32px;
  color: #77b946;
  align-self: flex-start;
  border: 2px solid #77b946;
  border-radius: 6px;
  padding: 12px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  transition: all 0.25s ease-in-out;
  background-color: transparent;
  cursor: pointer;
  @include xxs {
    font-size: 14px;
    padding: 10px 20px;
  }
  &:hover {
    background: #77b946;
    color: white;
  }
}
.q-jobs-green-text {
  color: #6b9b3c;
  margin-top: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  @include xxm {
    font-size: 16px;
  }
}
.q-jobs-grey-text {
  color: #7c7c87;
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 140%;
  font-size: 16px;
  @include xxm {
    font-size: 14px;
  }
}

.popup-opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.white-h {
  .w-l {
    color: #0b1600;
  }
}

.border-top {
  border-top: 2px solid rgba(11, 22, 0, 0.1);
}

.static-content {
  padding-top: unset !important;
}

.about-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 650px;
  width: 100%;
  @include xxs {
    min-height: 440px;
  }
  &::after {
    content: "";
    background: rgba(36, 36, 36, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.search-overlay {
  position: absolute;
  width: 100vw;
  height: 0;
  background: #fbfefe;
  z-index: 5000;
  
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(-200px);
  .closebtn-search {
    background: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.567 9.99854L20.667 1.89854C20.8491 1.68598 20.9442 1.41257 20.9334 1.13293C20.9226 0.853286 20.8067 0.58802 20.6088 0.390137C20.4109 0.192255 20.1456 0.0763291 19.866 0.0655278C19.5863 0.0547265 19.3129 0.149845 19.1004 0.331874L11.0004 8.43187L2.90036 0.320763C2.68781 0.138734 2.41439 0.0436162 2.13475 0.0544175C1.85511 0.0652188 1.58984 0.181143 1.39196 0.379026C1.19408 0.576909 1.07815 0.842174 1.06735 1.12181C1.05655 1.40145 1.15167 1.67487 1.3337 1.88743L9.4337 9.99854L1.32259 18.0985C1.20627 18.1982 1.11181 18.3207 1.04511 18.4586C0.978421 18.5964 0.940943 18.7466 0.935032 18.8996C0.929122 19.0526 0.954906 19.2052 1.01077 19.3478C1.06663 19.4904 1.15136 19.6199 1.25964 19.7282C1.36792 19.8364 1.49742 19.9212 1.64001 19.977C1.78259 20.0329 1.93518 20.0587 2.0882 20.0528C2.24122 20.0469 2.39137 20.0094 2.52922 19.9427C2.66707 19.876 2.78964 19.7815 2.88925 19.6652L11.0004 11.5652L19.1004 19.6652C19.3129 19.8472 19.5863 19.9424 19.866 19.9316C20.1456 19.9208 20.4109 19.8048 20.6088 19.6069C20.8067 19.4091 20.9226 19.1438 20.9334 18.8642C20.9442 18.5845 20.8491 18.3111 20.667 18.0985L12.567 9.99854Z' fill='%230B1600'/%3E%3C/svg%3E%0A") no-repeat center/cover;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 81px;
    right: 87px;
    cursor: pointer;
  }
  .search-overlay__content {
    max-width: 840px;
    width: 100%;
    form {
      position: relative;
      input {
        
        font-weight: 400;
        font-size: 40px;
        line-height: 120%;
        color: #0b1600;
        box-shadow: unset;
        border: transparent;
        padding: 16px 0;
        border-bottom: 3px solid #77b946 !important;
        height: unset;
      }
      .arrow-search  {
        position: absolute;
        top: 32px;
        right: 15px;
        opacity: 0.5;
      }
      .close-btn-search {
        display: none;
        position: absolute;
        top: 35px;
        right: 15px;
        opacity: 0.5;
      }
    }
  }
}

.search-overlay--active {
  height: 100vh;
  padding: 80px;
  transform: translateY(0)
}

@import "block/search-bar.scss";

@import "block/header.scss";
@import "block/header-mob.scss";
@import "block/header-white.scss";
@import "block/header-arctic.scss";
@import "block/header-arctic-white.scss";
@import "block/header-capstone-white.scss";

// MAIN PAGE SCSS
@import "block/q-main/about.scss";
@import "block/q-main/activity.scss";
@import "block/q-main/news.scss";
@import "block/q-main/map.scss";

// about companys SCSS
@import "block/q-about/about-main.scss";
@import "block/q-about/history.scss";
@import "block/q-about/leadership.scss";
@import "block/q-about/documents.scss";
@import "block/q-about/documents-files.scss";
@import "block/q-about/about-vacancys.scss";
@import "block/q-about/about-vacancys-jobs.scss";
@import "block/q-about/about-structure.scss";

// Contacts scss
@import "block/q-contacts/contacts-edit.scss";

// projects scss
@import "block/q-projects/projects.scss";
@import "block/q-projects/project-invest.scss";
@import "block/q-projects/project-invest-card.scss";

// Press center scss
@import "block/q-press-center/press-center-main.scss";
@import "block/q-press-center/press-center-news-card.scss";

// arctic scss
@import "block/q-arctic/main-arc.scss";
@import "block/q-arctic/services-arc.scss";

// CAPSTONE SSCSCSSCSC
@import "block/q-capstone/main-capstone.scss";
@import "block/q-capstone/capstone-item.scss";

@import "block/footer.scss";
@import "block/footer-arctic.scss";
