@mixin xxl {
  @media (max-width: 1400px) {
    @content;
  }
}
@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin l {
  @media (max-width: 1014px) {
    @content;
  }
}
@mixin xxm {
  @media (max-width: 960px) {
    @content;
  }
}
@mixin xm {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin m-670 {
  @media (max-width: 670px) {
    @content;
  }
}

@mixin xxs {
  @media (max-width: 425px) {
    @content;
  }
}