section.about
  .swiper.arctic-swiper
    .swiper-wrapper 
      .swiper-slide.about-card.arctic-about
        .wrapper
          .about-content
            h1.about-title Инвестиции в сферу ЖКХ и Энергетики
            p Жить на полную мощность
            button Подробнее
      .swiper-slide.about-card.arctic-about
        .wrapper
          .about-content
            h1.about-title Инвестиции в сферу ЖКХ и Энергетики
            p Жить на полную мощность
            button Подробнее
      .swiper-slide.about-card.arctic-about
        .wrapper
          .about-content 
            h1.about-title Инвестиции в сферу ЖКХ и Энергетики
            p Жить на полную мощность
            button Подробнее
    .swiper-pagination