section.about
  .swiper.arctic-swiper
    .swiper-wrapper 
      .swiper-slide.about-card.arctic-about
        .wrapper
          .about-content-card
            h1.about-title.b-border Концессии в сфере коммунальной инфраструктуры
            p Консалтинговая компания Арктик Консалт – ваш консультант при реализации инвестиционных проектов в сфере коммунальной инфраструктуры с использованием механизма концессий
      .swiper-slide.about-card.arctic-about
        .wrapper
          .about-content-card
            h1.about-title.b-border Концессии в сфере коммунальной инфраструктуры
            p Консалтинговая компания Арктик Консалт – ваш консультант при реализации инвестиционных проектов в сфере коммунальной инфраструктуры с использованием механизма концессий
      .swiper-slide.about-card.arctic-about
        .wrapper
          .about-content-card
            h1.about-title.b-border Концессии в сфере коммунальной инфраструктуры
            p Консалтинговая компания Арктик Консалт – ваш консультант при реализации инвестиционных проектов в сфере коммунальной инфраструктуры с использованием механизма концессий
    .swiper-pagination
section.about-card-arc
  .wrapper 
    .about-card-content
      .left 
        .title-blue 
          span О компании
        .arctic-text 
          span Учредителем консалтинговой компании Арктик Консалт выступает компания Генерация, успешно реализующая концессионные соглашения на территории Дальнего Востока. Наработанный опыт внутри группы компаний позволяет Арктик Консалт оказывать качественные комплексные услуги по сопровождению проектов на основе государственно-частного партнерства и концессий как для юридических лиц, так и для органов государственной и муниципальной власти.
      .right 
        .img-block 
          img(src="./img/arctic/pick.png", alt="" )
section.activity-arc
  .wrapper 
    .activity-content
      .title-block 
        .title-blue  
          span Услуги
        .block 
          span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat enim et dolor nisi, nullam senectus. Auctor tempus leo mus turpis pulvinar. Tempus ultricies arcu varius vel. A.
      .activity-body 
        .arctic-act-card 
          .card-content
            .img-block
              img(src="./img/arctic/activity/project.svg", alt="")
            .block
              span Структурирование 
              span проектов
              p Разработка организационно-правовых моделей проектов.
              a.more-link(href="#") Подробнее
                i.arrow-orange
        .arctic-act-card 
          .card-content
            .img-block
              img(src="./img/arctic/activity/konkurs.svg", alt="")
            .block
              span Подготовка и сопровождение конкурсов
              p На право заключения концессионного соглашения
              a.more-link(href="#") Подробнее
                i.arrow-orange
        .arctic-act-card 
          .card-content
            .img-block
              img(src="./img/arctic/activity/prosedura.svg", alt="")
            .block
              span Сопровождение 
              span процедур 
              p Частной концессионной инициативы (ЧКИ)
              a.more-link(href="#") Подробнее
                i.arrow-orange
        .arctic-act-card 
          .card-content
            .img-block
              img(src="./img/arctic/activity/deals.svg", alt="")
            .block
              span Сопровождение 
              span сделок
              p Финансовые закрытия
              a.more-link(href="#") Подробнее
                i.arrow-orange
section.contacts-arc
  .wrapper 
    .arc-contacts 
      .title-blue 
        span Контакты
      .arc-contacts-body 
        .left 
          .arc-contacts__items 
            .top-items
              ul 
                li.w-arrow
                  .block
                    i.point-blue
                    span 677010, г. Якутск, мкр. Птицефабрика, д. 1/2
                  i.arrow-opacity
                li
                  i.time-blue
                  span 09:00 - 18:00 Понедельник - Пятница
                li
                  i.phone-blue
                  span +7 (4112) 31-84-40;
                  span +7 (4112) 75-00-01
                li
                  i.mail-blue
                  span info@dvenergy.pro
            .bottom-items 
              ul 
                li
                  .block
                    i.point-blue
                    span 108811, г.Москва, Киевское шоссе 22-й км. (п. Московский), домовладение 4, строение 1, корпус А, помещение 620 А, офис 02 (станция метро Румянцево)
                  i.arrow-opacity
        .right 
          .hire-me
            form(action="") 
              .hire-me__title 
                span Оставить заявку
              ul.hire-me__items 
                li 
                  input(type="text" placeholder='ФИО*')
                li 
                  input(type="text" placeholder='Контактные данные*')
                li 
                  input(type="text" placeholder='Оставить сообщение*')
              button Отпрвить