section.about
  .swiper.arctic-swiper
    .swiper-wrapper 
      .swiper-slide.about-card.arctic-about
        .wrapper
          .about-content
            h1.about-title.b-border Концессии в сфере коммунальной инфраструктуры
            p Консалтинговая компания Арктик Консалт – ваш консультант при реализации инвестиционных проектов в сфере коммунальной инфраструктуры с использованием механизма концессий
      .swiper-slide.about-card.arctic-about
        .wrapper
          .about-content
            h1.about-title.b-border Концессии в сфере коммунальной инфраструктуры
            p Консалтинговая компания Арктик Консалт – ваш консультант при реализации инвестиционных проектов в сфере коммунальной инфраструктуры с использованием механизма концессий
      .swiper-slide.about-card.arctic-about
        .wrapper
          .about-content
            h1.about-title.b-border Концессии в сфере коммунальной инфраструктуры
            p Консалтинговая компания Арктик Консалт – ваш консультант при реализации инвестиционных проектов в сфере коммунальной инфраструктуры с использованием механизма концессий
    .swiper-pagination