section.services-arc.section
  hr
  .wrapper 
    nav.breadcrumbs 
      ul  
        li.breadcrumbs-item
          a(href="/") 
            i.icon-home 
        li 
          i.arrow-black
        li 
          a(href="javascript:void(0)") Услуги
    .q-arc-service  
      .title-blue
        span Услуги
      .q-arc-service__body 
        .q-servie-content
