.arrow-white {
  transition: all .15s ease-in-out;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='white'/%3E%3C/svg%3E%0A");
  display: inline-block;
  width: 12px;
  height: 7px;
  margin-left: 8px;
}

.arrow-black {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='black'/%3E%3C/svg%3E%0A");
  display: inline-block;
  width: 12px;
  height: 7px;
  transform: rotate(270deg);
}

.icon-home {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9944 7.76519C15.9944 8.26519 15.5778 8.65686 15.1056 8.65686H14.2167L14.2361 13.1041C14.2361 13.1819 14.2306 13.2541 14.2222 13.3291V13.7791C14.2222 14.393 13.725 14.8902 13.1111 14.8902H12.6667C12.6361 14.8902 12.6056 14.8652 12.575 14.8874C12.5361 14.8652 12.4972 14.8902 12.4583 14.8902H10.8889C10.275 14.8902 9.77778 14.393 9.77778 13.7791V11.3346C9.77778 10.843 9.38056 10.4457 8.88889 10.4457H7.11111C6.61944 10.4457 6.22222 10.843 6.22222 11.3346V13.7791C6.22222 14.393 5.725 14.8902 5.11111 14.8902H3.55833C3.51667 14.8902 3.475 14.8874 3.43333 14.8846C3.4 14.8874 3.36667 14.8902 3.33333 14.8902H2.88889C2.27528 14.8902 1.77778 14.393 1.77778 13.7791V10.668C1.77778 10.643 1.77861 10.6152 1.78028 10.5902V8.65686H0.890278C0.389444 8.65686 0 8.26519 0 7.76519C0 7.51519 0.0834445 7.29297 0.278056 7.09852L7.4 0.890635C7.59444 0.695802 7.81667 0.667969 8.01111 0.667969C8.20556 0.667969 8.42778 0.723635 8.59722 0.862802L15.6889 7.09852C15.9111 7.29297 16.025 7.51519 15.9944 7.76519Z' fill='%2377B946'/%3E%3C/svg%3E%0A");
  display: inline-block;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
}

.icon-search {
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.4658 27L22.9798 22.506L27.4658 27ZM25.4658 16.5C25.4658 18.7543 24.5703 20.9163 22.9762 22.5104C21.3822 24.1045 19.2202 25 16.9658 25C14.7115 25 12.5495 24.1045 10.9554 22.5104C9.36135 20.9163 8.46582 18.7543 8.46582 16.5C8.46582 14.2457 9.36135 12.0837 10.9554 10.4896C12.5495 8.89553 14.7115 8 16.9658 8C19.2202 8 21.3822 8.89553 22.9762 10.4896C24.5703 12.0837 25.4658 14.2457 25.4658 16.5V16.5Z' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  width: 35px;
  height: 35px;
  display: inline-block;
  background-repeat: no-repeat;
}