.arrow-white {
  transition: all 0.15s ease-in-out;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='white'/%3E%3C/svg%3E%0A");
  display: inline-block;
  width: 12px;
  height: 7px;
  margin-left: 8px;
}

.arrow-black {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='%230B1600'/%3E%3C/svg%3E%0A");
  display: inline-block;
  width: 12px;
  height: 7px;
  transform: rotate(270deg);
}

.icon-home {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9944 7.76519C15.9944 8.26519 15.5778 8.65686 15.1056 8.65686H14.2167L14.2361 13.1041C14.2361 13.1819 14.2306 13.2541 14.2222 13.3291V13.7791C14.2222 14.393 13.725 14.8902 13.1111 14.8902H12.6667C12.6361 14.8902 12.6056 14.8652 12.575 14.8874C12.5361 14.8652 12.4972 14.8902 12.4583 14.8902H10.8889C10.275 14.8902 9.77778 14.393 9.77778 13.7791V11.3346C9.77778 10.843 9.38056 10.4457 8.88889 10.4457H7.11111C6.61944 10.4457 6.22222 10.843 6.22222 11.3346V13.7791C6.22222 14.393 5.725 14.8902 5.11111 14.8902H3.55833C3.51667 14.8902 3.475 14.8874 3.43333 14.8846C3.4 14.8874 3.36667 14.8902 3.33333 14.8902H2.88889C2.27528 14.8902 1.77778 14.393 1.77778 13.7791V10.668C1.77778 10.643 1.77861 10.6152 1.78028 10.5902V8.65686H0.890278C0.389444 8.65686 0 8.26519 0 7.76519C0 7.51519 0.0834445 7.29297 0.278056 7.09852L7.4 0.890635C7.59444 0.695802 7.81667 0.667969 8.01111 0.667969C8.20556 0.667969 8.42778 0.723635 8.59722 0.862802L15.6889 7.09852C15.9111 7.29297 16.025 7.51519 15.9944 7.76519Z' fill='%2377B946'/%3E%3C/svg%3E%0A");
  display: inline-block;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
}
.icon-home-blue {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9944 7.76519C15.9944 8.26519 15.5778 8.65686 15.1056 8.65686H14.2167L14.2361 13.1041C14.2361 13.1819 14.2306 13.2541 14.2222 13.3291V13.7791C14.2222 14.393 13.725 14.8902 13.1111 14.8902H12.6667C12.6361 14.8902 12.6056 14.8652 12.575 14.8874C12.5361 14.8652 12.4972 14.8902 12.4583 14.8902H10.8889C10.275 14.8902 9.77778 14.393 9.77778 13.7791V11.3346C9.77778 10.843 9.38056 10.4457 8.88889 10.4457H7.11111C6.61944 10.4457 6.22222 10.843 6.22222 11.3346V13.7791C6.22222 14.393 5.725 14.8902 5.11111 14.8902H3.55833C3.51667 14.8902 3.475 14.8874 3.43333 14.8846C3.4 14.8874 3.36667 14.8902 3.33333 14.8902H2.88889C2.27528 14.8902 1.77778 14.393 1.77778 13.7791V10.668C1.77778 10.643 1.77861 10.6152 1.78028 10.5902V8.65686H0.890278C0.389444 8.65686 0 8.26519 0 7.76519C0 7.51519 0.0834445 7.29297 0.278056 7.09852L7.4 0.890635C7.59444 0.695802 7.81667 0.667969 8.01111 0.667969C8.20556 0.667969 8.42778 0.723635 8.59722 0.862802L15.6889 7.09852C15.9111 7.29297 16.025 7.51519 15.9944 7.76519Z' fill='%235A76B6'/%3E%3C/svg%3E%0A");
  display: inline-block;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-search {
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.4658 27L22.9798 22.506L27.4658 27ZM25.4658 16.5C25.4658 18.7543 24.5703 20.9163 22.9762 22.5104C21.3822 24.1045 19.2202 25 16.9658 25C14.7115 25 12.5495 24.1045 10.9554 22.5104C9.36135 20.9163 8.46582 18.7543 8.46582 16.5C8.46582 14.2457 9.36135 12.0837 10.9554 10.4896C12.5495 8.89553 14.7115 8 16.9658 8C19.2202 8 21.3822 8.89553 22.9762 10.4896C24.5703 12.0837 25.4658 14.2457 25.4658 16.5V16.5Z' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  width: 35px;
  height: 35px;
  display: inline-block;
  background-repeat: no-repeat;
}
.search-scrolled {
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.4658 27L22.9798 22.506L27.4658 27ZM25.4658 16.5C25.4658 18.7543 24.5703 20.9163 22.9762 22.5104C21.3822 24.1045 19.2202 25 16.9658 25C14.7115 25 12.5495 24.1045 10.9554 22.5104C9.36135 20.9163 8.46582 18.7543 8.46582 16.5C8.46582 14.2457 9.36135 12.0837 10.9554 10.4896C12.5495 8.89553 14.7115 8 16.9658 8C19.2202 8 21.3822 8.89553 22.9762 10.4896C24.5703 12.0837 25.4658 14.2457 25.4658 16.5V16.5Z' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") !important;
}

.icon-search-black {
  background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27 27L22.514 22.506L27 27ZM25 16.5C25 18.7543 24.1045 20.9163 22.5104 22.5104C20.9163 24.1045 18.7543 25 16.5 25C14.2457 25 12.0837 24.1045 10.4896 22.5104C8.89553 20.9163 8 18.7543 8 16.5C8 14.2457 8.89553 12.0837 10.4896 10.4896C12.0837 8.89553 14.2457 8 16.5 8C18.7543 8 20.9163 8.89553 22.5104 10.4896C24.1045 12.0837 25 14.2457 25 16.5V16.5Z' stroke='%230B1600' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  width: 35px;
  height: 35px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-point-orange {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.96635 15.919L6.22235 15.5559L5.96635 15.919ZM6.47836 15.919L6.48014 15.9181L6.48458 15.915L6.49791 15.9048L6.55036 15.867C6.59481 15.8341 6.65969 15.7861 6.74147 15.723C6.90503 15.5977 7.13704 15.4132 7.41393 15.1763C8.1408 14.555 8.82046 13.8806 9.44731 13.1585C10.9176 11.458 12.4447 9.03085 12.4447 6.25613C12.4447 4.59832 11.7896 3.00717 10.6233 1.83382C10.0469 1.25309 9.36129 0.792098 8.60599 0.477377C7.85069 0.162655 7.0406 0.000417047 6.22235 0C5.40414 0.000358827 4.59407 0.162527 3.83877 0.477172C3.08347 0.791816 2.39785 1.25272 1.82137 1.83337C0.65398 3.00941 -0.00078358 4.59951 7.03756e-07 6.25657C7.03756e-07 9.03085 1.52714 11.458 2.9974 13.1585C3.62424 13.8806 4.30391 14.555 5.03077 15.1763C5.30811 15.4132 5.53967 15.5977 5.70323 15.723C5.78345 15.7848 5.8645 15.8456 5.94635 15.9052L5.96057 15.915L5.96457 15.9181L5.96635 15.919C6.11968 16.027 6.32502 16.027 6.47836 15.919ZM6.22235 15.5559L6.47836 15.919L6.22235 15.5559ZM8.44462 6.22235C8.44462 6.81173 8.21049 7.37698 7.79373 7.79373C7.37698 8.21049 6.81173 8.44462 6.22235 8.44462C5.63297 8.44462 5.06773 8.21049 4.65097 7.79373C4.23422 7.37698 4.00008 6.81173 4.00008 6.22235C4.00008 5.63297 4.23422 5.06773 4.65097 4.65097C5.06773 4.23421 5.63297 4.00008 6.22235 4.00008C6.81173 4.00008 7.37698 4.23421 7.79373 4.65097C8.21049 5.06773 8.44462 5.63297 8.44462 6.22235Z' fill='%23FF8202'/%3E%3C/svg%3E%0A");
}
.icon-mail-orange {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5 4.488V12.875C19.5 14.325 18.325 15.5 16.875 15.5H3.125C2.42881 15.5 1.76113 15.2234 1.26884 14.7312C0.776562 14.2389 0.5 13.5712 0.5 12.875V4.488L9.699 9.548C9.8865 9.651 10.114 9.651 10.301 9.548L19.5 4.4875V4.488ZM16.875 0.5C17.5602 0.500064 18.2183 0.768076 18.7086 1.24679C19.1989 1.7255 19.4826 2.37696 19.499 3.062L10 8.287L0.501 3.0615L0.502 3.0165C0.530001 2.33963 0.818603 1.69979 1.30745 1.23079C1.79631 0.761786 2.44755 0.499937 3.125 0.5H16.875Z' fill='%23FF8202'/%3E%3C/svg%3E%0A");
}

.eye {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.75 12C15.75 12.9946 15.3549 13.9484 14.6517 14.6517C13.9484 15.3549 12.9946 15.75 12 15.75C11.0054 15.75 10.0516 15.3549 9.34835 14.6517C8.64509 13.9484 8.25 12.9946 8.25 12C8.25 11.0054 8.64509 10.0516 9.34835 9.34835C10.0516 8.64509 11.0054 8.25 12 8.25C12.9946 8.25 13.9484 8.64509 14.6517 9.34835C15.3549 10.0516 15.75 11.0054 15.75 12Z' fill='%230B1600'/%3E%3Cpath d='M0 12C0 12 4.5 3.75 12 3.75C19.5 3.75 24 12 24 12C24 12 19.5 20.25 12 20.25C4.5 20.25 0 12 0 12ZM12 17.25C13.3924 17.25 14.7277 16.6969 15.7123 15.7123C16.6969 14.7277 17.25 13.3924 17.25 12C17.25 10.6076 16.6969 9.27226 15.7123 8.28769C14.7277 7.30312 13.3924 6.75 12 6.75C10.6076 6.75 9.27226 7.30312 8.28769 8.28769C7.30312 9.27226 6.75 10.6076 6.75 12C6.75 13.3924 7.30312 14.7277 8.28769 15.7123C9.27226 16.6969 10.6076 17.25 12 17.25Z' fill='%230B1600'/%3E%3C/svg%3E%0A");
}
.arrow-pagination {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.16587 0.516175C2.58387 0.924175 6.66787 5.21118 6.66787 5.21118C6.77373 5.31331 6.85792 5.43572 6.91542 5.57111C6.97292 5.7065 7.00256 5.85208 7.00256 5.99918C7.00256 6.14627 6.97292 6.29185 6.91542 6.42724C6.85792 6.56263 6.77373 6.68504 6.66787 6.78718C6.66787 6.78718 2.58387 11.0762 2.16587 11.4822C1.74787 11.8902 0.995874 11.9182 0.550874 11.4822C0.104874 11.0482 0.0698738 10.4412 0.550874 9.90818L4.29787 6.00018L0.550874 2.09218C0.0698738 1.55917 0.104874 0.951175 0.550874 0.516175C0.995874 0.0801746 1.74787 0.107175 2.16587 0.516175Z' fill='%2399BF74'/%3E%3C/svg%3E%0A");
  display: inline-block;
  width: 7px;
  height: 12px;
}
.repost {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.03444 4.1185V0.5L12.9004 4.43537L16 7.59068L12.8453 10.2669L9.03444 13.5V9.95926C2.34403 9.44591 0 13.3871 0 13.3871C0 10.9316 0.198756 8.38327 2.09517 6.45363C4.29957 4.20879 7.49202 4.04994 9.03444 4.1185Z' fill='%236B9B3C'/%3E%3C/svg%3E%0A");
  width: 16px;
  height: 14px;
  display: inline-block;
}

.arrow-orange {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.16197 0.516175C2.57997 0.924175 6.66397 5.21118 6.66397 5.21118C6.76982 5.31331 6.85401 5.43572 6.91151 5.57111C6.96902 5.7065 6.99865 5.85208 6.99865 5.99918C6.99865 6.14627 6.96902 6.29185 6.91151 6.42724C6.85401 6.56263 6.76982 6.68504 6.66397 6.78718C6.66397 6.78718 2.57997 11.0762 2.16197 11.4822C1.74397 11.8902 0.991968 11.9182 0.546968 11.4822C0.100968 11.0482 0.0659676 10.4412 0.546968 9.90818L4.29397 6.00018L0.546968 2.09218C0.0659676 1.55917 0.100968 0.951175 0.546968 0.516175C0.991968 0.0801746 1.74397 0.107175 2.16197 0.516175Z' fill='%23FF8202'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 7px;
  height: 12px;
}

.point-blue {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.67086 19.8987L8 19.4448L7.67086 19.8987ZM8.32914 19.8987L8.33143 19.8976L8.33714 19.8937L8.35429 19.881L8.42172 19.8337C8.47886 19.7926 8.56229 19.7326 8.66743 19.6537C8.87771 19.4971 9.176 19.2665 9.532 18.9704C10.4665 18.1938 11.3404 17.3507 12.1463 16.4481C14.0366 14.3225 16 11.2886 16 7.82016C16 5.7479 15.1577 3.75897 13.6583 2.29227C12.9172 1.56636 12.0357 0.990123 11.0646 0.596721C10.0935 0.203319 9.05201 0.000521308 8 0C6.94803 0.000448534 5.90654 0.203159 4.93546 0.596464C3.96438 0.98977 3.08289 1.56591 2.34171 2.29171C0.840814 3.76176 -0.00100744 5.74938 9.0481e-07 7.82072C9.0481e-07 11.2886 1.96343 14.3225 3.85371 16.4481C4.65964 17.3507 5.53348 18.1938 6.468 18.9704C6.82457 19.2665 7.12229 19.4971 7.33257 19.6537C7.43571 19.731 7.53991 19.807 7.64514 19.8815L7.66343 19.8937L7.66857 19.8976L7.67086 19.8987C7.868 20.0338 8.132 20.0338 8.32914 19.8987ZM8 19.4448L8.32914 19.8987L8 19.4448ZM10.8571 7.77794C10.8571 8.51467 10.5561 9.22122 10.0203 9.74217C9.48449 10.2631 8.75776 10.5558 8 10.5558C7.24224 10.5558 6.51551 10.2631 5.9797 9.74217C5.44388 9.22122 5.14286 8.51467 5.14286 7.77794C5.14286 7.04121 5.44388 6.33466 5.9797 5.81371C6.51551 5.29277 7.24224 5.0001 8 5.0001C8.75776 5.0001 9.48449 5.29277 10.0203 5.81371C10.5561 6.33466 10.8571 7.04121 10.8571 7.77794Z' fill='%233B589A'/%3E%3C/svg%3E%0A");
}

.time-blue {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2.25C6.61547 2.25 2.25 6.61547 2.25 12C2.25 17.3845 6.61547 21.75 12 21.75C17.3845 21.75 21.75 17.3845 21.75 12C21.75 6.61547 17.3845 2.25 12 2.25ZM16.5 13.5H12C11.8011 13.5 11.6103 13.421 11.4697 13.2803C11.329 13.1397 11.25 12.9489 11.25 12.75V6C11.25 5.80109 11.329 5.61032 11.4697 5.46967C11.6103 5.32902 11.8011 5.25 12 5.25C12.1989 5.25 12.3897 5.32902 12.5303 5.46967C12.671 5.61032 12.75 5.80109 12.75 6V12H16.5C16.6989 12 16.8897 12.079 17.0303 12.2197C17.171 12.3603 17.25 12.5511 17.25 12.75C17.25 12.9489 17.171 13.1397 17.0303 13.2803C16.8897 13.421 16.6989 13.5 16.5 13.5Z' fill='%233B589A'/%3E%3C/svg%3E%0A");
}

.phone-blue {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.21778 10.9244C8.49778 13.44 10.56 15.4933 13.0756 16.7822L15.0311 14.8267C15.2711 14.5867 15.6267 14.5067 15.9378 14.6133C16.9333 14.9422 18.0089 15.12 19.1111 15.12C19.6 15.12 20 15.52 20 16.0089V19.1111C20 19.6 19.6 20 19.1111 20C10.7644 20 4 13.2356 4 4.88889C4 4.4 4.4 4 4.88889 4H8C8.48889 4 8.88889 4.4 8.88889 4.88889C8.88889 6 9.06667 7.06667 9.39556 8.06222C9.49333 8.37333 9.42222 8.72 9.17333 8.96889L7.21778 10.9244Z' fill='%233B589A'/%3E%3C/svg%3E%0A");
}

.mail-blue {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5 8.488V16.875C21.5 18.325 20.325 19.5 18.875 19.5H5.125C4.42881 19.5 3.76113 19.2234 3.26884 18.7312C2.77656 18.2389 2.5 17.5712 2.5 16.875V8.488L11.699 13.548C11.8865 13.651 12.114 13.651 12.301 13.548L21.5 8.4875V8.488ZM18.875 4.5C19.5602 4.50006 20.2183 4.76808 20.7086 5.24679C21.1989 5.7255 21.4826 6.37696 21.499 7.062L12 12.287L2.501 7.0615L2.502 7.0165C2.53 6.33963 2.8186 5.69979 3.30745 5.23079C3.79631 4.76179 4.44755 4.49994 5.125 4.5H18.875Z' fill='%233B589A'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.arrow-opacity {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.22588 17.3401C7.87868 16.6713 14.7379 10.1369 14.7379 10.1369C14.9013 9.96751 15.0972 9.8328 15.3138 9.7408C15.5304 9.6488 15.7633 9.60138 15.9987 9.60138C16.234 9.60138 16.467 9.6488 16.6836 9.7408C16.9002 9.8328 17.0961 9.96751 17.2595 10.1369C17.2595 10.1369 24.1219 16.6713 24.7715 17.3401C25.4243 18.0089 25.4691 19.2121 24.7715 19.9241C24.0771 20.6377 23.1059 20.6937 22.2531 19.9241L16.0003 13.9289L9.74748 19.9241C8.89468 20.6937 7.92188 20.6377 7.22588 19.9241C6.52828 19.2121 6.57148 18.0089 7.22588 17.3401Z' fill='%23112B66' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
}

.arrow-skinny {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='%230B1600'/%3E%3C/svg%3E%0A");
  display: inline-block;
  width: 8px;
  height: 5px;
  background-position: center;
  background-size: cover;
  margin-left: 5px;
}