.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active-burger {
  transform: rotate(45deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:white;
  stroke-width:3.5;
  stroke-linecap:round;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active-burger .top {
  stroke-dashoffset: -92px;
}
.ham4.active-burger .bottom {
  stroke-dashoffset: -92px;
}
.ham4.active-burger .middle {
  stroke-dashoffset: -3px;
  stroke-dasharray: 15 5;
}
// mob < 768
.ham1 {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate1.active-burger {
  transform: rotate(45deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:white;
  stroke-width:3.5;
  stroke-linecap:round;
}
.ham5 .top {
  stroke-dasharray: 40 121;
}
.ham5 .bottom {
  stroke-dasharray: 40 121;
}
.ham5.active-burger .top {
  stroke-dashoffset: -92px;
}
.ham5.active-burger .bottom {
  stroke-dashoffset: -92px;
}
.ham5.active-burger .middle {
  stroke-dashoffset: -3px;
  stroke-dasharray: 15 5;
}