.contacts {
  display: flex;
  li {
    display: flex;
    align-items: center;
    gap: 5px;
    i {
      width: 24px;
      height: 24px;
      display: flex;
      img {
        object-fit: none;
        width: 24px;
        height: 24px;
      }
    }
    a {
      font-weight: 500 !important;
      font-size: 14px !important;
      color: #ffffff;
      white-space: nowrap;
      span {
        font-weight: 500 !important; 
        font-size: 14px !important;
        line-height: 120%;
        color: #ffffff;
        // white-space: nowrap;
      }
    }
  }
  .point {
    @media screen and (max-width: 375px) {
      a {
        display: flex; 
        flex-direction: column;
      }
    }
    
  }
}
