.contacts-page {
  height: 100%;
  width: 100%;
  background-color: #fbfefe;
}

.q-contacts-wrapper {
  .q-contacts-head {
    margin-top: 40px;
  }
}

.q-contacts-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-top: 64px;
  @include xm {
    flex-direction: column;
    @include xxs {
      padding-top: 54px;
    }
  }
  .q-left {
    display: flex;
    gap: 20px;
    @include xxs {
      flex-direction: column;
      gap: 32px;
    }
    .q-card-item {
      max-width: 310px;
      width: 100%;
      .phone-div {
        display: flex;
        flex-direction: column;
      }
      .q-card-title {
        span {
          display: inline-block;
          margin-bottom: 24px;
          font-family: "Inter", sans-serif;
          font-weight: 300;
          font-size: 24px;
          line-height: 120%;
          background: linear-gradient(180deg, #77b946 0%, #317300 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          @include xxm {
            font-size: 20px ;
          }
        }
      }
      .q-card-adress {
        span {
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          font-size: 18px;
          line-height: 140%;
          color: #0b1600;
          display: inline-flex;
          @include xxm {
            font-size: 16px;
          }
        }
      }
    }
  }

  .q-right {
    .q-hire-me {
      background: #dbebee;
      border-radius: 6px;
      padding: 24px;
      max-width: 640px;
      width: 100%;
      height: auto;
      min-height: 184px;
      max-height: 185px;
      height: 100%;

      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @include l-1100 {
        max-height: 275px;
        max-width: 310px;
        min-height: unset;
        padding: 24px 20px;
        @include xm {
          max-width: unset;
          margin-top: 70px;
        }
      }
      .q-hire-me__text {
        span {
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          font-size: 18px;
          line-height: 160%;
          color: #0b1600;
          @include xxm {
            font-size: 16px;
          }
        }
        .green-text {
          a {
            color: #77b946;
            @include xxm {
              font-size: 16px;
            }
          }
        }
      }
      .q-hire-me__btn {
        @include l-1100 {
          padding-top: 30px;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          color: #ffffff;
          background: #77b946;
          border-radius: 6px;
          width: 174px;
          height: 47px;
        }
      }
    }
  }
}

.q-contacts-cards__left,
.q-contacts-cards__right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include xxs {
    gap: 32px;
  }
}

.q-contacts-map {
  padding-top: 100px;
  margin: 0 auto;
  margin-bottom: -2px;
  width: 100vw;
  .q-contacts-map__wrapper {
    width: 100vw;
    height: auto;
  }
  @include xl-1300 {
    padding-top: unset;
    margin-top: 100px;
    height: 301px;
    img {
      height: 301px;
    }
    @include xm {
      margin-top: 70px;
    }
  }
  img {
    width: 100vw;
    border-radius: unset;
    height: 450px;
    @include xxm {
      height: 301px;
    }
  }
}