ul.contacts
  li.phone
    i 
      img(src="./img/phone.svg" alt="")
    a(href="tel: 89998003344") + 7 (4112) 31-84-40
  li.mail 
    i   
      img(src="./img/mail.svg", alt="")
    a(href="mailto: dsadsa@mai.ru") info@dvenergy.pro
  li.point
    i 
      img(src="./img/point.svg", alt="")
    a(href="#") ​Птицефабрика микрорайон, 1/22 этаж