section.news-link-content.section 
  hr
  .wrapper 
    nav.breadcrumbs 
      ul  
        li.breadcrumbs-item
          a(href="/") 
            i.icon-home 
        li 
          i.arrow-black
        li Статичная страница
    .q-news-wrapper 
      .q-news-head
        .title-border 
          span Статичная страница
      .q-news-body.pt-64
        .q-news-card-wrapper 
          .q-news-card__content.static-content
            .news-card__p 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, odit? Quia officiis voluptatibus libero quaerat id voluptas ex voluptatum velit ducimus, illo pariatur quae, alias error aperiam ad qui unde. Ipsam quia illo sit iusto molestiae maiores officiis laudantium rem!
            hr
            .img-block 
              img(src="https://dummyimage.com/1080x656/000/fff", alt="")
              figure Описание картинки