.arc-footer {
  background: #112b66;
  .footer-content {
    @include xxs {
      padding: 24px 0 20px 0;
    }
    .footer-top__block {
      @include xxs {
        padding-bottom: 30px;
      }
      div.arc-list-f {
        align-items: flex-start;
        @include m-670 {
          grid-template-rows: 1fr .5fr .5fr;
          
        }
        @include xxs {
          gap: 30px;
          grid-template-rows: .5fr .5fr .5fr
        }
        .footer-nav__arc {
          margin-top: 20px;
          ul {
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 37px 80px;
            grid-template-areas:
              ". ."
              ". .";
            @include m-670 {
              gap: 40px;
              grid-template-columns: .5fr 1fr;
              
            }
            @include xxs {
              grid-template-areas: none;
              grid-template-columns: unset;
              // gap: 24px;
            }
            li {
              a {
                font-weight: 600;
                font-size: 16px;
                line-height: 120%;
                color: #ffffff;
                white-space: nowrap;
                @include l {
                  font-size: 14px;
                }
              }
            }
          }
        }
        .footer-contacts__arc {
          margin-top: 20px;

          ul {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
    hr {
      border-bottom: 2px solid #304982;
      opacity: 1;
    }
    .footer-date {
      span {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #7e95c7;
      }
    }
  }
}
.arc-p {
  max-width: 291px !important;
}
