@import "media-mixin.scss";
@import "./components-style/contacts.scss";

.urls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer {
  width: 100%;
  height: auto;
  background: #244044;
  .footer-content {
    padding: 42px 0 22px 0;
    color: #ffffff;
    .footer-top__block {
      padding-bottom: 56px;
      @include xxs {
        padding-bottom: 39px;
      }
      .footer__list-items {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: .9fr 1fr 1fr 0.64fr;
        grid-template-rows: 1fr;
        align-items: flex-end;
        @include xl {
          gap: 10px;
          grid-template-columns: .9fr 1fr 1fr;
            @include m-950 {
              grid-template-columns: .7fr 1fr;
              gap: 40px 10px;
            }
            @include m-670 {
              grid-template-columns: 1fr;
              grid-template-rows: 1fr 1fr 1fr;
              @include xxs {
                grid-template-rows: 1fr 1.5fr .7fr;
              }
            }
        }
        .footer-logo {
          a {
            display: inline-block;
            @include xl {
              max-width: 200px;
            }
            img {
              width: 100%;
              height: auto;
            }
          }
          p {
            max-width: 241px;
            width: 100%;
            height: auto;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            margin-top: 16px;
            letter-spacing: 0;
            opacity: 0.8;
            @include xl {
              min-width: 240px;
            }
          }
        }

        .footer-nav {
          max-width: 288px;
          width: 100%;
          max-height: 140px;
          height: 100%;
          @include xxs {
            max-width: unset;
            max-height: unset;
            ul {
              flex-wrap: unset;
              gap: unset;
              height: 100%;
              max-height: unset;
              justify-content: space-between;
            }
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;
            max-height: 140px;
            height: 100%;
            gap: 40px;
            li {
              max-width: 165px;
              a {
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 120%;
                text-align: center;
                color: #ffffff;
                white-space: nowrap;
                @include l {
                  font-size: 14px;
                }
              }
            }
          }
        }

        .footer-contacts {
          ul {
            flex-direction: column;
            gap: 35px;
            @include l {
            }
            li {
              a {
                @include l {
                  font-size: 14px;
                  @include xxs {
                    white-space: normal;
                  }
                }
              }
            }
          }
        }

        .space {
          @include xl {
            display: none;
          }
        }
      }
    }

    hr {
      opacity: 0.2;
    }
  }
}

.footer-lower__block {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include xm {
    flex-direction: column-reverse;
    gap: 28px;
  }
  .footer-date {
    text-align: center;
    span {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
    }
  }
  .footer__social-icons {
    ul {
      display: flex;
      gap: 24px;
      a {
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
