@import "media-mixin.scss";
@import "./components-style/contacts.scss";

.footer {
  width: 100%;
  height: auto;
  background: #003f3f;
  .footer-content {
    padding: 42px 0 10px 0;
    color: #ffffff;
    .footer-top__block {
      padding-bottom: 56px;
      @include xxs {
        padding-bottom: 39px;
      }
      .footer__list-items {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 30px;
        @include l {
          gap: 10px;
          @include xxm {
            flex-wrap: wrap;
            justify-content: unset;
            gap: 41px;
            @include m-670 {
              flex-direction: column;
              align-items: flex-start;
            }
          }
        }
        .footer-logo {
          a {
            display: inline-block;
            @include xl {
              max-width: 200px;
            }
            img {
              width: 100%;
              height: auto;
            }
          }
          p {
            max-width: 241px;
            width: 100%;
            height: auto;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            margin-top: 16px;
            letter-spacing: 0;
            opacity: .8;
            @include xl {
              min-width: 240px;
            }
          }
        }

        .footer-nav {
          max-width: 288px;
          width: 100%;
          max-height: 140px;
          height: 100%;
          @include m-670 {
            max-height: unset;
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;
            max-height: 140px;
            height: 100%;
            gap: 40px;
            @include m-670 {
              flex-wrap: unset;
              gap: 30px;
              max-height: unset;
            }
            li {
              max-width: 165px;
              a {
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 120%;
                text-align: center;
                color: #ffffff;
                white-space: nowrap;
                @include l {
                  font-size: 14px;
                }
              }
            }
          }
        }

        .footer-contacts {
          ul {
            flex-direction: column;
            gap: 33px;
            @include l {
              gap: 31px;
            }
            li {
              a {
                @include l {
                  font-size: 14px;
                  @include xxs {
                    white-space: normal;
                  }
                }
              }
            }
          }
        }

        .space {
          @include xl {
            display: none;
          }
        }
      }
    }

    hr {
      opacity: 0.2;
    }
  }
}

.footer-lower__block {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include xm {
    flex-direction: column-reverse;
    gap: 28px;
  }
  .footer-date {
    text-align: center;
    span {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      
    }
  }
  .footer__social-icons {
    ul {
      display: flex;
      gap: 24px;
      a {
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
