@import "media-mixin.scss";
@import "./components-style/contacts.scss";

$primary-color: #fafafa;
$color-white: #ffffff;
$fs-15px: 15px;
.header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  animation: transHeaderOut 0.2s;
}
.header-content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 19px;
    margin-bottom: 14px;
    .header-bottom {
      height: unset;
      z-index: 10;
    }
    .contacts {
      gap: 20px;
      .point {
        a {
          span {
            &:last-child {
              display: none;
            }
          }
        }
      }
    }
  }
  .header-bottom {
    z-index: 9;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;

    .header-nav {
      .nav-items {
        display: flex;
        align-items: center;

        .nav-item {
          position: relative;
          display: flex;
          align-items: center;
          border-radius: 6px;
          padding: 8px 15px;
          transition: all 0.2s linear;
          margin-right: 20px;

          font-weight: 700;
          font-size: 16px;
          line-height: 120%;
          color: #ffffff;
          .dropdown {
            position: absolute;
            display: block;
            height: 0;
            opacity: 0;
            visibility: hidden;
            padding: 18px 16px;
            left: 0;
            top: 14px;
            z-index: 10000;
            transform: translateY(205px);
            transition: all 0.2s ease;
          }
          &:hover {
            background: rgba(109, 173, 185, 0.1);
            backdrop-filter: blur(40px);
          }
          &:active {
            .staff {
              top: 33px;
              left: 0;
              width: 100%;
              height: 100%;
            }
            .dropdown {
              visibility: visible;
              opacity: 1;
              height: auto;
              text-align: left;
              background: #648b97;
              backdrop-filter: blur(40px);
              box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
              border-radius: 6px;
              transform: translateY(0);
              z-index: 10000;
              li {
                margin-top: 21px;
                &:first-child {
                  margin-top: unset;
                }
                a {
                  white-space: nowrap;
                  &:hover {
                    padding-bottom: 2px;
                    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
                  }
                }
              }
            }
          }
          &:last-child {
            margin-right: unset;
          }
        }
      }
    }
  }
}

.active-nav-link {
}

hr {
  width: 100%;
  opacity: 0.5;
  margin: unset;
  transition: all 0.3s;
}

.dropdown {
  &:hover {
    .drop-content {
      display: block;
    }
  }
}

.is-dropdown-submenu {
  a {
    color: black !important;
  }
}

.scrolled-header {
  width: 100%;
  background-color: #fffffff3;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s;
  transition: all 0.15s ease;
  transform: translateY(-68px);
  animation: translateHeader 0.2s;
  .header-content {
    transition: all 0.15s ease-in-out;
    hr {
      display: none;
      transition: all 0.15s ease-in-out;
    }
    .header-bottom {
      transition: all 0.15s ease-in-out;
      a {
        color: black !important;
      }
      img {
        transition: all 0.15s ease-in-out;
      }
    }
  }
}
.companys-link {
  font-size: 14px !important;
  font-weight: 500 !important;
}

ul li ul li a {
  transition: all 0.2s ease;
}

@keyframes translateHeader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-68px);
  }
}
@keyframes translateHeaderChild {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes transHeaderOut {
  0% {
    transform: translateY(-49px);
  }
  100% {
    transform: translateY(0);
  }
}
