@import "media-mixin.scss";
@import "./components-style/contacts.scss";

.nav-mob__wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(36, 37, 37, 0.9);
  backdrop-filter: blur(20px);
  top: 0;
  left: -20px;
  padding: 20px 14px;
  transform: translateX(200%);
  // transition: all 0.3s linear;
  transition: all 500ms cubic-bezier(0.14, 0.65, 0.15, 1);
  @include xxs {
    width: 102vw;
    padding: 8px 14px;
  }
  &.active-mob__wrapper {
    transform: translateX(0);
    overflow: scroll;
    z-index: 50;
  }
  .nav-mob__top {
    padding: 10px 0 15px 0;
  }
  .accordion {
    padding-top: 15px;
    border-top: 1px solid rgba(66, 66, 66, 0.5);
    background: transparent;

    li {
      margin-top: 16px;
      &:first-child {
        margin-top: unset;
      }
      .accordion-link {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: #929292;
        padding: 16px 23px;
        background: #2e2e2e;
        border-radius: 6px;
        @include m-small {
          justify-content: space-between;
        }
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:last-child {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0.363);
        }
        .arrow-white {
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='%23929292'/%3E%3C/svg%3E%0A");
        }
      }
      .accordion-sub-menu {
        padding-left: 20px;
        border-left: 1px solid rgba(81, 82, 82, 0.992157);
        margin: 24px 5px;
        li {
          a {
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: #ffffff;
            -webkit-tap-highlight-color: rgba(82, 82, 82, 0.486);
          }
        }
      }
    }
  }
  .accord-contacts {
    padding: 36px 22px;
    .contacts {
      flex-direction: column;
      li {
        padding-top: 30px;
        &:first-child {
          padding-top: unset;
        }
        a{
          @include xxs {
            white-space: normal;
          }

        }
      }
    }
  }
}
[aria-expanded="true"] {
  .accordion-link {
    background: transparent !important;
    border: 1px solid rgba(81, 82, 82, 0.992157) !important;
    color: #ffffff !important;
    .arrow-white {
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='white'/%3E%3C/svg%3E%0A") !important;
      transform: rotate(180deg);
    }
  }
}


.scrolled-mob-header {
  background-color: #fffffff3;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  .navTrigger2 {
    .line {
      stroke: black;
    }
  }
  .nav-search {
    .icon-search {
      background-image: url("data:image/svg+xml,%3Csvg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.4658 27L22.9798 22.506L27.4658 27ZM25.4658 16.5C25.4658 18.7543 24.5703 20.9163 22.9762 22.5104C21.3822 24.1045 19.2202 25 16.9658 25C14.7115 25 12.5495 24.1045 10.9554 22.5104C9.36135 20.9163 8.46582 18.7543 8.46582 16.5C8.46582 14.2457 9.36135 12.0837 10.9554 10.4896C12.5495 8.89553 14.7115 8 16.9658 8C19.2202 8 21.3822 8.89553 22.9762 10.4896C24.5703 12.0837 25.4658 14.2457 25.4658 16.5V16.5Z' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    }
  }
}

.stroke-white {
  .line {
    stroke: white !important;
  }
}

.nav-search {
  @include xxs {
    transform: translate3d(14px, 1px, 10px);
  }
}