@import "media-mixin.scss";
@import "./components-style/contacts.scss";

$primary-color: #fafafa;
$color-white: #ffffff;
$fs-15px: 15px;
.header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  animation: transHeaderOut 0.2s;
}
.header-content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 19px;
    margin-bottom: 14px;
    .header-bottom {
      height: unset;
      z-index: 10;
    }
    .contacts {
      gap: 20px;
      .point {
        a {
          span {
            &:last-child {
              display: none;
            }
          }
        }
      }
    }
  }
  .header-bottom {
    z-index: 9;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;

    .header-nav {
      .nav-items {
        display: flex;
        align-items: center;

        .nav-item {
          position: relative;
          display: flex;
          align-items: center;
          border-radius: 6px;
          transition: all 0.2s linear;
          margin-right: 20px;

          font-weight: 700;
          font-size: 16px;
          line-height: 120%;
          color: #ffffff;
          .nav-link {
            padding: 8px 15px;
            display: flex;
            align-items: center;
          }
          .dropdown {
            position: absolute;
            display: block;
            height: 0;
            opacity: 0;
            visibility: hidden;
            padding: 18px 16px;
            left: 0;
            top: 0;
            z-index: 10000;
            transform: translateY(405px);
            transition: all 0.2s ease;
          }
          &:last-child {
            margin-right: unset;
          }
        }
      }
    }
  }
}
.nav-item {
  &:hover {
    background: rgba(109, 173, 185, 0.1);
    backdrop-filter: blur(40px);
  }
}

.sub {
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
  }
  &:hover {
    // padding-bottom: 2px;
    &::after {
      content: "";
      position: absolute;
      left: -5px;
      top: 0px;
      width: 2px;
      height: 100%;
      background-color: #648b97;
      border-left: 2px solid rgba(255, 255, 255, 0.3);
    }
  }
  .arrow-white {
    transform: rotate(-90deg);
  }
}

.is-dropdown-submenu {
  .sub .is-active {
    i {
      transition: all 0.15s ease-in-out;
      transform: rotate(180deg);
    }
  }
}

.js-dropdown-active {
  visibility: visible !important;
  opacity: 1 !important;
  height: auto !important;
  text-align: left;
  background: #648b97;
  backdrop-filter: blur(40px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transform: translateY(44px) !important;
  z-index: 10000;

  .nav-item__child {
    margin-top: 21px;
    &:first-child {
      margin-top: unset;
    }
    a {
      white-space: nowrap;
      position: relative;
      &:hover {
        // padding-bottom: 2px;
        &::after {
          content: "";
          position: absolute;
          left: -5px;
          top: 6px;
          width: 2px;
          height: 100%;
          background-color: #648b97;
          border-left: 2px solid rgba(255, 255, 255, 0.3);
        }
      }
    }
  }

  li.sub.is-active {
    .sub-arrow {
      transition: all 0.15s ease-in-out;
      transform: rotate(0deg);
    }
  }
}

.is-active {
  background-color: #648b97;
  &:hover {
    background: #648b97;
    backdrop-filter: blur(40px);
  }
  i {
    transition: all 0.15s ease-in-out;
    transform: rotate(180deg);
  }
}

.top-companys {
  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }
}

hr {
  width: 100%;
  opacity: 0.5;
  margin: unset;
  transition: all 0.3s;
}

.scrolled-header {
  width: 100%;
  background-color: #fffffff3;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s;
  transition: all 0.15s ease;
  transform: translateY(-68px);
  animation: translateHeader 0.2s;
  .header-content {
    transition: all 0.15s ease-in-out;
    hr {
      display: none;
      transition: all 0.15s ease-in-out;
    }
    .header-bottom {
      transition: all 0.15s ease-in-out;
      a {
        color: black !important;
      }
      img {
        transition: all 0.15s ease-in-out;
      }
      i {
        transition: all 0.15s ease-in-out;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='black'/%3E%3C/svg%3E%0A");
      }
    }
  }
}
.companys-link {
  font-size: 14px !important;
  font-weight: 500 !important;
}

ul li ul li a {
  transition: all 0.2s ease;
}

@keyframes translateHeader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-68px);
  }
}
@keyframes translateHeaderChild {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes transHeaderOut {
  0% {
    transform: translateY(-49px);
  }
  100% {
    transform: translateY(0);
  }
}
