header.header-casptone-white {
  .header-content {
    .top-companys {
      li {
        button {
          color: #0b1600;
          font-weight: 600;
          .arrow-skinny {
            background: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='black'/%3E%3C/svg%3E%0A")
              center/cover;
          }
          &:focus {
            color: white;
            .arrow-skinny {
              background: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='white'/%3E%3C/svg%3E%0A")
                center/cover;
            }
          }
        }
      }
    }
    .contacts {
      li {
        a {
          color: #0b1600 !important;
          span {
            color: #0b1600 !important;
          }
        }
      }
    }
    .header-bottom {
      .header-nav {
        ul.nav-items {
          li.nav-item {
            a.nav-link {
              color: #0b1600;
              .arrow-white {
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='%230B1600'/%3E%3C/svg%3E%0A");
              }
            }
            &.is-active {
              .nav-link {
                color: white;
                transition: all 0.1s ease-in-out;
              }
            }
          }
        }
        .nav-search {
          .icon-search {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.4658 27L22.9798 22.506L27.4658 27ZM25.4658 16.5C25.4658 18.7543 24.5703 20.9163 22.9762 22.5104C21.3822 24.1045 19.2202 25 16.9658 25C14.7115 25 12.5495 24.1045 10.9554 22.5104C9.36135 20.9163 8.46582 18.7543 8.46582 16.5C8.46582 14.2457 9.36135 12.0837 10.9554 10.4896C12.5495 8.89553 14.7115 8 16.9658 8C19.2202 8 21.3822 8.89553 22.9762 10.4896C24.5703 12.0837 25.4658 14.2457 25.4658 16.5V16.5Z' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
          }
        }
        .navTrigger {
          .line {
            stroke: #0b1600;
          }
          &.active-burger {
            .line {
              stroke: white;
            }
          }
        }
      }
    }
  }
}

[data-is-click="true"] {
  .nav-link {
    // color: white !important;
    .arrow-white {
      transform: rotate(180deg) !important;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='white'/%3E%3C/svg%3E%0A") !important;
      @include l-1100 {
        transform: rotate(90deg) !important;
      }
    }
  }
}

.scrolled-header {
  [data-is-click="true"] {
    .nav-link {
      color: black !important;
      .arrow-white {
        transform: rotate(180deg) !important;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='black'/%3E%3C/svg%3E%0A") !important;
        @include l-1100 {
          transform: rotate(90deg) !important;
        }
      }
    }
  }
}
header.scrolled-header.capstone-header
  .header-content
  .header-bottom
  nav.header-nav
  div.nav-items__wrapper
  ul.nav-items
  li.nav-item
  a.nav-link {
  color: black;
}

header.scrolled-header.header-casptone-white
  .header-content
  .header-bottom
  nav.header-nav
  div.nav-items__wrapper
  ul.nav-items
  li.nav-item
  a.nav-link {
  color: black;
}


header.active-white-header {
  div.header-content {
    .header-top {
      .top-companys {
        ul {
          li {
            button {
              color: white;
              .arrow-white {
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='white'/%3E%3C/svg%3E%0A") !important;
              }
            }
          }
        }
      }
      .contacts {
        li {
          a {
            color: white !important;
          }
        }
      }
    }
  }
  div.header-bottom {
    nav.header-nav {
      ul.nav-items {
        li.nav-item {
          a.nav-link {
            color: white !important;
            .arrow-white {
              background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4838 2.16294C11.0758 2.58094 6.78882 6.66494 6.78882 6.66494C6.68669 6.7708 6.56428 6.85499 6.42889 6.91249C6.2935 6.96999 6.14792 6.99963 6.00082 6.99963C5.85373 6.99963 5.70815 6.96999 5.57276 6.91249C5.43737 6.85499 5.31496 6.7708 5.21282 6.66494C5.21282 6.66494 0.923823 2.58094 0.517824 2.16294C0.109824 1.74494 0.0818233 0.992944 0.517824 0.547944C0.951824 0.101944 1.55882 0.0669441 2.09182 0.547944L5.99982 4.29494L9.90782 0.547944C10.4408 0.0669441 11.0488 0.101944 11.4838 0.547944C11.9198 0.992944 11.8928 1.74494 11.4838 2.16294Z' fill='white'/%3E%3C/svg%3E%0A") !important;
            }
          }
        }
      }
    }
  }
}
