extends layout/app

block page
    //- include chunk/header
    .header(style="height:140px; width: 100%; display: flex; background: #FBFEFE")
    main.main
      include chunk/q-press-center/press-center-main
    include chunk/footer