extends layout/app

block page
  include chunk/header-white
  main.main
    section.search-bar.section
      hr
      .wrapper
        nav.breadcrumbs 
          ul  
            li.breadcrumbs-item
              a(href="/") 
                i.icon-home 
            li 
              i.arrow-skinny
            li 
              a(href="javascript:void(0)") Поиск по сайту
        .search-content
          .search-overlay__content 
            form(action="")
              input(type="text" placeholder='Поиск по сайту').search-bar-input
              span.arrow-search 
              span.close-btn-search
        .serch-input-content 
  include chunk/footer