
extends layout/app

block page
  include chunk/header-white
  main.main
    section.section
      .wrapper 
        .map-wrapper.pt-100
          include chunk/q-main/maprussia
  include chunk/footer