
extends layout/app

block page
  include chunk/header-white
  main.main
    section.section.map-picker
      .wrapper 
        .map-wrapper.pt-100
          .block
            h4 Выберите на карте место, куда хотите добавить точку
          include chunk/q-main/maprussia
          .div.pt-64
            div(style='font-size: 24px;') Координаты Х:
              span#coordX(style='margin-left: 10px;')
            div(style='font-size: 24px; margin-top: 15px;') Координаты Y:
              span#coordY(style='margin-left: 10px;')
  include chunk/footer