section.structure.section 
  hr
  .wrapper  
    nav.breadcrumbs 
      ul  
        li.breadcrumbs-item
          a(href="/") 
            i.icon-home 
        li 
          i.arrow-black
        li 
          a(href="javascript:void(0)") Структура группы компаний
    .q-structure-wrapper
      .q-structure-head 
        .title-border 
          span Структура группы компаний
      .q-structure-body
        .q-structure-content 
          .q-structure-card 
            .img-block 
              img(src="./img/group-companys/генерация.png", alt="")
            .q-str-card__descr 
              .card-head 
                .title-mini 
                  span Сфера деятельности
                .grey-text 
                  span Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusamus ducimus modi qui molestias ipsa nulla commodi explicabo vel. Vero aliquid exercitationem animi rerum. Molestiae, vel! Hic ipsa dolor perspiciatis neque, harum, aspernatur minima tenetur ea sapiente eligendi sequi voluptas.
              .card-footer
                .card-footer__left
                  .title-mini 
                    span Руководство
                  .grey-text 
                    span Генеральный директор
                    span Курчатов А.В.
                  .grey-text 
                    span Председатель правления
                    span Яковлев А.А.
                a(href="").btn-more Узнать больше
          hr
          .q-structure-card 
            .img-block 
              img(src="./img/group-companys/инжиниринг.png", alt="")
            .q-str-card__descr 
              .card-head 
                .title-mini 
                  span Сфера деятельности
                .grey-text 
                  span Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusamus ducimus modi qui molestias ipsa nulla commodi explicabo vel. Vero aliquid exercitationem animi rerum. Molestiae, vel! Hic ipsa dolor perspiciatis neque, harum, aspernatur minima tenetur ea sapiente eligendi sequi voluptas.
              .card-footer
                .card-footer__left
                  .title-mini 
                    span Руководство
                  .grey-text 
                    span Генеральный директор
                    span Курчатов А.В.
                  .grey-text 
                    span Председатель правления
                    span Яковлев А.А.
                a(href="").btn-more Узнать больше
          hr
          .q-structure-card 
            .img-block 
              img(src="./img/group-companys/двсервис.png", alt="")
            .q-str-card__descr 
              .card-head 
                .title-mini 
                  span Сфера деятельности
                .grey-text 
                  span Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusamus ducimus modi qui molestias ipsa nulla commodi explicabo vel. Vero aliquid exercitationem animi rerum. Molestiae, vel! Hic ipsa dolor perspiciatis neque, harum, aspernatur minima tenetur ea sapiente eligendi sequi voluptas.
              .card-footer
                .card-footer__left
                  .title-mini 
                    span Руководство
                  .grey-text 
                    span Генеральный директор
                    span Курчатов А.В.
                  .grey-text 
                    span Председатель правления
                    span Яковлев А.А.
                a(href="").btn-more Узнать больше
          hr
          .q-structure-card 
            .img-block 
              img(src="./img/group-companys/артик.png", alt="")
            .q-str-card__descr 
              .card-head 
                .title-mini 
                  span Сфера деятельности
                .grey-text 
                  span Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusamus ducimus modi qui molestias ipsa nulla commodi explicabo vel. Vero aliquid exercitationem animi rerum. Molestiae, vel! Hic ipsa dolor perspiciatis neque, harum, aspernatur minima tenetur ea sapiente eligendi sequi voluptas.
              .card-footer
                .card-footer__left
                  .title-mini 
                    span Руководство
                  .grey-text 
                    span Генеральный директор
                    span Курчатов А.В.
                  .grey-text 
                    span Председатель правления
                    span Яковлев А.А.
                a(href="").btn-more Узнать больше
          hr
          .q-structure-card 
            .img-block 
              img(src="./img/group-companys/энерджи.png", alt="")
            .q-str-card__descr 
              .card-head 
                .title-mini 
                  span Сфера деятельности
                .grey-text 
                  span Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusamus ducimus modi qui molestias ipsa nulla commodi explicabo vel. Vero aliquid exercitationem animi rerum. Molestiae, vel! Hic ipsa dolor perspiciatis neque, harum, aspernatur minima tenetur ea sapiente eligendi sequi voluptas.
              .card-footer
                .card-footer__left
                  .title-mini 
                    span Руководство
                  .grey-text 
                    span Генеральный директор
                    span Курчатов А.В.
                  .grey-text 
                    span Председатель правления
                    span Яковлев А.А.
                a(href="").btn-more Узнать больше
          hr
          .q-structure-card 
            .img-block 
              img(src="./img/group-companys/первомайское.png", alt="")
            .q-str-card__descr 
              .card-head 
                .title-mini 
                  span Сфера деятельности
                .grey-text 
                  span Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusamus ducimus modi qui molestias ipsa nulla commodi explicabo vel. Vero aliquid exercitationem animi rerum. Molestiae, vel! Hic ipsa dolor perspiciatis neque, harum, aspernatur minima tenetur ea sapiente eligendi sequi voluptas.
              .card-footer
                .card-footer__left
                  .title-mini 
                    span Руководство
                  .grey-text 
                    span Генеральный директор
                    span Курчатов А.В.
                  .grey-text 
                    span Председатель правления
                    span Яковлев А.А.
                a(href="").btn-more Узнать больше
          hr
          .q-structure-card 
            .img-block 
              img(src="./img/group-companys/беринговский.png", alt="")
            .q-str-card__descr 
              .card-head 
                .title-mini 
                  span Сфера деятельности
                .grey-text 
                  span Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusamus ducimus modi qui molestias ipsa nulla commodi explicabo vel. Vero aliquid exercitationem animi rerum. Molestiae, vel! Hic ipsa dolor perspiciatis neque, harum, aspernatur minima tenetur ea sapiente eligendi sequi voluptas.
              .card-footer
                .card-footer__left
                  .title-mini 
                    span Руководство
                  .grey-text 
                    span Генеральный директор
                    span Курчатов А.В.
                  .grey-text 
                    span Председатель правления
                    span Яковлев А.А.
                a(href="").btn-more Узнать больше