section.about-group 
  .wrapper
    include ../components/breadcrumbs
    .about-content 
      .about-content__head 
        .title-border
          span О группе
      .about-content__body  
        .about-body__top 
          .mission-group 
            span Миссия группы
          .mission-group__descr
            .title-mini
              span Повышение уровни жизни населения в условиях Севера.
            .mission-descr 
              span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam tincidunt facilisis etiam tristique et viverra tristique et. Dictumst urna tortor, facilisis nunc. Tincidunt at mi libero praesent at feugiat posuere nec magna. Elementum lorem massa netus phasellus accumsan purus sit ut. Aliquam ultrices tellus nunc est nulla sit et.
        .about-body__middle
          .img-block 
            img(src="../img/about/winter.png", alt="" loading="lazy")
        .about-body__lower 
          .left
            .mission-group 
              span Миссия группы
            .title-mini
              span Способствовать обновлению энергообъектов РФ 
            .mission-descr 
              span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu, orci tempus, vestibulum eget risus id massa vitae. Molestie a duis facilisi est, aenean consectetur. Tempus, porta eget sollicitudin in mauris ipsum lobortis. Vel pretium, morbi egestas fringilla quis enim. Vel quam sit auctor vel accumsan aliquam facilisis volutpat. 
          .img-block 
            img(src="../img/about/summer.png", alt="" loading="lazy")
      .about-content__footer 
        .about-footer__title 
          span Наши партнеры
        .partners-container
          .partners-top.partners--top
            .swiper-wrapper 
              .swiper-slide.partners-item 
                a(href="1")
                  img(src="../img/partners/rusgidro.png", alt="")
              .swiper-slide.partners-item 
                a(href="2")
                  img(src="../img/partners/krdva.png", alt="")
              .swiper-slide.partners-item 
                a(href="3")
                  img(src="../img/partners/gerb.png", alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="../img/partners/rtk.png", alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="../img/partners/ag.png", alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="../img/partners/alrosa.png", alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="../img/partners/vodokanal.png", alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="../img/partners/sakhaen.png", alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="../img/partners/rusgidro.png", alt="")
          .partners-top.partners--lower
            .swiper-wrapper 
              .swiper-slide.partners-item 
                a(href="1")
                  img(src="../img/partners/rusgidro.png", alt="")
              .swiper-slide.partners-item 
                a(href="2")
                  img(src="../img/partners/krdva.png", alt="")
              .swiper-slide.partners-item 
                a(href="3")
                  img(src="../img/partners/gerb.png", alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="../img/partners/rtk.png", alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="../img/partners/ag.png", alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="../img/partners/alrosa.png", alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="../img/partners/vodokanal.png", alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="../img/partners/sakhaen.png", alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="../img/partners/rusgidro.png", alt="")


