section.documents.section 
  hr
  .wrapper 
    nav.breadcrumbs 
      ul  
        li.breadcrumbs-item
          a(href="/") 
            i.icon-home 
        li 
          i.arrow-black
        li Документы
        li 
          i.arrow-black
        li 
          a(href="javascript:void(0)") Указы президента
    .q-docs-wrapper 
      .q-docs-head 
        .title-border
          span Указы президента
      .q-docs-content  
        .q-docs-card__wrapper
          ul.q-docs-files
            li
              img(src="./img/docs-pdf.png", alt="" loading="lazy")
              a(href="#")  Указ президента № 579 от 13 мая 2010  Указ президента № 579 от 13 мая 2010  Указ президента № 579 от 13 мая 2010
            li
              img(src="./img/docs-pdf.png", alt="" loading="lazy")
              a(href="#")  Указ президента № 579 от 13 мая 2010
            li
              img(src="./img/docs-pdf.png", alt="" loading="lazy")
              a(href="#")  Указ президента № 579 от 13 мая 2010
            li
              img(src="./img/docs-pdf.png", alt="" loading="lazy")
              a(href="#")  Указ президента № 579 от 13 мая 2010
