section.documents   
  .wrapper 
    include ../components/breadcrumbs
    .q-docs-wrapper 
      .q-docs-head 
        .title-border
          span Документы
      .q-docs-content  
        .q-docs-card__wrapper 
          a(href="#").q-docs-card
            .img-block 
              img(src="../img/folders/folder_1.png", alt="")
            .q-docs-title   
              span Федеральные законы
          a(href="#").q-docs-card
            .img-block 
              img(src="../img/folders/folder_2.png", alt="")
            .q-docs-title   
              span Указы президента РФ
          a(href="#").q-docs-card
            .img-block 
              img(src="../img/folders/folder_3.png", alt="")
            .q-docs-title   
              span Соглашения
          a(href="#").q-docs-card
            .img-block 
              img(src="../img/folders/folder_4.png", alt="")
            .q-docs-title   
              span Презентации
