section.documents.section 
  hr
  .wrapper 
    nav.breadcrumbs 
      ul  
        li.breadcrumbs-item
          a(href="/") 
            i.icon-home 
        li 
          i.arrow-skinny
        li 
          a(href="javascript:void(0)") Документы
    .q-docs-wrapper 
      .q-docs-head 
        .title-border
          span Документы
      .q-docs-content  
        .q-docs-card__wrapper 
          a(href="http://localhost:3000/about-documents-files.html").q-docs-card
            .img-block 
              img(src="./img/folders/folder_1.png", alt="" loading="lazy")
            .q-docs-title   
              span Федеральные законы
          a(href="http://localhost:3000/about-documents-files.html").q-docs-card
            .img-block 
              img(src="./img/folders/folder_2.png", alt="" loading="lazy")
            .q-docs-title   
              span Указы президента РФ
          a(href="#").q-docs-card
            .img-block 
              img(src="./img/folders/folder_3.png", alt="" loading="lazy")
            .q-docs-title   
              span Соглашения
          a(href="#").q-docs-card
            .img-block 
              img(src="./img/folders/folder_4.png", alt="" loading="lazy")
            .q-docs-title   
              span Презентации
