section.documents   
  .wrapper 
    include ../components/breadcrumbs
    .q-docs-wrapper 
      .q-docs-head 
        .title-border
          span Указы президента
      .q-docs-content  
        .q-docs-card__wrapper 
