section.history 
  .wrapper
    include ../components/breadcrumbs
    .q-history-wrapper 
      .q-history-head
        .title-border
          span История
      .q-history-content  
        .timeline 
          .timeline-card 
            .timeline-card__date 2013
            .timeline-card__content 
              .title-mini 
                span Создание компании
                span Декабрь
              .grey-text
                span 18 декабря 2013 года была основана компания “ДВ Энержди”
              .img-block 
                img(src="https://via.placeholder.com/628x378", alt="")
          .timeline-card 
            .timeline-card__date 2014
            .timeline-card__content 
              .title-mini 
                span Первые договора
                span Апрель
              .grey-text
                span Были заключены первые проектные договора с Сахаагропродукт, Столичный рынок и Таубер и Ко.
              .img-block 
                img(src="https://via.placeholder.com/628x378", alt="")
          .timeline-card 
            .timeline-card__date.inviz 2014
            .timeline-card__content 
              .title-mini 
                span Энергоцентр ЯПФ
                span Декабрь
              .grey-text
                span Успешно сдан и осуществлен проект энергоцентра Якутской птицефабрики
              .img-block 
                img(src="https://via.placeholder.com/628x378", alt="")
          .timeline-card 
            .timeline-card__date 2015
            .timeline-card__content 
              .title-mini 
                span Программа ЖДЯ
                span Январь
              .grey-text
                span Начало реализации программы по энергообеспечению станций Железных дорог Якутии.
              .img-block 
                img(src="https://via.placeholder.com/628x378", alt="")
          .timeline-card 
            .timeline-card__date 2016
            .timeline-card__content 
              .title-mini 
                span Стратегия и PR
                span Февраль
              .grey-text
                span Была прописана стратегия, по которой было принято решение заняться другим направлением - теплоснабжение
              .img-block 
                img(src="https://via.placeholder.com/628x378", alt="")
          .timeline-card 
            .timeline-card__date.inviz 2016
            .timeline-card__content 
              .title-mini 
                span Официальный дистрибьютор
                span Июль
              .grey-text
                span В июле 2016 года стали официальными дистрибьюторами газовых микротурбин CAPSTONE по Дальнему Востоку.
              .img-block 
                img(src="https://via.placeholder.com/628x378", alt="")
          .timeline-card 
            .timeline-card__date 2017
            .timeline-card__content 
              .title-mini 
                span Ребрендинг
                span Апрель
              .grey-text
                span Советом учредителей поднят вопрос о проведении ребрендинга. Разработан новый логотип
              .img-block 
                img(src="https://via.placeholder.com/628x378", alt="")
          .timeline-card 
            .timeline-card__date.inviz 2017
            .timeline-card__content 
              .title-mini 
                span Теплоснабжение
                span Сентябрь
              .grey-text
                span Были взяты в эксплуатацию 5 котельных в с.Бютейдях и котельная ЯГСХА в с. Октемцы
              .img-block 
                img(src="https://via.placeholder.com/628x378", alt="")
          .timeline-card 
            .timeline-card__date 2018
            .timeline-card__content 
              .title-mini 
                span Систематизация
                span Май
              .grey-text
                span Начало систематизации бизнеса. Первым шагом внедрено финансовое планирование
              .img-block 
                img(src="https://via.placeholder.com/628x378", alt="")
          .timeline-card 
            .timeline-card__date 2019
            .timeline-card__content 
              .title-mini 
                span Концессионное соглашение
                span Февраль
              .grey-text
                span Подписано концессионное соглашение по 5 котельным в с. Бютейдях. Проведена модернизация и диспетчеризация трех котельных.
              .img-block 
                img(src="https://via.placeholder.com/628x378", alt="")
          .timeline-card 
            .timeline-card__date.inviz 2016
            .timeline-card__content 
              .title-mini 
                span Комфорт - бокс
                span Июнь
              .grey-text
                span Начата продажа и производство комфорт-боксов
              .img-block 
                img(src="https://via.placeholder.com/628x378", alt="")
          .timeline-card 
            .timeline-card__date.inviz 2016
            .timeline-card__content 
              .title-mini 
                span Создание товарищества
                span Июль
              .grey-text
                span Разделение направлений деятельности по компаниям и объединение в форме простого товарищества
              .img-block 
                img(src="https://via.placeholder.com/628x378", alt="")
          .timeline-card 
            .timeline-card__date.inviz 2016
            .timeline-card__content 
              .title-mini 
                span Концессионное соглашение
                span Декабрь
              .grey-text
                span Подписано концессионное соглашение по котельной ЯГСХА в с. Октемцы.
              .img-block 
                img(src="https://via.placeholder.com/628x378", alt="")
              