section.leadership
  .wrapper 
    include ../components/breadcrumbs
    .q-leadership-wrapper 
      .q-leadership-head
        .title-border
          span Руководсвто компании
      .q-leadership-content.pt-64
        .q-leadership-top.descr
          .q-top-title.left
            span.green-text Индивидуальный подход 
            span к каждому клиенту
          .q-top-text.right
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum, rhoncus eu a eu ac at malesuada faucibus donec. Aliquet sed eget etiam eget arcu, tincidunt. Purus consequat id adipiscing lectus. Tincidunt egestas aliquam diam iaculis et blandit. Feugiat vel lobortis aliquam eget. Ut ipsum, vitae in sit. Commodo diam neque laoreet ac vel, enim. Amet risus gravida cras vestibulum aliquam. Odio libero a nec vitae id. Sed suspendisse non ornare integer sit posuere nunc. Turpis mus.
        .q-leadership-leaders 
          .q-leaders-wrapper 
            .q-leaders-card 
              .img-block    
                img(src="../img/leaders/l-1.png", alt="")
              .q-card-name 
                span Курчатов Александр Владимирович
              .q-card-descr 
                span Генеральный Директор ООО “Генерация”
              ul.q-contacts 
                li.phone
                  i 
                    img(src="./img/phone.svg" alt="")
                  a(href="tel: 89998003344") +7 (4112) 31-84-40
                li.mail 
                  i   
                    img(src="./img/mail.svg", alt="")
                  a(href="mailto: dsadsa@mai.ru") info@dvenergy.pro
            .q-leaders-card 
              .img-block    
                img(src="../img/leaders/l-2.png", alt="")
              .q-card-name 
                span Булкин Владимир Евгеньевич
              .q-card-descr 
                span Заместитель генерального директора ООО “Генерация”
              ul.q-contacts 
                li.phone
                  i 
                    img(src="./img/phone.svg" alt="")
                  a(href="tel: 89998003344") +7 (4112) 31-84-40
                li.mail 
                  i   
                    img(src="./img/mail.svg", alt="")
                  a(href="mailto: dsadsa@mai.ru") info@dvenergy.pro
            .q-leaders-card 
              .img-block    
                img(src="../img/leaders/l-3.png", alt="")
              .q-card-name 
                span Яковлев Артем Александрович
              .q-card-descr 
                span Председатель провления
              ul.q-contacts 
                li.phone
                  i 
                    img(src="./img/phone.svg" alt="")
                  a(href="tel: 89998003344") +7 (4112) 31-84-40
                li.mail 
                  i   
                    img(src="./img/mail.svg", alt="")
                  a(href="mailto: dsadsa@mai.ru") info@dvenergy.pro
            .q-leaders-card 
              .img-block    
                img(src="../img/leaders/l-4.png", alt="")
              .q-card-name 
                span Бойлохов Андрей Александрович
              .q-card-descr 
                span Генеральный Директор ООО “ДВ Инжиниринг”
              ul.q-contacts 
                li.phone
                  i 
                    img(src="./img/phone.svg" alt="")
                  a(href="tel: 89998003344") +7 (4112) 31-84-40
                li.mail 
                  i   
                    img(src="./img/mail.svg", alt="")
                  a(href="mailto: dsadsa@mai.ru") info@dvenergy.pro
            .q-leaders-card 
              .img-block    
                img(src="../img/leaders/l-5.png", alt="")
              .q-card-name 
                span Карамзина Анна Павловна
              .q-card-descr 
                span Генеральный Директор ООО “ДВ Энерджи”
              ul.q-contacts 
                li.phone
                  i 
                    img(src="./img/phone.svg" alt="")
                  a(href="tel: 89998003344") +7 (4112) 31-84-40
                li.mail 
                  i   
                    img(src="./img/mail.svg", alt="")
                  a(href="mailto: dsadsa@mai.ru") info@dvenergy.pro
            .q-leaders-card 
              .img-block    
                img(src="../img/leaders/l-6.png", alt="")
              .q-card-name 
                span Бурнашев Иван Иванович
              .q-card-descr 
                span Генеральный Директор ООО “ДВ Сервис”
              ul.q-contacts 
                li.phone
                  i 
                    img(src="./img/phone.svg" alt="")
                  a(href="tel: 89998003344") +7 (4112) 31-84-40
                li.mail 
                  i   
                    img(src="./img/mail.svg", alt="")
                  a(href="mailto: dsadsa@mai.ru") info@dvenergy.pro
