section.vacancys-jobs
  .wrapper 
    include ../components/breadcrumbs
    .q-jobs-wrapper  
      .q-jobs-head
        .title-border
          span Производство
      .q-jobs-content.pt-64
        .q-jobs-card_wrapper
          .q-jobs-card 
            .title-mini 
              span Начальник транспортного цеха и АХЧ
            span Группа компаний ООО “Генерация”; г.Якутск
            span Нам нужен менеджер для активных продаж с опытом, работа подразумевает продажу американского энергетического оборудования и запасных частей на территории Дальневосточного и Сибирского ФО.
            a.btn-more(href="#") Подробнее
          .q-jobs-card 
            .title-mini 
              span Начальник транспортного цеха и АХЧ
            span Группа компаний ООО “Генерация”; г.Якутск
            span Нам нужен менеджер для активных продаж с опытом, работа подразумевает продажу американского энергетического оборудования и запасных частей на территории Дальневосточного и Сибирского ФО.
            a.btn-more(href="#") Подробнее
          .q-jobs-card 
            .title-mini 
              span Начальник транспортного цеха и АХЧ
            span Группа компаний ООО “Генерация”; г.Якутск
            span Нам нужен менеджер для активных продаж с опытом, работа подразумевает продажу американского энергетического оборудования и запасных частей на территории Дальневосточного и Сибирского ФО.
            a.btn-more(href="#") Подробнее
          .q-jobs-card 
            .title-mini 
              span Начальник транспортного цеха и АХЧ
            span Группа компаний ООО “Генерация”; г.Якутск
            span Нам нужен менеджер для активных продаж с опытом, работа подразумевает продажу американского энергетического оборудования и запасных частей на территории Дальневосточного и Сибирского ФО.
            a.btn-more(href="#") Подробнее
          .q-jobs-card 
            .title-mini 
              span Начальник транспортного цеха и АХЧ
            span Группа компаний ООО “Генерация”; г.Якутск
            span Нам нужен менеджер для активных продаж с опытом, работа подразумевает продажу американского энергетического оборудования и запасных частей на территории Дальневосточного и Сибирского ФО.
            a.btn-more(href="#") Подробнее