section.vacancys-jobs.section
  hr
  .wrapper 
    nav.breadcrumbs 
      ul  
        li.breadcrumbs-item
          a(href="/") 
            i.icon-home 
        li 
          i.arrow-skinny
        li
          a(href="#") Вакансии
        li 
          i.arrow-skinny
        li 
          a(href="javascript:void(0)") Производство
    .q-jobs-wrapper  
      .q-jobs-head
        .title-border
          span Производство и изготовление
      .q-jobs-content.pt-64
        .q-jobs-card_wrapper
          .q-jobs-card 
            .title-mini 
              span Начальник транспортного цеха и АХЧ
            span.q-jobs-green-text Группа компаний ООО “Генерация”; г.Якутск
            span.q-jobs-grey-text Нам нужен менеджер для активных продаж с опытом, работа подразумевает продажу американского энергетического оборудования и запасных частей на территории Дальневосточного и Сибирского ФО.
            a.btn-more(href="#" data-hystmodal="#myModal") Подробнее
          .q-jobs-card 
            .title-mini 
              span Начальник транспортного цеха и АХЧ
            span.q-jobs-green-text Группа компаний ООО “Генерация”; г.Якутск
            span.q-jobs-grey-text Нам нужен менеджер для активных продаж с опытом, работа подразумевает продажу американского энергетического оборудования и запасных частей на территории Дальневосточного и Сибирского ФО.
            a.btn-more(href="#") Подробнее
          .q-jobs-card 
            .title-mini 
              span Начальник транспортного цеха и АХЧ
            span.q-jobs-green-text Группа компаний ООО “Генерация”; г.Якутск
            span.q-jobs-grey-text Нам нужен менеджер для активных продаж с опытом, работа подразумевает продажу американского энергетического оборудования и запасных частей на территории Дальневосточного и Сибирского ФО.
            a.btn-more(href="#") Подробнее
          .q-jobs-card 
            .title-mini 
              span Начальник транспортного цеха и АХЧ
            span.q-jobs-green-text Группа компаний ООО “Генерация”; г.Якутск
            span.q-jobs-grey-text Нам нужен менеджер для активных продаж с опытом, работа подразумевает продажу американского энергетического оборудования и запасных частей на территории Дальневосточного и Сибирского ФО.
            a.btn-more(href="#" data-popup="#jobs-popup") Подробнее
          .q-jobs-card 
            .title-mini 
              span Начальник транспортного цеха и АХЧ
            span.q-jobs-green-text Группа компаний ООО “Генерация”; г.Якутск
            span.q-jobs-grey-text Нам нужен менеджер для активных продаж с опытом, работа подразумевает продажу американского энергетического оборудования и запасных частей на территории Дальневосточного и Сибирского ФО.
            a.btn-more(href="#" data-hystmodal="#myModal") Подробнее
        .q-jobs-popup.hystmodal#myModal(aria-hidden="true")
          .q-popup-body.hystmodal__wrap
            .q-popup-content.hystmodal__window(role='dialog' aria-modal='true')
              a(href='#' data-hystclose).hystmodal__close 
              .q-popup-content__head
                .title-mini 
                  span Начальник транспортного цеха и АХЧ
                span.q-jobs-green-text Группа компаний ООО “Генерация”; г.Якутск
                span.q-jobs-grey-text Нам нужен менеджер для активных продаж с опытом, работа подразумевает продажу американского энергетического оборудования и запасных частей на территории Дальневосточного и Сибирского ФО.
              .q-popup-content__body 
                .q-p-item
                  .q-p-title 
                    span Обязанности:
                  ul.q-p-list 
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                .q-p-item
                  .q-p-title 
                    span Требования:
                  ul.q-p-list 
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                .q-p-item
                  .q-p-title 
                    span Условия:
                  ul.q-p-list 
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor nisi.
                .q-p-item 
                  .q-p-title 
                    span Контактная информация:
                  include ../components/contacts
                  a(href="#" data-hystmodal="#popup-form").btn-more Отправить резюме 
        .q-popup-form.hystmodal#popup-form 
          .hystmodal__wrap
            .q-p-form-content.hystmodal__window(role='dialog' aria-modal='true')
              a(href='#' data-hystclose).hystmodal__close 
              .q-p-form-head
                .title-mini 
                  span Отправить резюме
              .q-p-form-body 
                form.q-form(action="")
                  ul.q-form-row   
                    li 
                      input.q-form-name.input(type="text" placeholder='ФИО' required)
                    li 
                      input.q-form-phone.input(type="text" placeholder='Контактные данные'  required maxlength="12")
                    li 
                      input.q-form-email.input(type="text" placeholder='Электронная почта'  required )
                    li 
                      textarea#rewview(name="rewview" cols="20" rows="5" style="resize: vertical;" placeholder="Сопроводительное письмо (по желанию)")
                    li.q-form__file-upload 
                      input.q-form-file(type="file" id="file-input" multiple style="display: none;")
                      label(for="file-input") Прикрепите резюме
                    li.q-form__privacy
                      span Нажимая кнопку вы даете информационное согласие 
                      a(href="#") на обработку персональных данных
                    li 
                      button.btn-more(type='sumbit') Отправить