section.vacancys
  .wrapper 
    include ../components/breadcrumbs
    .q-vacancys-wrapper   
      .q-vacancys-head
        .title-border
          span Вакансии
      .q-vacancys-content.pt-64
        .q-vacancys-top.descr 
          .q-top-title.left
            span.green-text ГК Генерация 
            span - это сплоченная сильная команда. Мы создаем автономные электростанции, сопровождая и обслуживая их с гарантией.
          .q-top-text.right
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum, rhoncus eu a eu ac at malesuada faucibus donec. Aliquet sed eget etiam eget arcu, tincidunt. Purus consequat id adipiscing lectus. Tincidunt egestas aliquam diam iaculis et blandit. Feugiat vel lobortis aliquam eget. Ut ipsum, vitae in sit. Commodo diam neque laoreet ac vel, enim. Amet risus gravida cras vestibulum aliquam. Odio libero a nec vitae id. Sed suspendisse non ornare integer sit posuere nunc. Turpis mus.
            p Мы приглашаем активных, ответственных, умеющих работать в команде и достигать результата специалистов
        .q-vacancys-body.pt-100
          .title 
            span Открытые вакансии
          .q-vac-cards 
            .q-vac-card   
              .img-block 
                img(src="../img/activity/сервисное.png", alt="")
              .title-mini 
                span Производство и изготовление
              p Изготовление, выработка, создание какой-н. продукции.
              a(href="#") Посмотреть 
            .q-vac-card   
              .img-block 
                img(src="../img/activity/проектирование.png", alt="")
              .title-mini 
                span Производство и изготовление
              p Изготовление, выработка, создание какой-н. продукции.
              a(href="#") Посмотреть 
            .q-vac-card   
              .img-block 
                img(src="../img/activity/контроль.png", alt="")
              .title-mini 
                span Производство и изготовление
              p Изготовление, выработка, создание какой-н. продукции.
              a(href="#") Посмотреть 
            .q-vac-card   
              .img-block 
                img(src="../img/activity/прогресс.png", alt="")
              .title-mini 
                span Производство и изготовление
              p Изготовление, выработка, создание какой-н. продукции.
              a(href="#") Посмотреть 
        .q-vacancys-lower.pt-100
          .title 
            span Рабочий момент
          .q-descr 
            span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem deserunt saepe assumenda adipisci ab placeat eligendi sequi tempore omnis nisi eaque, odit incidunt iure veritatis quisquam minima voluptatibus, explicabo temporibus!
          .q-vacancys-swiper 
            .swiper-wrapper 
              .q-vac-swiper__card.swiper-slide
                .img-block 
                  img(src="../img/vacancys/1.png", alt="")
                .q-vac-swiper__card-text
                  span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie et.
              .q-vac-swiper__card.swiper-slide
                .img-block 
                  img(src="../img/vacancys/2.png", alt="")
                .q-vac-swiper__card-text
                  span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie et.
              .q-vac-swiper__card.swiper-slide
                .img-block 
                  img(src="../img/vacancys/1.png", alt="")
                .q-vac-swiper__card-text
                  span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie et.
              .q-vac-swiper__card.swiper-slide
                .img-block 
                  img(src="../img/vacancys/2.png", alt="")
                .q-vac-swiper__card-text
                  span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie et.