.arctic-about {
  background: url("../img/slide.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 650px;
  width: 100%;
  @include xxs {
    min-height: 440px;
  }
  &::after {
    content: "";
    background: rgba(36, 36, 36, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .wrapper {
    .about-content-card {
      position: absolute;
      top: 250px;
      z-index: 10;
      @include m-640 {
        width: 90%;
        @include xxs {
          // width: unset;
          top: 133px;
          left: unset;
        }
      }

      .b-border {
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        color: #ffffff;
        border-bottom: 3px solid #5a76b6;
        padding-bottom: 6px;
        width: auto;
        display: inline-block;
        @include l-1150 {
          width: 83%;
          @include xxm {
            font-size: 36px;
            @include xm {
              // width: 386px;
              @include m-small {
                font-size: 24px;
              }
            }
          }
        }
      }
      p {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #ffffff;
        max-width: 950px;
        margin-top: 16px;
        @include m-small {
          font-size: 14px;
        }
      }
    }
  }
}

.about-card-arc {
  padding: 100px 0 0 0;
  @include l-1150 {
    padding: 80px 0 0 0;
    @include xm {
      padding: 70px 0 0 0;
    }
  }
  .about-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 20px;
    @include xm {
      flex-direction: column;
      .left {
        max-width: unset;
      }
      .right {
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .left {
      max-width: 570px;
      width: 100%;
      .arctic-text {
        margin-top: 32px;
        @include xxm {
          margin-top: 16px;
          span {
            font-size: 16px;
          }
          @include m-small {
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
    .right {
      img {
        max-width: 640px;
        max-height: 420px;
        @include l-1150 {
          max-width: 420px;
          max-height: 275px;
        }
      }
    }
  }
}

.activity-arc {
  padding-top: 100px;
  @include m-small {
    padding-top: 70px;
  }
}

.activity-content {
  .title-block {
    .block {
      margin-top: 20px;
      span {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #7080a3;
        @include xxm {
          font-size: 16px;
          @include m-small {
            font-size: 14px;
          }
        }
      }
    }
  }
  .activity-body {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 32px;
    @include l-1150 {
      grid-auto-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    @include xm {
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr;
    }
    .arctic-act-card {
      max-width: 310px;
      height: auto;
      width: 100%;
      background: #fafbfc;
      border: 1px solid #dadfea;
      box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
      border-radius: 6px;
      padding: 40px 20px 20px 20px;
      @include l-1150 {
        max-width: unset;
        padding: 32px;
        
        .card-content {
          flex-direction: row;
        }
        @include l {
          height: 188px;
          @include xxs-big {
            height: 160px;
          }
        }
        @include xxs-big {
          padding: 20px;
        }
      }
      .card-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        @include l {
          gap: 10px;
          height: 100%;
        }
        .img-block {
          margin-bottom: 30px;
          @include l-1150 {
            margin-bottom: unset;
            @include  xxs {
              align-self: flex-start;
            }
          } 
        }
        .block {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 155px;
          @include l-1150 {
            height: 100%;
            max-width: 65%;
          }
          @include xxm {
            max-width: 60%;
          }
          @include xm {
            max-width: 75%;
          }
          @include m-small {
            max-width: 65%;
          }
          img {
            width: 124px;
            height: 124px;
          }
          span {
            display: inline-block;
            align-self: flex-start;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #0e2252;
            text-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
            @include m-small {
              font-size: 16px;
            }
          }
          p {
            align-self: flex-start;
            margin-top: 10px;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: #7080a3;
            text-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
            @include l {
              display: none;
            }
            @include xm {
              display: inline-block;
            }
            @include xxs-big {
              display: none;
            }
          }
          .more-link {
            display: flex;
            align-items: center;
            align-self: flex-start;
            gap: 7px;
            margin-top: auto;
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            color: #ff8202;
            @include m-small {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.contacts-arc {
  padding: 100px 0;
  @include m-small {
    padding: 70px 0;
  }
}

.arc-contacts-body {
  padding-top: 48px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @include xxm {
    padding-top: 38px;
    @include m-small {
      padding-top: 30px;
    }
  }
  @include xm {
    flex-direction: column;
  }
  .left {
    padding: 16px 4px;
    .arc-contacts__items {
      max-width: 604px;
      width: 100%;
      @include xm {
        max-width: unset;
      }
      .top-items {
        .block {
          display: flex;
          align-items: center;
          gap: 18px;
        }
        ul {
          .w-arrow {
            justify-content: space-between;
          }
          li {
            display: flex;
            align-items: center;
            gap: 18px;
            margin-bottom: 24px;
            &:last-child {
              margin-bottom: unset;
            }
            span {
              font-family: "Inter", sans-serif;
              font-weight: 400;
              font-size: 18px;
              line-height: 140%;
              color: #7080a3;
              @include xxm {
                font-size: 16px;
                @include m-small {
                  font-size: 14px;
                }
              }
            }
            .block-column {
              @include m-950 {
                display: flex;
                flex-direction: column;
                gap: 5px;
              }
            }
          }
        }
      }
      .top-items {
        padding-bottom: 24px;
        border-bottom: 1px solid rgba(17, 43, 102, 0.2);
      }
      .bottom-items {
        padding-top: 24px;
        ul {
          li {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .block {
              display: flex;
              align-items: center;
              gap: 17px;
              i {
                align-self: flex-start;
              }
              span {
                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                color: #7080a3;
                max-width: 494px;
                width: 100%;
                @include xxm {
                  font-size: 16px;
                  @include m-small {
                    font-size: 14px;
                  }
                }
              }
            }
            .arrow-opacity {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
  .right {
    max-width: 640px;
    width: 100%;
    height: auto;
    @include xl-1300 {
      max-width: 550px;
      @include l-1150 {
        max-width: 420px;
      }
    }
    @include m-840 {
      max-width: 365px;
    }
    @include xm {
      max-width: unset;
    }
    .hire-me {
      background: #fafbfc;
      border: 1px solid #dadfea;
      box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
      border-radius: 6px;
      padding: 24px;
      .hire-me__title {
        span {
          font-weight: 700;
          font-size: 24px;
          line-height: 160%;
          color: #14213a;
          @include xxm {
            font-size: 20px;
          }
        }
      }
      .hire-me__items {
        margin-top: 20px;
        li {
          input {
            background: #fdfdfd;
            border: 1px solid #dadfea;
            border-radius: 6px;
            padding: 11px 18px;
            height: 48px;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 24px;
            @include xxm {
              font-size: 16px;
              @include m-small {
                font-size: 14px;
                margin-bottom: 20px;
                &:last-child {
                  margin-bottom: 20px;
                }
              }
            }
            &:last-child {
              margin-bottom: 40px;
            }
          }
        }
      }
      button {
        background: #ff8202;
        border-radius: 6px;
        padding: 12px 28px;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: white;
        cursor: pointer;

      }
    }
  }
}
