

.arctic-about {
  background: url("../img/slide.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 650px;
  width: 100%;
  @include xxs {
    min-height: 440px;
  }
  &::after {
    content: '';
    background: rgba(36, 36, 36, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
  }
}