.capstone-about {
  background: url("../img/capstone/bg-capsone.png") no-repeat center/cover;
  .wrapper {
    .about-content-card {
      position: absolute;
      top: 265px;
      z-index: 10;
      @include m-640 {
        width: 90%;
        @include xxs {
          // width: unset;
          top: 133px;
          left: unset;
        }
      }

      .b-border {
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        color: #ffffff;
        border-bottom: 3px solid #77b946;
        padding-bottom: 6px;
        width: auto;
        display: inline-block;
        @include l-1150 {
          // width: 83%;
          @include xxm {
            font-size: 36px;
            @include xm {
              //
              @include m-small {
                font-size: 24px;
              }
            }
          }
        }
      }
      p {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #ffffff;
        max-width: 950px;
        margin-top: 16px;
        @include m-small {
          font-size: 14px;
        }
      }
    }
  }
}

.card-content {
  span {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #0b1600;
  }
}

.capstone-text {
}
section.capstone-activity {
  @include xxm {
    padding: 70px 0 20px 0;
  }
}

.capstone-about-section {
  .about-card-content {
    .left {
      .title-blue {
        span {
          color: #6b9b3c;
        }
      }
      .capstone-text {
        span {
          color: #0b1600;
        }
      }
    }
  }
}

section.capstone-swiper__cards {
  @include m-small {
    padding-top: 70px;
  }
  .wrapper {
    .about-content__footer {
      .title-block {
        .title-green {
          span {
            font-weight: 700;
            font-size: 36px;
            line-height: 130%;
            color: #6b9b3c;
            @include l {
              font-size: 32px;
              @include m-small {
                font-size: 24px;
              }
            }
          }
        }
        .title-descr {
          padding-top: 20px;
          width: 100%;
          @include m-small {
            display: none;
          }
          span {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            color: #0b1600;
            @include l {
              font-size: 16px;
            }
          }
        }
      }
      .partners-container {
        .partners-item {
          transition: all 0.3s ease-in-out;
          position: relative;
          a {
            span {
              opacity: 0;
              position: absolute;
              font-weight: 700;
              font-size: 18px;
              line-height: 140%;
              color: #437610;
              text-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
              transition: all 0.3s ease-in-out;
            }
            img {
              transition: all 0.3s ease-in-out;
            }
          }
          &:hover {
            a {
              img {
                opacity: 0;
              }
              span {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

section.slider-casptone {
  @include m-880 {
    padding-bottom: 40px;
  }
  .content {
    display: flex;
    @include xxl {
      justify-content: center;
    }
    @include m-880 {
      flex-direction: column;
      .left-slide {
        margin-bottom: 32px;
        .card-with-pagination {
          background: unset;
          max-width: unset;
          width: 100%;
          padding: unset;
          .block {
            .slider-casptone-button-next,
            .slider-casptone-button-prev {
              display: none;
            }
          }
        }
      }
    }
    .left-slide {
      margin-right: 20px;
      .card-with-pagination {
        background: #dbebee;
        border-radius: 8px;
        max-width: 310px;
        height: 100%;
        padding: 31px;
        display: flex;
        flex-direction: column;
        position: relative;
        @include xxm {
          width: 268px;
        }
        .text-block {
          span {
            font-weight: 700;
            font-size: 22px;
            line-height: 140%;
            color: #0b1600;
            text-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
            &.green-text {
              color: #6b9b3c;
              display: block;
            }
          }
        }
        p {
          margin-top: 10px;
          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: #0b1600;
          text-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
          @include m-840 {
            font-size: 14px;
          }
        }
        .block {
          position: absolute;
          bottom: 50px;
          display: flex;
          gap: 20px;
          .swiper-button-disabled {
            opacity: .6;
          }
          .slider-casptone-button-next{
            right: -100px;
            transform: rotate(180deg);
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='40' y='40' width='40' height='40' rx='8' transform='rotate(-180 40 40)' fill='white' fill-opacity='0.6'/%3E%3Cpath d='M17.9993 19.9994L24.2813 26.8394C24.539 27.0997 24.6836 27.4512 24.6836 27.8174C24.6836 28.1837 24.539 28.5352 24.2813 28.7954C24.1548 28.9239 24.0039 29.026 23.8376 29.0956C23.6712 29.1653 23.4927 29.2012 23.3123 29.2012C23.132 29.2012 22.9534 29.1653 22.7871 29.0956C22.6207 29.026 22.4699 28.9239 22.3433 28.7954L14.6833 20.9794C14.426 20.7186 14.2817 20.3669 14.2817 20.0004C14.2817 19.634 14.426 19.2823 14.6833 19.0214L22.3433 11.2054C22.4699 11.0769 22.6207 10.9749 22.7871 10.9052C22.9534 10.8356 23.132 10.7997 23.3123 10.7997C23.4927 10.7997 23.6712 10.8356 23.8376 10.9052C24.0039 10.9749 24.1548 11.0769 24.2813 11.2054C24.539 11.4657 24.6836 11.8172 24.6836 12.1834C24.6836 12.5497 24.539 12.9012 24.2813 13.1614L17.9993 19.9994Z' fill='%230B1600'/%3E%3C/svg%3E%0A");
            &::after {
              content: "";
            }
          }
          .slider-casptone-button-prev {
            left: 0;
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='40' y='40' width='40' height='40' rx='8' transform='rotate(-180 40 40)' fill='white' fill-opacity='0.6'/%3E%3Cpath d='M17.9993 19.9994L24.2813 26.8394C24.539 27.0997 24.6836 27.4512 24.6836 27.8174C24.6836 28.1837 24.539 28.5352 24.2813 28.7954C24.1548 28.9239 24.0039 29.026 23.8376 29.0956C23.6712 29.1653 23.4927 29.2012 23.3123 29.2012C23.132 29.2012 22.9534 29.1653 22.7871 29.0956C22.6207 29.026 22.4699 28.9239 22.3433 28.7954L14.6833 20.9794C14.426 20.7186 14.2817 20.3669 14.2817 20.0004C14.2817 19.634 14.426 19.2823 14.6833 19.0214L22.3433 11.2054C22.4699 11.0769 22.6207 10.9749 22.7871 10.9052C22.9534 10.8356 23.132 10.7997 23.3123 10.7997C23.4927 10.7997 23.6712 10.8356 23.8376 10.9052C24.0039 10.9749 24.1548 11.0769 24.2813 11.2054C24.539 11.4657 24.6836 11.8172 24.6836 12.1834C24.6836 12.5497 24.539 12.9012 24.2813 13.1614L17.9993 19.9994Z' fill='%230B1600'/%3E%3C/svg%3E%0A");
            &::after {
              content: "";
            }
            
          }
        }
      }
    }
    .right-slide {
      .slider-capstone {
        overflow-x: hidden;
        max-width: 970px;
        @include xxl {
          max-width: 640px;
          @include xxm {
            max-width: 557px;
          }
        }
        @include m-880 {
          overflow: unset;
          max-width: unset;
        }
        .slide-card {
          background: #ffffff;
          border: 1px solid #d6e9ec;
          box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
          border-radius: 8px;
          padding: 40px 20px 32px 20px;
          display: flex;
          flex-direction: column;
          max-width: 310px;
          height: 100%;
          @include xxm {
            width: 268px;
            @include m-small {
              padding: 20px;
            }
          }
          .img-block {
            align-self: center;
          }
          .card-title {
            margin-top: 30px;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #0b1600;
            text-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
            @include m-small {
              font-size: 14px;
            }
          }
          .card-p {
            margin-top: 10px;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: #0b1600;
            text-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
            @include m-small {
              font-size: 14px;
            }
          }
        }
      }

      
    }
  }
}
.capstone-pag {
  display: none;
  width: 40% !important;
  height: 8px !important;
  left: unset !important;
  right: 30% !important;
  bottom: -37px !important;
  top: unset !important;
  border-radius: 4px !important;
  background: #cadfe2 !important;
  box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1) !important;
  @include m-880 {
    display: block;
  }
  span {
    background: #8bacb2 !important;
    box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1) !important;
    border-radius: 4px !important;
  }
}

section.map-capstone {
  .map-swiper__container {
    .swiper-button-prev,
    .swiper-button-next {
      @include xxm {
        display: none;
      }
    }
  }
}

section.capstone-contacts {
  padding-bottom: 100px;
  @include m-small {
    padding-bottom: 70px;
  }
  .q-contacts-head {
    @include xm {
      margin-top: 0;
    }
  }
  .q-contacts-body {
    gap: 10px;
    .q-left {
      @include xm {
        margin-bottom: 30px;
      }
      .q-contacts-cards__left,
      .q-contacts-cards__right {
        .q-card-adress {
          span {
            font-weight: 500;
          }
        }
      }
    }
    .capstone-hire-me {
      max-width: 640px;
      width: 100%;
      height: auto;
      @include xl-1300 {
        max-width: 550px;
        @include l-1150 {
          max-width: 420px;
        }
      }
      @include m-840 {
        max-width: 365px;
      }
      @include xm {
        max-width: unset;
      }
      .hire-me {
        background: #fafbfc;
        border: 1px solid #dadfea;
        box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
        border-radius: 6px;
        padding: 24px;
        .hire-me__title {
          span {
            font-weight: 700;
            font-size: 24px;
            line-height: 160%;
            color: #14213a;
            @include xxm {
              font-size: 20px;
            }
          }
        }
        .hire-me__items {
          margin-top: 20px;
          li {
            margin-bottom: 24px;
            &:last-child {
              margin-bottom: 40px;
            }
            input {
              background: #fdfdfd;
              border: 1px solid #dadfea;
              border-radius: 6px;
              padding: 11px 18px;
              height: 48px;
              font-family: "Inter", sans-serif;
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
  
              @include xxm {
                font-size: 16px;
                @include m-small {
                  font-size: 14px;
                  margin-bottom: 20px;
                  &:last-child {
                    margin-bottom: 20px;
                  }
                }
              }
            }
          }
        }
        button {
          background: #77b946;
          border-radius: 6px;
          padding: 12px 28px;
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
  
}
