section.activity  
  .wrapper 
    .activity-content
      .title-block 
        .title      
          span Виды деятельности
        .activity-descr 
          span Все наши деятельности, будь то строительство, теплоснабжение, производство направлены на выполнение высококачественного проекта в кратчайшие сроки.
          span Все наши деятельности направлены на выполнение проекта в кратчайшие сроки.
      .activity-swiper.mySwiper1
        .swiper-wrapper 
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/activity/сервисное.png", alt="")
              span.card-title Сервисное
              p.card-p Техническое и аварийно-диспетчерское обслужевание
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/activity/консультации.png", alt="")
              span.card-title Консультации
              p.card-p Решим существующие проблемы фирмы
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/activity/ивестиции.png", alt="")
              span.card-title Инвестиции
              p.card-p Концессионные соглашения
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/activity/capstone.svg", alt="")
              span.card-title Capstone
              p.card-p Газовые микротурбинные установки
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card 
            a.card-content(href="#")  
              img(src="./img/activity/проектирование.png", alt="")
              span.card-title Проектирование
              p.card-p Изыскательские и проектные работы
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/activity/теплоснабжение.png", alt="")
              span.card-title Теплоснабжение
              p.card-p Эксплуатация котельных
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/activity/ниокр.png", alt="")
              span.card-title НИОКР
              p.card-p Научно-исследовательские и опытно-конструкт-е работы
              a.card-link(href="#") Подробнее
                i.arrow
        .swiper-pagination1
        