section.map 
  .wrapper 
    .map-content 
      .title
        span География проектов
      .map-block 
        .map-bg
          include maprussia
      .card-hide__swiper 
        .swiper-wrapper 
          .swiper-slide.card-hide-swiper
            span.t-card Энергоцентр “ЯПФ”
            ul 
              li Электрическая мощность 650 кВТ;
              li Тепловая мощность 2 МВт.
            span 08.2014г – 12.2014г 
          .swiper-slide.card-hide-swiper
            span.t-card Энергоцентр “ЯПФ”
            ul 
              li Электрическая мощность 650 кВТ;
              li Тепловая мощность 2 МВт.
            span 08.2014г – 12.2014г  
          .swiper-slide.card-hide-swiper
            span.t-card Энергоцентр “ЯПФ”
            ul 
              li Электрическая мощность 650 кВТ;
              li Тепловая мощность 2 МВт.
            span 08.2014г – 12.2014г  
          .swiper-slide.card-hide-swiper
            span.t-card Энергоцентр “ЯПФ”
            ul 
              li Электрическая мощность 650 кВТ;
              li Тепловая мощность 2 МВт.
            span 08.2014г – 12.2014г  
          .swiper-slide.card-hide-swiper
            span.t-card Энергоцентр “ЯПФ”
            ul 
              li Электрическая мощность 650 кВТ;
              li Тепловая мощность 2 МВт.
            span 08.2014г – 12.2014г  
          .swiper-slide.card-hide-swiper
            span.t-card Энергоцентр “ЯПФ”
            ul 
              li Электрическая мощность 650 кВТ;
              li Тепловая мощность 2 МВт.
            span 08.2014г – 12.2014г 
          .swiper-slide.card-hide-swiper
            span.t-card Энергоцентр “ЯПФ”
            ul 
              li Электрическая мощность 650 кВТ;
              li Тепловая мощность 2 МВт.
            span 08.2014г – 12.2014г  
          .swiper-slide.card-hide-swiper
            span.t-card Энергоцентр “ЯПФ”
            ul 
              li Электрическая мощность 650 кВТ;
              li Тепловая мощность 2 МВт.
            span 08.2014г – 12.2014г  
          .swiper-slide.card-hide-swiper
            span.t-card Энергоцентр “ЯПФ”
            ul 
              li Электрическая мощность 650 кВТ;
              li Тепловая мощность 2 МВт.
            span 08.2014г – 12.2014г  
      .map-swiper__container
        .swiper-button-prev
          img(src="./img/arrow-map.svg" alt="")
        .map-swiper.mySwiper2 
          .swiper-wrapper
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
        .swiper-button-next
          img(src="./img/arrow-map.svg" alt="")