section.news 
  .wrapper 
    .news-content   
      .title-block 
        .title      
          span Пресс - центр
        .all-news 
          a(href="#") 
            span.dn Все 
            span новости 
            i.arrow
      .news-cards.news-swiper
        .swiper-wrapper 
          .swiper-slide.news-card
            a(href="#").news-card__link
              img(src="https://dummyimage.com/310x216/000/fff", alt="")
              .news-card__title 
                span Чистой артике быть! В пос.Тикси дан старт Lorem ipsum dolo s laboriosam!dsadadsadasdsadsa dsa sad  dsa dsa dsa dasdasdasdasdasdasdasdsa
              .news-card__descr
                span С 23 по 27 августа п. Тикси прошло заседание проектного Lorem ipsum, dolor sit amet consectetur adipisicing elit.sdadadAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              .news-card__date  
                span.news-author DvEnergry
                span 05.09.2021
          .swiper-slide.news-card
            a(href="#").news-card__link
              img(src="https://dummyimage.com/310x216/000/fff", alt="")
              .news-card__title 
                span Чистой артике быть! В пос.Тикси дан старт Lorem ipsum dolo s laboriosam!
              .news-card__descr
                span С 23 по 27 августа п. Тикси прошло заседание проектного Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              .news-card__date  
                span.news-author DvEnergry
                span 05.09.2021
          .swiper-slide.news-card
            a(href="#").news-card__link
              img(src="https://dummyimage.com/310x216/000/fff", alt="")
              .news-card__title 
                span Чистой артике быть! В пос.Тикси дан старт Lorem ipsum dolo s laboriosam!
              .news-card__descr
                span С 23 по 27 августа п. Тикси прошло заседание проектного Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              .news-card__date  
                span.news-author DvEnergry
                span 05.09.2021
          .swiper-slide.news-card
            a(href="#").news-card__link
              img(src="https://dummyimage.com/310x216/000/fff", alt="")
              .news-card__title 
                span Чистой артике быть! В пос.Тикси дан старт Lorem ipsum dolo s laboriosam!
              .news-card__descr
                span С 23 по 27 августа п. Тикси прошло заседание проектного Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              .news-card__date  
                span.news-author DvEnergry
                span 05.09.2021
          