section.project-invest  
  .wrapper 
    include ../components/breadcrumbs
    .q-invest-wrapper 
      .q-invest-head 
        .title-border 
          span Проекты в инвестиционной стадии
        .q-invest-descr.pt-64
          span.green-text Инвестиционная стадия
          span  проекта включает введение инвестиций, совокупный размер которых в среднем стремится к показателям 75-90% от того объема вложений, который был намечен изначально. Именно этот этап считается основой успешного осуществления проекта.
      .q-invest-content.pt-100
        .q-invest-card__wrapper 
          a(href="http://localhost:3000/projects-investStadii-card.html").q-invest-card
            .q-card-title
              span Строительство энергоцентра в Нижнем Бестяхе.
            .q-card-descr   
              span Ж.д.ст. Н.Бестях ЭЦ РММ на базеCapstone C1000 УТ;
            .img-block    
              img(src="https://via.placeholder.com/610x426", alt="" loading="lazy")
          a(href="http://localhost:3000/projects-investStadii-card.html").q-invest-card
            .q-card-title
              span Строительство энергоцентра в Нижнем Бестяхе.
            .q-card-descr   
              span Ж.д.ст. Н.Бестях ЭЦ РММ на базеCapstone C1000 УТ;
            .img-block    
              img(src="https://via.placeholder.com/610x426", alt="" loading="lazy")
          a(href="#").q-invest-card
            .q-card-title
              span Строительство энергоцентра в Нижнем Бестяхе.
            .q-card-descr   
              span Ж.д.ст. Н.Бестях ЭЦ РММ на базеCapstone C1000 УТ;
            .img-block    
              img(src="https://via.placeholder.com/610x426", alt="" loading="lazy")
          a(href="#").q-invest-card
            .q-card-title
              span Строительство энергоцентра в Нижнем Бестяхе.
            .q-card-descr   
              span Ж.д.ст. Н.Бестях ЭЦ РММ на базеCapstone C1000 УТ;
            .img-block    
              img(src="https://via.placeholder.com/610x426", alt="" loading="lazy")