section.projects.section
  hr
  .wrapper
    nav.breadcrumbs 
      ul  
        li.breadcrumbs-item
          a(href="/") 
            i.icon-home 
        li 
          i.arrow-black
        li 
          a(href="javascript:void(0)") Проекты
    .q-projects-wrapper 
      .q-projects-head 
        .title-border
          span Проекты 
      .q-projects-content.pt-64
        .q-projects-top.descr
          .q-top-title.left
            span.green-text Индивидуальный подход 
            span к каждому клиенту
          .q-top-text.right
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum, rhoncus eu a eu ac at malesuada faucibus donec. Aliquet sed eget etiam eget arcu, tincidunt. Purus consequat id adipiscing lectus. Tincidunt egestas aliquam diam iaculis et blandit. Feugiat vel lobortis aliquam eget. Ut ipsum, vitae in sit. Commodo diam neque laoreet ac vel, enim. Amet risus gravida cras vestibulum aliquam. Odio libero a nec vitae id. Sed suspendisse non ornare integer sit posuere nunc. Turpis mus.
        .q-projects-cards.pt-100
          a(href="projects-investStadii.html").q-projects-card
            .img-block 
              img(src="./img/activity/project_1.png" alt="")
            .block
              .q-projects-card__title 
                span Проекты в инвестиционной стадии
              .q-projects-card__descr
                span Это промежуток времени от момента начала проектно-изыскательских работ до выхода предприятия на проектную мощность
          a(href="#").q-projects-card
            .img-block 
              img(src="./img/activity/project_2.png" alt="")
            .block
              .q-projects-card__title 
                span Проекты в стадии эксплуатации
              .q-projects-card__descr
                span Это промежуток времени между выходом предприятия на проектную мощность и завершением проекта, то есть ликвидацией предприятия.
          a(href="#").q-projects-card
            .img-block 
              img(src="./img/activity/project_3.png" alt="")
            .block
              .q-projects-card__title 
                span Реализованные проекты
              .q-projects-card__descr
                span Наши выполненные работы по строительству, проектированию, сервисному обслуживанию объектов.
        .q-map-section.pt-64
          //- include ../q-main/map


