section.project-invest 
  .wrapper 
    include ../components/breadcrumbs
    .q-invest-wrapper 
      .q-invest-head 
        .title-border 
          span Строительство энергоцентра в Нижнем Бестяхе.
        .q-invest-plan.pt-64
          .q-left   
            .q-left-item 
              span.gradient-text Период строительства
              span 03.16 – 07.16 год
            .q-left-item 
              span.gradient-text Статус работы
              span Проект выполнен
            .q-left-item 
              span.gradient-text Расположение
              span Железнодорожная станция Нижний Бестях.
            .q-left-item 
              span.gradient-text Мероприятие
              span Строительства ЭЦ
          .q-right 
            div 
              span.gradient-text О проекте
            div
              span Своевременная диагностика и регулярное техническое обслуживание позволяют не только повысить энергоэффективность и безопасность энергетического объекта, но и значительно продлить срок службы оборудования. Своим клиентам ДВ Энерджи готов предоставить профессиональное сопровождение и квалифицированную сервисную поддержку во время всего срока эксплуатации оборудования.
      .q-invest-content.pt-100  
        .q-invest-card__swiper
          .swiper-wrapper 
            .swiper-slide
              .img-block 
                img(src="./img/projects-card/1.png", alt="" loading="lazy")
            .swiper-slide
              .img-block 
                img(src="./img/projects-card/2.png", alt="" loading="lazy")
            .swiper-slide
              .img-block 
                img(src="./img/projects-card/3.png", alt="" loading="lazy")
            .swiper-slide
              .img-block 
                img(src="./img/projects-card/4.png", alt="" loading="lazy")
        .q-other-projects.pt-100 
          .title 
            span Другие проекты
          .q-other-projects__cards 
            a(href="#").q-p-card 
              .title-mini 
                span Строительство энергоцентра в Нижнем Бестяхе.
              .grey-text 
                span Ж.д.ст. Н.Бестях ЭЦ РММ на базеCapstone C1000 УТ;
              .img-block 
                img(src="./img/projects-card/other-projects/1.png", alt="" loading="lazy")
            a(href="#").q-p-card 
              .title-mini 
                span Строительство энергоцентра в Нижнем Бестяхе.
              .grey-text 
                span Ж.д.ст. Н.Бестях ЭЦ РММ на базеCapstone C1000 УТ;
              .img-block 
                img(src="./img/projects-card/other-projects/2.png", alt="" loading="lazy")
            a(href="#").q-p-card 
              .title-mini 
                span Строительство энергоцентра в Нижнем Бестяхе.
              .grey-text 
                span Ж.д.ст. Н.Бестях ЭЦ РММ на базеCapstone C1000 УТ;
              .img-block 
                img(src="./img/projects-card/other-projects/3.png", alt="" loading="lazy")