@import "media-mixin.scss";

.vacancys-jobs {
  height: 100%;
  width: 100%;
  background-color: #fbfefe;
}

.q-jobs-wrapper {
  padding-top: 40px;
  padding-bottom: 100px;
  .q-jobs-head {
    .title-border {
      @include xxs {
        width: 21rem;
      }
    }
  }
  @include m-670 {
    padding-bottom: 70px;
  }
}

.q-jobs-content {
  .q-jobs-card_wrapper {
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 20px 20px; 
    @include xm {
      grid-template-columns: 1fr; 
    }
    .q-jobs-card {
      background: #dbebee;
      border-radius: 6px;
      max-width: 640px;
      width: 100%;
      height: auto;
      padding: 32px;
      display: flex;
      flex-direction: column;
      @include xm {
        max-width: unset;
      }
      @include xxs {
        padding: 20px;
      }
    }
  }
}

.q-jobs-popup {
  padding: 30px;
  @include m-small {
    padding: 20px;
  }
  .q-popup-body {
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 660px;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    .q-popup-content {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;
      flex-shrink: 0;
      flex-grow: 0;

      width: 100%;
      height: 100%;
      max-width: 660px;
      overflow: visible;

      margin: auto;
      background-color: #fff;
      padding: 60px 40px 50px 40px;
      border-radius: 6px;
      @include xxs-big {
        padding: 60px 14px 50px 14px;
      }
      .q-popup-content__head {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.q-popup-content__body {
  .q-p-item {
    margin-top: 55px;
    .q-p-title {
      span {
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        color: #0b1600;
        @include xxs-big {
          font-size: 16px;
        }
      }
    }
    .q-p-list {
      counter-reset: li;

      li {
        position: relative;
        padding: 0px 0 0px 35px;
        margin-top: 24px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #7c7c87;
        @include xxs-big {
          font-size: 14px;
        }
        &::before {
          content: counter(li);
          counter-increment: li;
          position: absolute;
          left: 0;
          top: 2px;
          height: 22px;
          width: 22px;
          background-color: #b0d0d6;
          border-radius: 50%;
          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
        }
      }
    }

    .contacts {
      margin-top: 35px;
      flex-direction: column;
      gap: 20px;
      li {
        gap: 15px;
        a {
          color: #7c7c87;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
        }
      }
      .point {
        span {
          color: #7c7c87;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
        }
      }
    }
    .btn-more {
      margin-top: 55px;
      display: inline-block;
    }
  }
}
.q-popup-form {
  padding: 30px;
}

.q-p-form-content {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;

  width: 100%;
  height: 100%;
  max-width: 660px;
  overflow: visible;

  margin: auto;
  background-color: #fff;
  padding: 60px 40px 50px 40px;
  border-radius: 6px;

  .q-p-form-head {
    display: flex;
    flex-direction: column;
  }

  .q-p-form-body {
    width: 100%;
    height: auto;
    margin-top: 44px;
    form {
      width: 100%;
      height: auto;
      .q-form-row {
        display: flex;
        flex-direction: column;
        .input {
          margin-top: 24px;
          width: 100%;
          height: 57px;
          padding: 0 24px;
          border: 1px solid rgba(11, 22, 0, 0.1);
          border-radius: 6px;

          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: rgba(11, 22, 0, 0.863);
        }
        #rewview {
          margin-top: 24px;
          width: 100%;
          padding: 17px 24px;
          border: 1px solid rgba(11, 22, 0, 0.1);
          border-radius: 6px;
          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: rgba(11, 22, 0, 0.863);
        }
        .q-form__file-upload {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;
          margin-top: 24px;

          border: 1px solid rgba(11, 22, 0, 0.1);
          border-radius: 6px;
          max-width: 250px;
          width: 100%;
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          color: #0b1600;
          white-space: nowrap;
          &::before {
            content: "";
            position: absolute;
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.75 14.852a.75.75 0 01.75.75v3.75a1.5 1.5 0 001.5 1.5h18a1.5 1.5 0 001.5-1.5v-3.75a.75.75 0 111.5 0v3.75a3 3 0 01-3 3H3a3 3 0 01-3-3v-3.75a.75.75 0 01.75-.75z' fill='%230B1600'/%3E%3Cpath d='M11.469 17.781a.75.75 0 001.062 0l4.5-4.5a.75.75 0 00-1.062-1.062l-3.219 3.22V2.25a.75.75 0 10-1.5 0v13.19l-3.219-3.221a.751.751 0 00-1.062 1.062l4.5 4.5z' fill='%230B1600'/%3E%3C/svg%3E");
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: 0 0;
            opacity: 1;
            transform: translate3d(-200px, 0px, 0px);
          }
          label {
            cursor: pointer;
            padding: 12px 26px 12px 58px;
            z-index: 99;
          }
        }
        .q-form__privacy {
          max-width: 370px;
          width: 100%;
          height: auto;
          margin-top: 45px;

          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          span {
            color: #7c7c87;
          }
          a {
            color: black;
          }
        }
      }
    }
  }
}
