@import "media-mixin.scss";

.vacancys {
  height: 100%;
  width: 100%;
  background-color: #fbfefe;
}
.q-vacancys-wrapper {
  padding-top: 40px;
  padding-bottom: 100px;
  @include m-670 {
    padding-bottom: 70px;
  }
}

.q-vacancys-content {
  .q-vacancys-top {
    .q-top-text {
      p {
        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }
}

.q-vacancys-body {
  .q-vac-cards {
    padding-top: 48px;
    display: flex;
    align-items: center;
    gap: 20px;
    @include xl {
      display: none;
    }
    .q-vac-card {
      background: #dbebee;
      border-radius: 6px;
      padding: 40px 24px 24px 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 429px;
      .title-mini {
        margin-top: 20px;
      }
      p {
        margin-top: 10px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #7c7c87;
      }
      .btn-more {
      }
    }
  }
  .q-vac-cards__grid {
    display: none;

    @include xl {
      padding-top: 48px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px 20px;
      grid-template-areas:
        ". ."
        ". .";
      @include xm {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "."
          "."
          "."
          ".";
          @include xxxs {
            padding-top: 24px;
          }
      }
    }
    .q-vac-card {
      background: #dbebee;
      border-radius: 6px;
      padding: 32px;
      display: flex;
      @include xm {
        padding: 20px;
      }
      .img-block {
        margin-right: 30px;
        width: 55%;
        @include m-950 {
          margin-right: 10px;
          flex-shrink: 0.3;
          width: unset;
          @include xxxs {
            flex-shrink: .6;
          }
        }
      }
      .gr-card__descr {
        p {
          margin-top: 16px;
          font-size: 14px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          @include xxxs {
            margin-top: 9px;
          }
        }
      }
    }
  }
}

.q-descr {
  padding-top: 20px;
  span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #7c7c87;
    @include xxm {
      font-size: 16px;
    }
  }
}

.q-vacancys-swiper {
  padding-top: 40px;
  .q-vac-swiper__card {
    cursor: grab;
    width: 640px;
    height: auto;
    @include m-670 {
      width: 450px;
      @include m-small {
        width: 375px;
        @include xxs {
          width: 290px;
          @include xxxs {
            width: 272px;
          }
        }
      }
    }
    .img-block {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .q-vac-swiper__card-text {
      padding-top: 16px;
      span {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #7c7c87;
        @include xxm {
          font-size: 14px;
        }
      }
    }
  }
}
