@import "media-mixin.scss";

.mission-group {
  span {
    letter-spacing: normal;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #77b946;
    @include xxm {
      font-size: 14px;
    }
  }
}
.mission-descr {
  span {
    font-family: "Inter", sans-serif;
    letter-spacing: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #7c7c87;
    @include xxm {
      font-size: 16px;
    }
  }
}

.about-group {
  height: 100%;
  width: 100%;
  background-color: #fbfefe;
  border-top: 2px solid rgba(11, 22, 0, 0.1);
}

.about-content {
  width: 100%;
  height: auto;
  margin-top: 40px;
  @include m-small {
    margin-top: 32px;
  }
  .about-content__head {
    .title-border {
      max-width: 166px;
      width: 100%;
      @include xm {
        max-width: 150px;
      }
    }
  }
}

.about-content__body {
  .about-body__top {
    display: flex;
    flex-direction: column;
    padding: 64px 0 50px 0;
    @include l-1100 {
      padding: 48px 0 24px 0;
    }
    .mission-group {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
    }
    .mission-group__descr {
      display: flex;
      margin-top: 20px;
      @include xm {
        flex-direction: column;
      }
      .title-mini {
        max-width: 420px;
        min-width: 350px;
        width: 100%;
        margin-right: 40px;
        @include xxm {
          min-width: 310px;
        }
      }
      
    }
  }
  .about-body__middle {
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
    @include l-1100 {
      padding: 24px 0 50px 0;
      @include m-small {
        padding: 10px 0 20px;
      }
    }
    .img-block {
      img {
        max-height: 420px;
        // height: 100%;
        @include m-small {
          min-height: 170px;
        }
      }
    }
  }
}

.about-body__lower {
  padding: 50px 0 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include xm {
    flex-direction: column;
    align-items: unset;
    @include m-small {
      padding: 50px 0 70px 0;
    }
  }
  .left {
    max-width: 570px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
    @include m-small {
      gap: unset;
    }
    .title-mini {
      max-width: 420px;
      width: 100%;
      @include m-small {
        margin-top: 20px;
      }
    }
  }
  .img-block {
    @include xm {
      margin-top: 32px;
    }
    img {
      @include l-1100 {
        min-height: 275px;
        max-height: 285px;
        width: 100%;
        max-width: 420px;
        min-width: 420px;
        @include xm {
          max-width: unset;
          max-height: 300px;
          @include m-small {
            min-width: unset;
            max-height: 170px;
            @include xxs {
              min-height: unset;
            }
          }
        }
      }
    }
  }
}

.about-content__footer {
  .about-footer__title {
    span {
      color: #0b1600;
      font-weight: 700;
      font-size: 36px;
      line-height: 130%;
      letter-spacing: normal;
      @include xxm {
        font-size: 32px;
        @include m-small {
          font-size: 24px;
        }
      }
    }
  }

  .partners-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 48px 0 100px 0;
    @include m-small {
      margin: 32px 0 70px 0;
    }
    .partners-top {
      .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
        position: relative;
        .partners-item {
          width: 310px;
          height: 188px;
          background: #ffffff;
          border: 1px solid #d6e9ec;
          box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
          border-radius: 8px;
          
          @include l {
            padding: 20px;
          }
          @include xxm {
            height: 120px;
            padding: 20px;
            @include xm {
              width: 250px !important;
            }
          }
          a {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            img {
              display: block;
              max-width: 100%;
              max-height: 100%;
            }
            span {
              text-align: center;
              padding: 30px;
            }
          }
        }
      }
    }
  }
}
.mission-descr {
  @include xm {
    margin-top: 16px;
    @include m-small {
      
      span {
        font-size: 14px;
      }
    }
  }
}