@import "media-mixin.scss";

.leadership {
  height: 100%;
  width: 100%;
  background-color: #fbfefe;
  // border-top: 2px solid rgba(11, 22, 0, 0.1);
}

.q-leadership-wrapper {
  width: 100%;
  height: auto;
  padding-top: 40px;
  .q-leadership-head {
    .title-border {
    }
  }
}

.q-leadership-leaders {
  padding: 0 0 100px 0;
  .q-leaders-wrapper {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    @include l-1150 {
      grid-template-columns: 1fr 1fr;
    }
    @include xl-1300 {
    }
    
      @include m-670 {
        grid-template-columns: 1fr;
      }
    .q-leaders-card {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 100px;
      max-height: 580px;
      @include m-670 {
        margin-top: 70px;
        align-self: center;
        @include xxxs {
          max-height: 480px;
        }
      }
      .img-block {
        img {
          max-width: 380px;
          width: 100%;
          min-height: 366px;
          max-height: 370px;
          height: 100%;
          @include l-1150 {
            min-height: 440px;
            max-height: 440px;
            max-width: 100%;
            @include xxm {
              min-height: 375px;
              max-height: 375px;
            }
          }
          @include m-670  {
            max-height: 450px;

          }
          @include xxxs {
            max-height: 281px;
            min-height: 281px;
          }
        }
      }
      .q-card-name {
        margin-top: 16px;
        span {
          display: inline-block;
          max-width: 340px;
          text-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
          color: #0b1600;
          // font-family: "Poppins";
          font-weight: 700;
          font-size: 24px;
          line-height: 140%;
          text-transform: uppercase;
          @include xxm {
            font-size: 20px;
            @include m-950 {
              max-width: 300px;
              @include xxs {
                font-size: 18px;
              }
            }
          }
        }
      }
      .q-card-descr {
        margin-top: 16px;
        span {
          display: inline-block;
          max-width: 254px;
          text-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 130%;
          color: #6b9b3c;
          @include xxm {
            font-size: 16px;
          }
        }
      }
      .q-contacts {
        display: flex;
        flex-direction: column;
        gap: 13px;
        margin-top: 16px;
        li {
          display: flex;
          align-items: center;
          gap: 10px;
          i {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
          }
          a {
            color: #000000;
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
          }
        }
      }
    }
  }
}
