@import "media-mixin.scss";

.about {
  width: 100%;
  height: auto;
}


.about-card-first {
  background: url("../img/Слайдер.png") no-repeat;
  &::after {
    content: '';
    background: rgba(36, 36, 36, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.about-card-second {
  background: url("../img/Слайдер.png") no-repeat;
  &::after {
    content: '';
    background: rgba(36, 36, 36, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.about-card-third {
  background: url("../img/Слайдер.png") no-repeat;
  &::after {
    content: '';
    background: rgba(36, 36, 36, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.about-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 650px;
  width: 100%;
  cursor: grab;
  @include xxs {
    min-height: 440px;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}


.swiper-slide {
  .about-content {
    position: absolute;
    top: 250px;
    z-index: 10;
    @include m-small {
      left: 40px;
      @include xxs {
        left: unset;
        top: 133px;
        width: unset;
      }
    }
    .about-title {
      letter-spacing: 1.5px;
      font-weight: 700;
      font-size: 40px;
      line-height: 142%;
      color: #ffffff;
      border-bottom: 3px solid #77b946;
      padding-bottom: 8px;
      display: inline-block;
      width: auto;
      @include l {
        font-size: 36px;
        line-height: 120%;
        width: clamp(300px, 83.5vw, 750px);
        @include m-small {
          font-size: 24px;
          @include xxs {
            width: clamp(289px, 83.5vw, 750px);
          }
        }
      }
    }
    p {
      margin-top: 16px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      color: #ffffff;
      @include m-small {
        font-size: 20px;
        @include xxs {
          font-size: 18px;
        }
      }
    }
    a {
      display: inline-block;
      margin-top: 32px;
      background: transparent;
      border-style: unset;
      border: 2px solid #ffffff;
      border-radius: 6px;
      padding: 12px 27px;
      font-family: "Open sans", sans-serif;
      cursor: pointer;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: #ffffff;
      transition: all 0.4s ease;
      @include m-small {
        font-size: 14px;
        @include xxs {
          margin-top: 24px;
        }
      }
      &:hover {
        transform: scale(1.03);
        color: #ffffff;
      }
    }
  }
}

.swiper-pagination {
  width: 100%;
  span {
    width: 67px !important;
    height: 6px !important;
    background: #ffffff !important;
    border-radius: 3px !important;
    transform: unset !important;
    @include xxs {
      width: 36px !important;
      height: 4px !important;
    }
  }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 30px;
  left: -7px;
  @include xxs {
    bottom: 23px;
  }
}
