.activity {
  padding: 100px 0 26px 0;
  background: #FBFEFE;

}

.activity-content {
  display: flex;
  flex-direction: column;
  .title-block {
    max-width: 730px;
    width: 100%;
    .activity-descr {
      margin: 20px 0 40px 0;
      span {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #0B1600;
        letter-spacing: 0.5px;
      }
    }
  }
}

.activity-swiper {
  width: 100%;
  height: 100%;
  max-height: 440px;
  .activity-card {
    background: #ffffff;
    border: 1px solid #d6e9ec;
    box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
    border-radius: 12px;

    max-width: 271px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    img {
      width: 100%;
      height: 100%;
      max-height: 175px;
      object-fit: none;
      border-radius: 6px;
    }
    .card-title {
      display: inline-block;
      margin: 16px 0 10px 0;
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      color: #0B1600;
    }

    .card-p {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: #0B1600;
    }

    a {
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      color: #6B9B3C;
      margin-top: 30px;
    }
  }
}

.swiper-pagination1 {
  width: 40% !important;
  height: 8px !important;
  left: unset !important;
  right: 30% !important;
  bottom: -52px !important;
  top: unset !important;
  border-radius: 4px !important;
  background: #CADFE2!important;
  box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1) !important;
  span {
    background: #8bacb2 !important;
    box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1) !important;
    border-radius: 4px !important;
  }
}
