@import "media-mixin.scss";

.activity {
  padding: 100px 0 26px 0;
  background: #fbfefe;
}

.activity-content {
  display: flex;
  flex-direction: column;
  .title-block {
    max-width: 730px;
    width: 100%;
    .activity-descr {
      margin: 20px 0 40px 0;
      @include xxs-big {
        margin: 16px 0 32px 0;
      }
      span {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #0b1600;
        letter-spacing: 0.5px;
        &:first-child {
          @include xxs-big {
            display: none;
          }
        }
        &:last-child {
          display: none;
          @include xxs-big {
            display: inline-block;
          }
        }
        @include l {
          letter-spacing: 0;
        }
      }
    }
  }
}

.activity-swiper {
  width: 100%;
  height: 100%;
  max-height: 440px;
  .activity-card {
    background: #ffffff;
    border: 1px solid #d6e9ec;
    box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
    padding: 20px;
    border-radius: 6px;

    width: 271px !important;
    height: auto;
    max-width: 271px;
    display: flex;
    flex-direction: column;
    @include xxl {
      width: 250px !important;
    }
    .card-content {
      img {
        width: 100%;
        height: 100%;
        max-height: 175px;
        object-fit: none;
        border-radius: 6px;
        @include m-small {
          max-height: 116px;
        }
      }
      .card-title {
        display: inline-block;
        margin: 16px 0 10px 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: #0b1600;
      }
      .card-p {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #0b1600;
        @include xxs {
          letter-spacing: 0;
        }
      }
    }
    .card-link {
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      color: #6b9b3c;
      margin-top: 30px;
      @include l {
        display: none;
      }
    }
  }
}

.swiper-pagination1 {
  width: 40% !important;
  height: 8px !important;
  left: unset !important;
  right: 30% !important;
  bottom: -52px !important;
  top: unset !important;
  border-radius: 4px !important;
  background: #cadfe2 !important;
  box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1) !important;
  span {
    background: #8bacb2 !important;
    box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1) !important;
    border-radius: 4px !important;
  }
}
