@import "media-map.scss";

.map {
  padding: 46px 0 82px 0;
  background-color: #fbfefe;
  .map-content {
    .map-block {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .map-bg {
        max-height: 557px;
        min-height: 555px;
        height: 100%;
        background: url("../img/mother-russia.svg") no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        width: 100%;
        position: relative;
        @include m-1440 {
          width: 1000px;
          @include m-1100 {
            width: 860px;
            @include m-960 {
              width: 768px;
              @include m-940 {
                width: 666px;
                @include m-768 {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    .map-swiper__container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      margin-top: 55px;
      gap: 20px;
      .swiper-button-prev {
        position: unset;
        background: url('../img/');
        &::after {
          content: '';
        }
        img {
          width: 32px;
          height: 32px;
        }
      }
      .swiper-button-next {
        position: unset;
        &::after {
          content: '';
        }
        img {
          width: 32px;
          height: 32px;
          transform: rotate(180deg);
        }
      }
    }
  }
}

.dot1 {
  width: 22px;
  height: 22px;
  position: absolute;
  transform: translate3d(297px,278px,0);
  z-index: 1000;
  @include m-1440 {
    transform: translate3d(177px,274px,0);
    @include m-1100 {
      transform: translate3d(147px,274px,0);
      @include m-960 {
        transform: translate3d(130px,274px,0);
      }
    }
  }
  svg {
    width: 22px;
    height: 22px;
  }

}
.dot2 {
  width: 22px;
  height: 22px;
  position: absolute;
  transform: translate3d(846px,477px,0);
  z-index: 1000;
  @include m-1440 {
    transform: translate3d(681px,459px,0);
    @include m-1100 {
      transform: translate3d(583px,432px,0);
      @include m-960 {
        transform: translate3d(521px,417px,0)
      }
    }
  }
  svg {
    width: 22px;
    height: 22px;
  }
}
.dot3 {
  width: 22px;
  height: 22px;
  position: absolute;
  transform: translate3d(895px,320px,0);
  z-index: 1000;
  @include m-1440 {
    transform: translate3d(725px,320px,0);
    @include m-1100 {
      transform: translate3d(623px,308px,0);
      @include m-960 {
        transform: translate3d(557px,308px,0)
      }
    }
  }
  svg {
    width: 22px;
    height: 22px;
  }
}
.dot4 {
  width: 22px;
  height: 22px;
  position: absolute;
  transform: translate3d(858px,310px,0);
  z-index: 1000;
  @include m-1440 {
    transform: translate3d(694px,310px,0);
    @include m-1100 {
      transform: translate3d(591px,295px,0);
      @include m-960 {
        transform: translate3d(527px,295px,0)
      }
    }
  }
  svg {
    width: 22px;
    height: 22px;
  }
}
.dot5 {
  width: 22px;
  height: 22px;
  position: absolute;
  transform: translate3d(879px,288px,0);
  z-index: 1000;
  @include m-1440 {
    transform: translate3d(717px,288px,0);
    @include m-1100 {
      transform: translate3d(616px,281px,0);
      @include m-960 {
        transform: translate3d(550px,281px,0)
      }
    }
  }
  svg {
    width: 22px;
    height: 22px;
  }
}
.dot6 {
  width: 22px;
  height: 22px;
  position: absolute;
  transform: translate3d(815px,189px,0);
  z-index: 1000;
  @include m-1440 {
    transform: translate3d(652px,189px,0);
    @include m-1100 {
      transform: translate3d(562px,205px,0);
      @include m-960 {
        transform: translate3d(502px,214px,0)
      }
    }
  }
  svg {
    width: 22px;
    height: 22px;
  }
}
.dot7 {
  width: 22px;
  height: 22px;
  position: absolute;
  transform: translate3d(1092px,89px,0);
  z-index: 1000;
  @include m-1440 {
    transform: translate3d(906px,96px,0);
    @include m-1100 {
      transform: translate3d(780px,123px,0);
      @include m-960 {
        transform: translate3d(691px,137px,0)
      }
    }
  }
  svg {
    width: 22px;
    height: 22px;
  }
}
.dot8 {
  width: 22px;
  height: 22px;
  position: absolute;
  transform: translate3d(1071px,28px,0);
  z-index: 1000;
  @include m-1440 {
    transform: translate3d(889px,43px,0);
    @include m-1100 {
      transform: translate3d(758px,75px,0);
      @include m-960 {
        transform: translate3d(677px,97px,0)
      }
    }
  }
  svg {
    width: 22px;
    height: 22px;
  }
}
.dot9 {
  width: 22px;
  height: 22px;
  position: absolute;
  transform: translate3d(1063px,395px,0);
  z-index: 1000;
  @include m-1440 {
    transform: translate3d(886px,387px,0);
    @include m-1100 {
      transform: translate3d(757px,366px,0);
      @include m-960 {
        transform: translate3d(676px,359px,0)
      }
    }
  }
  svg {
    width: 22px;
    height: 22px;
  }
}

.hide {
  display: none;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  max-width: 240px;
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #d6e9ec;
  box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1);
  z-index: 2000;
  span {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #05111b;
    display: inline-block;
    margin-bottom: 15px;
    &:first-child {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: #0b1600;
    }
    &:last-child {
      margin-bottom: unset;
      color: #0b1600;
      font-weight: 600;
    }
  }
}

.info1 {
  transform: translate3d(319px,295px,0)
}

.info2 {
  transform: translate3d(869px,492px,0)
}

.info3 {
  transform: translate3d(914px,338px,0)
}

.info4 {
  transform: translate3d(876px,329px,0)
}

.info5 {
  transform: translate3d(899px,303px,0)
}

.info6 {
  transform: translate3d(835px,205px,0)
}

.info7 {
  transform: translate3d(1114px,108px,0)
}

.info8 {
  transform: translate3d(1090px,44px,0)
}

.info9 {
  transform: translate3d(1090px,395px,0)
}

.show {
  display: flex;
}

.map-swiper {
  overflow-x: hidden;
  width: 75%;
  min-height: 140px;
  max-height: 150px;
  height: 100%;
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  .map-slide__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #d6e9ec;
    max-width: 327px;
    min-width: 260px;
    width: 100%;
    max-height: 125px;
    height: 100%;

    transform: scale(0.88) !important;
    background: #fbfefe !important;
    opacity: 0.8 !important;
    span {
      color: #8bacb2;
      &:first-child {
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;
      }
      &:last-child {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
      }
    }
  }

  .swiper-slide-active {
    transform: scale(1) !important;
    background: #ffffff !important;
    opacity: 1 !important;
    box-shadow: 0px 4px 16px rgba(17, 79, 92, 0.1) !important;
    span {
      &:first-child {
        color: #6b9b3c !important;
        margin-bottom: 10px;
      }
      &:last-child {
        color: #0b1600 !important;
      }
    }
  }
}
