$white: white;

.news {
  background: #fbfefe;
  width: 100%;
  height: auto;
  letter-spacing: normal;
  .news-content {
    padding: 68px 0 60px 0;
    .title-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .all-news {
        a {
          color: #6b9b3c;
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          @include xxs-big { 
              text-transform: capitalize !important; 
          }
          .dn {
            @include xxs-big {
              display: none;
            }
          }
        }
      }
    }

    .news-cards {
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .swiper-wrapper {
        .news-card {
          // max-width: 310px;
          width: clamp(200px, 21.2vw, 310px);
          height: 100%;
          @include xxm {
            width: clamp(200px, 20.9vw, 310px);
            @include xm {
              width: 250px !important;
            }
          }
          .news-card__link {
            width: 100%;
            max-height: 375px;
            min-height: 370px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @media screen and (max-width: 1300px) {
              min-height: 340px;
              @include xl {
                min-height: 300px;
                @include xxm {
                  min-height: 290px;
                }
              }
            }
            img {
              width: 100%;
              height: auto;
              max-height: 216px;
              border: 1px solid #d6e9ec;
              border-radius: 6px;
              object-fit: cover;
            }

            .news-card__title {
              span {
                font-weight: 600;
                font-size: 18px;
                line-height: 140%;
                color: #05111b;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                height: 50px;
                width: 100%;
                @include l {
                  font-size: 16px;
                  line-height: 150%;
                  letter-spacing: normal;
                }
              }
            }

            .news-card__descr {
              span {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                color: #05111b;
              }
            }

            .news-card__date {
              display: flex;
              gap: 10px;
              span {
                font-weight: 600;
                font-size: 14px;
                line-height: 120%;
                color: #05111b;
                &:first-child {
                  padding-right: 10px;
                  border-right: 2px solid #05111b;
                }
                &:last-child {
                  color: #6b9b3c;
                }
              }
            }
          }
        }
      }
    }
  }
}
