section.activity  
  .wrapper 
    .activity-content
      .title-block 
        .title      
          span Виды деятельности
        .activity-descr 
          span Все наши деятельности, будь то строительство, теплоснабжение, производство направлены на выполнение высококачественного проекта в кратчайшие сроки.
      .activity-swiper.mySwiper1
        .swiper-wrapper 
          .swiper-slide.activity-card   
            img(src="../img/activity/сервисное.png", alt="")
            span.card-title Сервисное
            span.card-p Техническое и аварийно-диспетчерское обслужевание
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="../img/activity/консультации.png", alt="")
            span.card-title Консультации
            span.card-p Решим существующие проблемы фирмы
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="../img/activity/ивестиции.png", alt="")
            span.card-title Инвестиции
            span.card-p Концессионные соглашения
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="../img/activity/капстон.png", alt="")
            span.card-title Capstone
            span.card-p Газовые микротурбинные установки
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="../img/activity/проектирование.png", alt="")
            span.card-title Проектирование
            span.card-p Изыскательские и проектные работы
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="../img/activity/теплоснабжение.png", alt="")
            span.card-title Теплоснабжение
            span.card-p Эксплуатация котельных
            a(href="#") Подробнее
              i.arrow
          .swiper-slide.activity-card   
            img(src="../img/activity/ниокр.png", alt="")
            span.card-title НИОКР
            span.card-p Научно-исследовательские и опытно-конструкт-е работы
            a(href="#") Подробнее
              i.arrow
        .swiper-pagination1
        