footer.footer.arc-footer
  .wrapper  
    .footer-content 
      .footer-top__block
        .footer__list-items.arc-list-f
          .footer-logo 
            a(href="index.html")
              img(src="./img/logo-arctic.svg", alt="")
            p.arc-p Арктик Консалт оказывает качественные комплексные услуги по сопровождению проектов на основе государственно-частного партнерства
          .footer-nav__arc
            ul 
              li 
                a(href="#") О компании
              li 
                a(href="#") Услуги
              li 
                a(href="#") Опыт и клиенты
              li 
                a(href="#") Контакты
          .footer-contacts__arc
            ul.contacts-arctic
              li
                i.icon-mail-orange
                a(href="mailto: dsadsa@mai.ru").b.w stm@dvenergy.pro
              li
                i.icon-point-orange
                a(href="#")
                  span ​г.Москва, Киевское шоссе 22-й км.
                  span 
          .space
          .space
      hr
      .footer-lower__block
        .footer-date 
          span © 2022 Арктик Консалт
        .footer__social-icons
          ul  
            li.vk 
              a(href="#") 
                img(src="./img/icons/arc-vk.svg", alt="")
            li.odnoklassniki 
              a(href="#") 
                img(src="./img/icons/arc-odno.svg", alt="")
            li.telegram 
              a(href="#") 
                img(src="./img/icons/arc-telegram.svg", alt="")