footer.footer
  .wrapper  
    .footer-content 
      .footer-top__block
        .footer__list-items 
          .footer-logo 
            a(href="index.html")
              img(src="./img/Logo.svg", alt="")
            p Это сплоченная сильная команда. Мы создаем автономные электростанции, сопровождая и обслуживая их с гарантией
          .footer-nav
            ul 
              li 
                a(href="#") О группе компаний 
              li 
                a(href="#") Деятельность
              li 
                a(href="#") Пресс-центр
              li 
                a(href="#") Проекты
              li 
                a(href="#") Контакты
          .footer-contacts 
            include components/contacts
          .space
          .space
      hr
      .footer-lower__block
        .footer-date 
          span © 2022 Группа компаний Генерация - инвестиции в сферу ЖКХ и энергетики
        .footer__social-icons
          ul  
            li.vk 
              a(href="#") 
                img(src="./img/icons/vk-icon.svg", alt="")
            li.odnoklassniki 
              a(href="#") 
                img(src="./img/icons/odnoklassniki.svg", alt="")
            li.telegram 
              a(href="#") 
                img(src="./img/icons/telega.svg", alt="")
div.urls
  a(href="http://localhost:3000/index.html")  мэйн
  a(href="http://localhost:3000/about.html")  О группе компаний
  a(href="http://localhost:3000/about-vacancys.html") вакансии
  a(href="http://localhost:3000/about-vacancys-production.html") вакансии ппроизводства
  a(href="http://localhost:3000/about-history.html") ИСТОРИЯ
  a(href="http://localhost:3000/about-leadership.html") РУКОВОДИТЕЛИ
  a(href="http://localhost:3000/about-documents.html") документы
  a(href="http://localhost:3000/about-documents-files.html") документы внутри
  a(href="http://localhost:3000/contacts.html") КОНТАКТЫ
  a(href="http://localhost:3000/projects.html") ПРОЕКТЫ
  a(href="http://localhost:3000/projects-investStadii.html") ПРОЕКТЫ в инвест стадии
  a(href="http://localhost:3000/projects-investStadii-card.html") ПРОЕКТЫ в инвест стадии внутри
  a(href="http://localhost:3000/press-center.html") ПРесс центр мэйн
  a(href="http://localhost:3000/press-center-news-card.html") ПРесс центр карточка
  a(href="http://localhost:3000/about-structure.html") СТРУКТУРА КОМПАНИи
  