header.header
  .header-content
    .header-top
      nav.top-companys
        ul.top-menu
          li
            button Компании
              i.arrow-skinny
            ul.top-menu__submenu
              li
                a(href="#") Captone(ДВ Энерджи)
              li
                a(href="#") СПК Первомайский
              li
                a(href="#") ДВ Энерджи
              li
                a(href="#") Артик Консалт
      ul.contacts-arctic
        li
          i.icon-mail-orange
          a(href="mailto: dsadsa@mai.ru").b.w stm@dvenergy.pro
        li
          i.icon-point-orange
          a(href="#")
            span ​г.Москва, Киевское шоссе 22-й км.
            span 
    hr.hr
    .header-bottom 
      .header-logo
        a(href="index.html") 
          img.logo(src="./img/logo-arctic.svg" alt="")
      nav.header-nav
        .nav-items__wrapper
          ul.nav-items.dropdown.menu(data-dropdown-menu data-click-open='true' data-disable-hover='true' data-force-follow='false')
            li.nav-item
              a(href="#").nav-link О компании
            li.nav-item
              a(href="#").nav-link Услуги
                i.arrow-white
              ul.menu
                li.nav-item__child
                  a(href="#") Проекты в инвестиционной стадии
                li.nav-item__child
                  a(href="#") Проекты в стадии эксплуатации 
                li.nav-item__child
                  a(href="#") Реализованные проекты
                li.nav-item__child
                  a(href="#") Показ нижней карты
            li.nav-item
              a(href="#").nav-link Опыт и клиенты
            li.nav-item
              a(href="#").nav-link Контакты
        .nav-mob__wrapper 
          .nav-mob__top 
            nav.top-companys
              ul.top-menu
                li
                  button Компании
                    i.arrow-white
                  ul.top-menu__submenu
                    li
                      a(href="#") Captone(ДВ Энерджи)
                    li
                      a(href="#") СПК Первомайский
                    li
                      a(href="#") ДВ Энерджи
                    li
                      a(href="#") Артик Консалт
          ul.accordion.vertical.menu(data-accordion-menu data-multi-open='false' )
            li 
              a(href="#").accordion-link О компаний
            li
              a(href="#").accordion-link Услуги
                i.arrow-white
              ul.menu.vertical.nested.accordion-sub-menu
                li
                  a(href="#") Проекты в инвестиционной стадии
                li
                  a(href="#") Проекты в стадии эксплуатации 
                li
                  a(href="#") Реализованные проекты
                li
                  a(href="#") Показ нижней карты
            li
              a(href="#").accordion-link Опыт и клиенты
            li
              a(href="#").accordion-link Контакты
          .accord-contacts
            ul.contacts-arctic
              li
                i.icon-mail-orange
                a(href="mailto: dsadsa@mai.ru").b.w stm@dvenergy.pro
              li
                i.icon-point-orange
                a(href="#")
                  span ​г.Москва, Киевское шоссе 22-й км.
                  span ​г.Москва, Киевское шоссе 22-й км.
        a(href="javascript:void(0)").nav-search
          .icon-search
        svg.navTrigger.ham.hamRotate.ham4(viewBox='0 0 100 100' width='80')
          path.line.top(d='m 70,36 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20')
          path.line.middle(d='m 70,50 h -40')
          path.line.bottom(d='m 30,63 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20')
        svg.navTrigger2.ham1.hamRotate1.ham5(viewBox='0 0 100 100' width='80')
          path.line.top(d='m 70,36 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20')
          path.line.middle(d='m 70,50 h -40')
          path.line.bottom(d='m 30,63 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20')
