header.header
  .header-content
    .header-top
      nav.top-companys
        ul.top-menu(data-dropdown-menu data-click-open='true' data-disable-hover='true' data-force-follow='false').dropdown.menu
          li
            a(href="#").nav-link Компании
              i.arrow-skinny
            ul.top-menu__submenu.menu
              li.nav-item__child
                a(href="#") Captone(ДВ Энерджи)
              li.nav-item__child
                a(href="#") СПК Первомайский
              li.nav-item__child
                a(href="#") ДВ Энерджи
              li.nav-item__child
                a(href="arctic.html") Артик Консалт
      include components/contacts
    hr.hr
    .header-bottom 
      .header-logo
        a(href="index.html") 
          img.logo(src="./img/Logo.svg" alt="")
      nav.header-nav
        .nav-items__wrapper
          ul.nav-items.dropdown.menu(data-dropdown-menu data-click-open='true' data-disable-hover='true' data-force-follow='false')
            li.nav-item
              a(href="#").nav-link О группе компаний
                i.arrow-white
              ul.menu
                li.nav-item__child
                  a(href="#") О группе
                li.nav-item__child
                  a(href="#") История
                li.nav-item__child
                  a(href="#") Руководство компаний
                li.nav-item__child
                  a(href="#") Структурa группы компаний
                li.nav-item__child
                  a(href="#") Документы
                li.nav-item__child
                  a(href="#") Команда
                li.nav-item__child
                  a(href="#") Реквизиты
                li.nav-item__child
                  a(href="#") Кадровая политика 
                li.nav-item__child
                  a(href="#") Вакансии
            li.nav-item
              a(href="#").nav-link Проекты
                i.arrow-white
              ul.menu
                li.nav-item__child
                  a(href="about.html") Проекты в инвестиционной стадии
                li.nav-item__child
                  a(href="about-history.html") Проекты в стадии эксплуатации 
                li.nav-item__child
                  a(href="about-history.html") Реализованные проекты
                li.nav-item__child
                  a(href="about-history.html") Показ нижней карты
            li.nav-item
              a(href="#").nav-link Деятельность 
                i.arrow-white
              ul.menu
                li.nav-item__child
                  a(href="about.html") Инвестиционная деятельность
                li.nav-item__child
                  a(href="about-history.html") Capstone
                li.nav-item__child.sub 
                  a(href="about-history.html") Теплоснабжение
                li.nav-item__child.sub 
                  a(href="about-history.html") Проектирование и строительство энергоцентров
                li.nav-item__child.sub 
                  a(href="about-history.html") Техническое и аварийно-диспетчерское обслуживание
                li.nav-item__child.sub 
                  a(href="about-history.html") Консалтинговые услуги
                li.nav-item__child.sub 
                  a(href="about-history.html") НИОКР
            li.nav-item
              a(href="#").nav-link Пресс-центр
                i.arrow-white
              ul.menu
                li.nav-item__child
                  a(href="about.html") Группа компаний Генерации в СМИ
                li.nav-item__child
                  a(href="about-history.html") Новости группы компаний
                li.nav-item__child
                  a(href="about-history.html") Контакты для прессы
            li.nav-item 
              a(href="contacts.html").nav-link Контакты
        .nav-mob__wrapper 
          .nav-mob__top 
            nav.top-companys
              ul.top-menu(data-dropdown-menu data-click-open='true' data-disable-hover='true' data-force-follow='false').dropdown.menu
                li
                  a(href="#").nav-link Компании
                    i.arrow-skinny
                  ul.top-menu__submenu.menu
                    li.nav-item__child
                      a(href="#") Captone(ДВ Энерджи)
                    li.nav-item__child
                      a(href="#") СПК Первомайский
                    li.nav-item__child
                      a(href="#") ДВ Энерджи
                    li.nav-item__child
                      a(href="arctic.html") Артик Консалт
          ul.accordion.vertical.menu(data-accordion-menu data-multi-open='false' )
            li 
              a(href="#").accordion-link О группе компаний
                i.arrow-white 
              ul.menu.vertical.nested.accordion-sub-menu
                li 
                  a(href="#") О группе
                li 
                  a(href="#") История
                li 
                  a(href="#") Руководство компаний
                li 
                  a(href="#") Структурa группы компаний
                li 
                  a(href="#") Документы
                li 
                  a(href="#") Команда
                li 
                  a(href="#") Реквизиты
                li 
                  a(href="#") Кадровая политика
                li 
                  a(href="#") Вакансии
            li
              a(href="#").accordion-link Проекты
                i.arrow-white
              ul.menu.vertical.nested.accordion-sub-menu
                li
                  a(href="about.html") Проекты в инвестиционной стадии
                li
                  a(href="about-history.html") Проекты в стадии эксплуатации 
                li
                  a(href="about-history.html") Реализованные проекты
                li
                  a(href="about-history.html") Показ нижней карты
            li
              a(href="#").accordion-link Деятельность
                i.arrow-white
              ul.menu.vertical.nested.accordion-sub-menu
                li
                  a(href="about.html") Инвестиционная деятельность
                li
                  a(href="about-history.html") Capstone
                li
                  a(href="about-history.html") Теплоснабжение
                li
                  a(href="#") Проектирование и строительство энергоцентров
                li
                  a(href="#") Техническое и аварийно-диспетчерское обслуживание
                li
                  a(href="#") Консалтинговые услуги
                li
                  a(href="#") НИОКР
            li
              a(href="#").accordion-link Пресс-центр
                i.arrow-white
              ul.menu.vertical.nested.accordion-sub-menu
                li
                  a(href="about.html") Группа компаний Генерации в СМИ
                li
                  a(href="about-history.html") Новости группы компаний
                li
                  a(href="about-history.html") Контакты для прессы
            li 
              a(href="#").accordion-link Контакты
          .accord-contacts
            include components/contacts
        a(href="javascript:void(0)").nav-search
          .icon-search
        svg.navTrigger.ham.hamRotate.ham4(viewBox='0 0 100 100' width='80')
          path.line.top(d='m 70,36 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20')
          path.line.middle(d='m 70,50 h -40')
          path.line.bottom(d='m 30,63 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20')
        svg.navTrigger2.ham1.hamRotate1.ham5(viewBox='0 0 100 100' width='80')
          path.line.top(d='m 70,36 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20')
          path.line.middle(d='m 70,50 h -40')
          path.line.bottom(d='m 30,63 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20')
  .search-overlay 
    span.closebtn-search
    .search-overlay__content 
      form(action="")
        input(type="text" placeholder='Поиск по сайту').search-bar-input
        span.arrow-search 
        span.close-btn-search