section.section.capstone-item 
  hr
  .wrapper 
    nav.breadcrumbs 
      ul  
        li.breadcrumbs-item
          a(href="/") 
            i.icon-home 
        li 
          i.arrow-skinny
        li 
          a(href="#") Оборудование
        li 
          i.arrow-skinny
        li 
          a(href="javascript:void(0)") Capstone C65
    .content 
      .content__head 
        .title-border
          span Capstone C65
      .content__body.capstone-item__body.pt-64
        .left-body 
          .top-descr 
            .title-block 
              span Описание
            ul.descr-list__top 
              li Всего одна движущаяся деталь.
                span Микротурбинный двигатель состоит всего из одной движущейся детали — вращающегося вала, на котором соосно расположены электрический генератор, компрессор и непосредственно турбина. В установке не используются редукторы или другие механические приводы, малое количество сопрягаемых частей снижает до минимума риск повреждения деталей турбогенератора и обеспечивает высоконадежную и безопасную работу микротурбинной установки.
              li Уникальная компоновка основных узлов агрегата.
                span В корпусе размещены компрессор, камера сгорания, рекуператор, непосредственно турбина и постоянные магниты электрогенератора. Генератор охлаждается набегающим потоком воздуха, что исключает необходимость организации системы жидкостного охлаждения и повышает надежность и экономичность оборудования в процессе эксплуатации. Благодаря использованию воздухо-воздушного теплообменника (рекуператора) в конструкции микротурбин, они имеют высокий для газотурбинных электростанций электрический КПД — до 35%.
              li Отсутствие смазочных материалов.
                span Благодаря особой аэродинамической форме уникального инновационного подшипника при его вращении образуется воздушная плёнка, которая отделяет вал от ленты подшипника и защищает его от износа. Эта инновация дает возможность отказаться от использования масла, высокий расход которого у других видов оборудования составляет значительную часть эксплуатационных затрат.
          .lower-descr.pt-64
            ul.descr-list__lower 
              li Электрическая мощность
                span 65 кВт
              li КПД по электричеству
                span 25 (+-2) %
              li Общий КПД электростанции
                span 80 - 90 %
              li Диапозон рабочего напряжения
                span 380 - 480 В
              li Частота тока, Гц
                span 50 Гц
              li Максимальный ток в фазе
                span 65 кВт
              li Вес
                span 65 кВт
              li Длина х Ширина х Высота
                span 1956 мм х 762 мм х 2110 мм
              li Вид топлива
                span Газ, керосин, дизель
              li Рабочее давления доплива на входе
                span Низкое давление: 0,02 - 1 Высокое давление: 5,2
              li Расход топлива при номинальной нагрузке
                span 23 нм3
              li Максимальная tº выхлопных газов
                span 65 кВт
              li Выход тепловой энергии
                span 65 кВт
              li Выброс вредных веществ при 15% O2
                span 65 кВт
              li Уровень шума на расстоянии 10 метров
                span 65 кВт
              li Скорость вращения турбины, об./мин.
                span 65 кВт
              li Срок службы до капитального ремонта
                span 60 000 часов
        .right-body
          .capstone-swiper-wrap
            .capstone-item-swiper-top.swiper
              .swiper-wrapper 
                .swiper-slide 
                  img(src="./img/capstone/capstone-item/1.png", alt="")
                .swiper-slide 
                  img(src="./img/capstone/capstone-item/1.png", alt="")
                .swiper-slide 
                  img(src="./img/capstone/capstone-item/1.png", alt="")
            .capstone-item-swiper-lower.swiper
              .swiper-wrapper 
                .swiper-slide 
                  img(src="./img/capstone/capstone-item/1.png", alt="")
                .swiper-slide 
                  img(src="./img/capstone/capstone-item/1.png", alt="")
                .swiper-slide 
                  img(src="./img/capstone/capstone-item/1.png", alt="")