section.section.capstone-item 
  hr
  .wrapper 
    nav.breadcrumbs 
      ul  
        li.breadcrumbs-item
          a(href="/") 
            i.icon-home 
        li 
          i.arrow-black
        li Оборудование
        li 
          i.arrow-black
        li 
          a(href="javascript:void(0)") Capstone C65
    .content 
      .content__head 
        .title-border
          span Capstone C65
      .content__body
        .left-body 
          
