section.about
  .swiper.arctic-swiper
    .swiper-wrapper 
      .swiper-slide.about-card.capstone-about
        .wrapper
          .about-content-card
            h1.about-title.b-border Микротурбины Capstone
            p это современное оборудование сочетающее в себе отличные технические и эксплуатационные характеристики.
      .swiper-slide.about-card.capstone-about
        .wrapper
          .about-content-card
            h1.about-title.b-border Микротурбины Capstone
            p это современное оборудование сочетающее в себе отличные технические и эксплуатационные характеристики.
      .swiper-slide.about-card.capstone-about
        .wrapper
          .about-content-card
            h1.about-title.b-border Микротурбины Capstone
            p это современное оборудование сочетающее в себе отличные технические и эксплуатационные характеристики.
    .swiper-pagination
section.activity  
  .wrapper 
    .activity-content
      .title-block 
        .title      
          span Модельный ряд
        .activity-descr 
          span Capstone Turbine Corporation (Кэпстон) — ведущий мировой производитель экологически чистых микротурбинных энергети­ческих систем. Ниже представлены модельный ряд.
          span Capstone Turbine Corporation (Кэпстон) — ведущий мировой производитель экологически чистых микротурбинных энергети­ческих систем. Ниже представлены модельный ряд.
      .activity-swiper.mySwiper1
        .swiper-wrapper 
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/capstone/1.png" alt="")
              span.card-title Capstone C30
              p.card-p Электричская мощность
              span 30 кВт
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/capstone/2.png" alt="")
              span.card-title Capstone C65
              p.card-p Электричская мощность
              span 65 кВт
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/capstone/1.png" alt="")
              span.card-title ТЕСТ
              p.card-p Электричская мощность
              span ТЕСТ
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/capstone/1.png" alt="")
              span.card-title Capstone C65
              p.card-p Электричская мощность
              span ТЕСТ
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card 
            a.card-content(href="#")  
              img(src="./img/capstone/1.png" alt="")
              span.card-title Capstone C65
              p.card-p Электричская мощность
              span ТЕСТ
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/capstone/1.png" alt="")
              span.card-title Capstone C65
              p.card-p Эксплуатация котельных
              span ТЕСТ
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/capstone/1.png" alt="")
              span.card-title Capstone C65
              p.card-p Электричская мощность
              span ТЕСТ
              a.card-link(href="#") Подробнее
                i.arrow
        .swiper-pagination1
section.about-card-arc.capstone-about-section
  .wrapper 
    .about-card-content
      .left 
        .title-blue 
          span О компании
        .arctic-text.capstone-text
          span На сегодняшний день Capstone разрабатывает и производит микротурбинные двигатели в диапазоне мощностей 30 кВт – 1 МВт, которые при объединении в кластеры способны удовлетворить потребность в энергии до 10–20 и 50–100 мегаватт. Более 4000 микротурбинных устано­вок, эксплуа­тирующихся по всему миру для генерации энергии, в совокупности наработали более 20 миллионов операционных часов.
      .right 
        .img-block 
          img(src="./img/capstone/about-pick.png" alt="" )
section.capstone-swiper__cards.pt-100 
  .wrapper 
    .capstone-swiper-content 
      .about-content__footer 
        .title-block 
          .title-green
            span Сферы применений
          .title-descr 
            span Микротурбины Capstone можно применять в любых отраслях, в любых видах промышленного производства, сельского хозяйства и на предприятиях любых видов деятельности, а также в сфере ЖКХ, где есть потребность в качественном и надежном электроснабжении.
        .partners-container
          .partners-top.partners--top
            .swiper-wrapper 
              .swiper-slide.partners-item 
                a(href="1")
                  img(src="./img/partners/rusgidro.png" alt="")
              .swiper-slide.partners-item 
                a(href="2")
                  img(src="./img/partners/krdva.png" alt="")
              .swiper-slide.partners-item 
                a(href="3")
                  img(src="./img/partners/gerb.png" alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/partners/rtk.png" alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/partners/ag.png" alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/partners/alrosa.png" alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/partners/vodokanal.png" alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/partners/sakhaen.png" alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/partners/rusgidro.png" alt="")
          .partners-top.partners--lower
            .swiper-wrapper 
              .swiper-slide.partners-item 
                a(href="1")
                  img(src="./img/partners/rusgidro.png" alt="")
              .swiper-slide.partners-item 
                a(href="2")
                  img(src="./img/partners/krdva.png" alt="")
              .swiper-slide.partners-item 
                a(href="3")
                  img(src="./img/partners/gerb.png" alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/partners/rtk.png" alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/partners/ag.png" alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/partners/alrosa.png" alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/partners/vodokanal.png" alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/partners/sakhaen.png" alt="")
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/partners/rusgidro.png" alt="")