section.about.capstone-about
  .swiper.arctic-swiper
    .swiper-wrapper 
      .swiper-slide.about-card.capstone-about
        .wrapper
          .about-content-card
            h1.about-title.b-border Микротурбины Capstone
            p это современное оборудование сочетающее в себе отличные технические и эксплуатационные характеристики.
      .swiper-slide.about-card.capstone-about
        .wrapper
          .about-content-card
            h1.about-title.b-border Микротурбины Capstone
            p это современное оборудование сочетающее в себе отличные технические и эксплуатационные характеристики.
      .swiper-slide.about-card.capstone-about
        .wrapper
          .about-content-card
            h1.about-title.b-border Микротурбины Capstone
            p это современное оборудование сочетающее в себе отличные технические и эксплуатационные характеристики.
    .swiper-pagination
section.activity.capstone-activity
  .wrapper 
    .activity-content
      .title-block 
        .title      
          span Модельный ряд
        .activity-descr 
          span Capstone Turbine Corporation (Кэпстон) — ведущий мировой производитель экологически чистых микротурбинных энергети­ческих систем. Ниже представлены модельный ряд.
          span Capstone Turbine Corporation (Кэпстон) — ведущий мировой производитель экологически чистых микротурбинных энергети­ческих систем. Ниже представлены модельный ряд.
      .activity-swiper.mySwiper1
        .swiper-wrapper 
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/capstone/1.png" alt="")
              span.card-title Capstone C30
              p.card-p Электричская мощность
              span 30 кВт
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/capstone/2.png" alt="")
              span.card-title Capstone C65
              p.card-p Электричская мощность
              span 65 кВт
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/capstone/1.png" alt="")
              span.card-title ТЕСТ
              p.card-p Электричская мощность
              span ТЕСТ
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/capstone/1.png" alt="")
              span.card-title Capstone C65
              p.card-p Электричская мощность
              span ТЕСТ
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card 
            a.card-content(href="#")  
              img(src="./img/capstone/1.png" alt="")
              span.card-title Capstone C65
              p.card-p Электричская мощность
              span ТЕСТ
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/capstone/1.png" alt="")
              span.card-title Capstone C65
              p.card-p Эксплуатация котельных
              span ТЕСТ
              a.card-link(href="#") Подробнее
                i.arrow
          .swiper-slide.activity-card   
            a.card-content(href="#")
              img(src="./img/capstone/1.png" alt="")
              span.card-title Capstone C65
              p.card-p Электричская мощность
              span ТЕСТ
              a.card-link(href="#") Подробнее
                i.arrow
        .swiper-pagination1
section.about-card-arc.capstone-about-section
  .wrapper 
    .about-card-content
      .left 
        .title-blue 
          span О компании
        .arctic-text.capstone-text
          span На сегодняшний день Capstone разрабатывает и производит микротурбинные двигатели в диапазоне мощностей 30 кВт – 1 МВт, которые при объединении в кластеры способны удовлетворить потребность в энергии до 10–20 и 50–100 мегаватт. Более 4000 микротурбинных устано­вок, эксплуа­тирующихся по всему миру для генерации энергии, в совокупности наработали более 20 миллионов операционных часов.
      .right 
        .img-block 
          img(src="./img/capstone/about-pick.png" alt="" )
section.capstone-swiper__cards.pt-100 
  .wrapper 
    .capstone-swiper-content 
      .about-content__footer 
        .title-block 
          .title-green
            span Сферы применений
          .title-descr 
            span Микротурбины Capstone можно применять в любых отраслях, в любых видах промышленного производства, сельского хозяйства и на предприятиях любых видов деятельности, а также в сфере ЖКХ, где есть потребность в качественном и надежном электроснабжении.
        .partners-container
          .partners-top.partners--top
            .swiper-wrapper 
              .swiper-slide.partners-item 
                a(href="1")
                  img(src="./img/capstone/swiper-cards/dobuv.svg" alt="")
                  span TEST TEXT
              .swiper-slide.partners-item 
                a(href="2")
                  img(src="./img/capstone/swiper-cards/promush.svg" alt="")
                  span TEST TEXT
              .swiper-slide.partners-item 
                a(href="3")
                  img(src="./img/capstone/swiper-cards/build.svg" alt="")
                  span TEST TEXT
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/capstone/swiper-cards/flower.svg" alt="")
                  span TEST TEXT
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/capstone/swiper-cards/flower.svg" alt="")
                  span TEST TEXT
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/capstone/swiper-cards/flower.svg" alt="")
                  span TEST TEXT
          .partners-top.partners--lower
            .swiper-wrapper 
              .swiper-slide.partners-item 
                a(href="1")
                  img(src="./img/capstone/swiper-cards/comunal.svg" alt="")
                  span TEST TEXT
              .swiper-slide.partners-item 
                a(href="2")
                  img(src="./img/capstone/swiper-cards/energo.svg" alt="")
                  span TEST TEXT
              .swiper-slide.partners-item 
                a(href="3")
                  img(src="./img/capstone/swiper-cards/medicine.svg" alt="")
                  span TEST TEXT
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/capstone/swiper-cards/bank.svg" alt="")
                  span TEST TEXT
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/capstone/swiper-cards/bank.svg" alt="")
                  span TEST TEXT
              .swiper-slide.partners-item 
                a(href="#")
                  img(src="./img/capstone/swiper-cards/bank.svg" alt="")
                  span TEST TEXT
section.slider-casptone 
  .wrapper 
    .content 
      .left-slide 
        .card-with-pagination
          .text-block 
            span.green-text Преимущества
            span автономных электростанций
          p Микротурбинные системы имеют множество преимуществ перед автономными электростанциями
          .block
            .swiper-button-prev
            .swiper-button-next
      .right-slide
        .slider-capstone
          .swiper-wrapper 
            .swiper-slide.slide-card 
              .img-block 
                img(src="./img/capstone/eco.png", alt="")
              span.card-title Высокая экономическая эффективность
              p.card-p Окупаемость инвестиций в среднем 2–4 года, доходность проектов свыше 30%, себестоимость выработки электроэнергии в 2 раза ниже сетевых тарифов.
            .swiper-slide.slide-card 
              .img-block 
                img(src="./img/capstone/eco.png", alt="")
              span.card-title Высокая экономическая эффективность
              p.card-p Окупаемость инвестиций в среднем 2–4 года, доходность проектов свыше 30%, себестоимость выработки электроэнергии в 2 раза ниже сетевых тарифов.
            .swiper-slide.slide-card 
              .img-block 
                img(src="./img/capstone/eco.png", alt="")
              span.card-title Высокая экономическая эффективность
              p.card-p Окупаемость инвестиций в среднем 2–4 года, доходность проектов свыше 30%, себестоимость выработки электроэнергии в 2 раза ниже сетевых тарифов.
            .swiper-slide.slide-card 
              .img-block 
                img(src="./img/capstone/eco.png", alt="")
              span.card-title Высокая экономическая эффективность
              p.card-p Окупаемость инвестиций в среднем 2–4 года, доходность проектов свыше 30%, себестоимость выработки электроэнергии в 2 раза ниже сетевых тарифов.
            .swiper-slide.slide-card 
              .img-block 
                img(src="./img/capstone/eco.png", alt="")
              span.card-title Высокая экономическая эффективность
              p.card-p Окупаемость инвестиций в среднем 2–4 года, доходность проектов свыше 30%, себестоимость выработки электроэнергии в 2 раза ниже сетевых тарифов.
            .swiper-slide.slide-card 
              .img-block 
                img(src="./img/capstone/eco.png", alt="")
              span.card-title Высокая экономическая эффективность
              p.card-p Окупаемость инвестиций в среднем 2–4 года, доходность проектов свыше 30%, себестоимость выработки электроэнергии в 2 раза ниже сетевых тарифов.
        .capstone-pag
section.map.map-capstone
  .wrapper 
    .map-content 
      .title
        span География проектов
      .map-block 
        .map-bg
      .map-swiper__container
        .swiper-button-prev
          img(src="./img/arrow-map.svg", alt="")
        .map-swiper.mySwiper2 
          .swiper-wrapper
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
            .swiper-slide.map-slide__card
              span 7 999 999
              span Общий объем инвестиций 
        .swiper-button-next
          img(src="./img/arrow-map.svg", alt="")
section.contacts-page.capstone-contacts
  .wrapper 
    .q-contacts-wrapper 
      .q-contacts-head
        .title
          span Контакты
      .q-contacts-body
        .q-left 
          .q-contacts-cards__left
            .q-card-item 
              .q-card-title 
                span Адрес
              .q-card-adress  
                span 677010, г. Якутск,
                span мкр. Птицефабрика, д. 1/2
            .q-card-item 
              .q-card-title 
                span Телефоны
              .q-card-adress.phone-div 
                span +7 (4112) 31-84-40
                span +7 (4112) 75-00-01
          .q-contacts-cards__right
            .q-card-item 
              .q-card-title 
                span Режим работы
              .q-card-adress  
                span 09:00 - 18:00 
                span Понедельник - Пятница
            .q-card-item 
              .q-card-title 
                span E-mail
              .q-card-adress  
                span info@dvenergy.pro
        .q-right.capstone-hire-me
          .hire-me
            form(action="") 
              .hire-me__title 
                span Оставить заявку
              ul.hire-me__items 
                li 
                  input(type="text" placeholder='ФИО*')
                li 
                  input(type="text" placeholder='Контактные данные*')
                li 
                  input(type="text" placeholder='Оставить сообщение*')
              button Отправить